<script type="text/ng-template" id="title">
  <h2 class="md-display-2 title" ng-bind-html="content_value(line)"></h2>
</script>

<script type="text/ng-template" id="note">
  <p ng-bind-html="content_value(line)" class='md-subhead'></p>
</script>

<script type="text/ng-template" id="select">
  <div class='input-box' layout='row'>
    <div flex>
      <span class='md-subhead'>{{content_value(line).label}}</span><br>
      <md-input-container class="select-container">
        <md-select ng-model="choice.value" ng-init="choice.value = content_value(line).choices[0]">
          <md-option ng-repeat="choice in content_value(line).choices" ng-value="choice">
            {{choice}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
</script>

<script type="text/ng-template" id="input">
  <!-- <span class='md-subhead bold'>Input Data</span><br> -->
  <div class='input-box' layout='row'>
    <div><ng-md-icon icon="create" size="22" aria-label="Input" style="fill: #444" class="input-icon"></ng-md-icon></div>
    <md-input-container class="input-container">
      <div class="padding">
        <label>{{content_value(line).label}}</label>
        <input class="md-subhead" ng-model="content.value">
      </div>
    </md-input-container>
  </div>

</script>

<script type="text/ng-template" id="bullet">
  <span class='md-subhead'>&#9675; <span ng-bind-html="content_value(line)"></span></span>
</script>

<script type="text/ng-template" id="warning">
  <p ng-bind-html="content_value(line)" class='md-subhead technician-warning'></p>
</script>

<script type="text/ng-template" id="check">
    <md-checkbox aria-label="Checkbox" clas="checkbox">
      <span class="md-subhead" ng-bind-html="content_value(line)"></span>
    </md-checkbox>
</script>

<script type="text/ng-template" id="timer">
  <div ng-class="blink ? 'technician-timer technician-timer-blink' : 'technician-timer'"
       ng-controller="timerCtrl"
       ng-init="init(content_value(line))"
       layout=row>
    <div layout="column" class="timer-part">
      <span class="name">Hours</span>
      <input ng-model="hours" ng-blur="set_target()" type=number ng-disabled="running">
    </div>
    <div layout="column" class="timer-part">
      <span class="name">Minutes</span>
      <input ng-model="minutes" ng-blur="set_target()" type=number ng-disabled="running">
    </div>
    <div layout="column" class="timer-part">
      <span class="name">Seconds</span>
      <input ng-model="seconds" ng-blur="set_target()" type=number ng-disabled="running">
    </div>
    <div layout="column" class="timer-part">
      <span class="name">&nbsp;</span>
      <div ng-click="toggle()" class='no-highlight start-stop'>
        <ng-md-icon ng-if="!running" icon="play_arrow" size="52" aria-label="Start Timer" style="fill: #444"></ng-md-icon>
        <ng-md-icon ng-if="running" icon="pause" size="52" aria-label="Stop Timer" style="fill: #444"></ng-md-icon>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="upload">

  <div class='content upload-button-container'>

    <ul>
      <li ng-repeat="file in uploads[content_value(line).var]">
        <b>{{file.name}}</b>: {{file.status}}
      </li>
    </ul>

    <form id="upload-form-{{content_value(line).var}}" action="/krill/upload" method="post">
      <input id="upload-{{content_value(line).var}}" 
             type="file"
             name="files[]"
             custom-on-change="complete_upload"
             multiple></input>
      <input type="submit">
      <input id="authenticity_token" name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>" />
    </form>

    <md-button
      class="md-raised md-primary" 
      ng-click="start_upload(content_value(line).var)">Upload File(s)
    </md-button>

  </div>

</script>

<script type="text/ng-template" id="separator">
  <md-divider></md-divider>
</script>

<script type="text/ng-template" id="take">
  <div class='md-subhead content content-take'>
    Item {{content_value(line).id}} at {{content_value(line).location}}
  </div>
</script>

<script type="text/ng-template" id="item">
  <div class='md-subhead content content-item'>
    Item {{content_value(line).id}} at {{content_value(line).location}}
  </div>
</script>

<script type="text/ng-template" id="table">
    <table>
      <tr ng-repeat="row in content_value(line)">
        <td ng-repeat="cell in row track by $index"
            ng-class="table_class(cell)">
          <span ng-if="cell.type" style="color: #aaa;">&gt;</span>
          <input ng-if="cell.type" type="{{cell.type}}" value="{{cell.default}}"
                 data-opid="{{cell.operation.id}}" class="krill-table-input">
          <span ng-if="!cell.type && cell.content == undefined">{{cell}}</span>
          <span ng-if="!cell.type && cell.content != undefined">{{cell.content}}</span>
        </td>
      </tr>
    </table>
</script>

<script type="text/ng-template" id="transfer">
  <div class='content content-transfer'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="log">
  <div class='content content-log'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="image">
  <div class='content content-image'>
    <img src='{{content_value(line)}}' class="image">
  </div>
</script>

<script type="text/ng-template" id="aborted">
  <div class='content content-aborted'>
    Aborted
  </div>
</script>
