<md-content layout-padding ng-if="mode=='uploads' && !not_found">

  <div ng-if="!job.uploads">
    <span class="md-title">Finding Uploads</span>
  </div>

  <div ng-if="job.uploads.length == 0">
    <span class="md-title">No uploads</span>
  </div>

  <div ng-if="job.uploads.length > 0">
    <span class="md-title">Current Uploads</span>
  </div>   

  <ul ng-if="job.uploads.length > 0"
      class="upload-list">
    <li ng-repeat="upload in job.uploads">
      <upload-viewer record="upload"></upload-viewer>
      <span class="pull-right">{{upload.upload_file_size|bytes}}</span>
    </li>
  </ul>   

 <div class="upload-button-container">     

    <form id="upload-form-generic" action="/krill/upload" method="post">
      <input id="upload-__generic__" 
             type="file"
             name="files[]"
             custom-on-change="complete_upload"
             multiple></input>
      <input type="submit">
      <input id="authenticity_token" 
             name="authenticity_token" 
             type="hidden"
             value="<%= form_authenticity_token %>" />
    </form>

    <div layout-column layout-padding>

      <md-divider></md-divider>

      <md-checkbox ng-model="upload_config.associate_with_operations"
                   aria-label="Associate with operations">
        Associate next ipload(s) with all job operations
      </md-checkbox>

      <md-checkbox ng-model="upload_config.associate_with_plans"
                   aria-label="Associate with operations">
        Associate next upload(s) with all job plans
      </md-checkbox>

      <md-button
        class="md-raised md-primary" 
        ng-click="start_upload('__generic__')">Upload New File(s)
      </md-button>          

    </div>

  </div>

</md-content>