<h1>Sample Boxes</h1>

<% @result.each do |freezer,hotels| %>

  <% (0..hotels.length-1).each do |h| %>

    <% if hotels[h] != nil %>

      <h4><%= freezer %>:<%= h %></h4>

      <div class='hotel'>

	<% (0..hotels[h].length-1).each do |b| %>

          <% if (hotels[h][b].select { |i| i != nil }) != [] %>

            <%= render partial: 'sample_box', locals: { box: hotels[h][b], box_number: "#{freezer}.#{h}.#{b}", selected: nil } %>

          <% end %> <!-- if -->

	<% end %> <!-- hotels -->

      </div> <!-- hotel -->

    <% end %> <!-- if -->

  <% end %> <!-- hotels -->

  <hr />

<% end %> <!-- freezer -- >
