<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
Help is irrelevant. Negotiation is irrelevant. 
However, if you insist on questioning your future, information about a few 
intricate details of BioTurk things can be found by following the links below.</p>


<h3>Plankton. Its better than PDL. Try It!</h3>

<ul class='list'>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/Plankton.md"</a>Plankton</a></li>
</ul>

<h3>Protocol Description Language Specifications</h4>

<ul class='list'>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/pdl_v2.2.md">2.2</a></li>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/pdl_v2.md">2.0</a></li>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/pdl_v1.md">1.0</a></li>
</ul>


