<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
Help is irrelevant. Negotiation is irrelevant. 
</p>

<p>However, if you insist on questioning your future, information about a few 
intricate details of BioTurk things can be found by following the links below.</p>

<h4>Protocol Description Language Specifications</h4>

<ul>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/pdl_v2.md">2.0</a></li>
  <li><a href="https://github.com/klavinslab/specifications/blob/master/Languages/pdl_v1.md">1.0</a></li>
</ul>

<h4>Liaison JSON Interface</h4>

<ul>
  <li><a href=liaison/info>info</li>
  <li><a href=liaison/take>take</li>
  <li><a href=liaison/release>release</li>
  <li><a href=liaison/produce>produce</li>
</ul>
