
<div class="center hero-unit" style='margin-top: 16px'>

  <h1>BIOTURK</h1>
  <p>Your Protocols will be assimilated. Resistance is futile.</p>

  <% unless signed_in? %>
    <%= link_to "Log in", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>

<div class='well' style='background: white'>
<h4>Features released on Oct. 15</h4>
<ul>
  <li>Fixed a bug that incorrectly cloned the production server data
  and resulted in incorrect links between items, samples, object
  types, and sample types. The db clone will now have exactly the same ids
  as the production server has.</li>
  <li>Somewhat more pronouced color differences between production and
  rehearsal servers.</li>
</ul>
</div>

<div class='well' style='background: white'>
<h4>Features released on Oct. 14</h4>
<ul>
  <li>Improved error reporting. More errors are caught, are better explained, and in many
  cases the offending PDL code is shown.</li>
  <li>Produce now tells you the id of the item you are producing, and
  you can add a note to show on the produce page.</li>
  <li>Every job that touched a particular item is now show, and vice
  verse. Look at the log page after running a protocol to see how.</li>
  <li>In take, you can specify a particular item by using its id.</li>
  <li>Arguments can have type <b>sample</b> or type <b>objecttype</b>
  in addition to the old string and number. For arguments named, for
  example, primer_id, BioTurk will know you want an item id that
  refers to a primer and give you a list of projects and samples to
  select from when starting the protocol.</li>
  <li>When copying the production db to your local copy of bioturk,
  you get the sample types and samples too.</li>
</ul>
</div>
