
<% if @announcement %>
	<div class='well alert'>
		<h4>Announcement: <%= @announcement.title %></h4>
		<p><%= @announcement.created_at %></p>
		<p><%= @announcement.message %></p>
		<a href='/dismiss'
		   class='btn btn-small'>
		   Dismiss
		</a>
	</div>
<% end %>

<div class='row-fluid'>

  <div class='span8'>

    <div class='span12 plugin-container'>
      <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/jobs'></iframe>
      <iframe class='notification-iframe' allowtransparency="true" src='/notification_list'></iframe>
    </div>


  </div>

  <div class='span4 discussion-index'>
      <iframe class='discussion-iframe' allowtransparency="true" src='/posts/'></iframe>
  </div>

</div>

