<h1>Welcome to the Aquarium</h1>

<div class='row-fluid'>

  <div class='span4'>
    <%= render partial: 'stats/users' %>    
  </div>

  <div class='span4'>
    <%= render partial: 'stats/jobs' %>
  </div>

  <div class='span4'>
    <%= render partial: 'stats/processes' %>
  </div>

</div>

