<div class="center hero-unit">

  <h1>BIOTURK</h1>
  <p>Your Protocols will be assimilated. Resistance is futile.</p>

  <% unless signed_in? %>
    <%= link_to "Log in", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>
