
<div class='row-fluid'>

  <div class='span8'>

    <div class='span12 plugin-container'>
      <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/jobs'></iframe>
    </div>

    <div class='row-fluid'>
      <div class='span7 plugin-container'>   
          <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/metacols'></iframe>   
      </div>
      <div class='span5 plugin-container'>   
          <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/daemons'></iframe>   
      </div>
    </div>

    <div class='row-fluid'>
      <div class='span6 plugin-container'>
        <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/user_activity'></iframe>
      </div>
      <div class='span6 plugin-container'>   
          <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/activity_monitor'></iframe>   
      </div>
    </div>

  </div>

  <div class='span4 discussion-index'>
      <iframe class='discussion-iframe' allowtransparency="true" src='/posts/'></iframe>
  </div>

</div>

