
<% if @announcement %>
	<div class='announcement'>
		<h4 style='text-align: center'>
			Announcement: <%= @announcement.title %>
			<p><%= @announcement.created_at.strftime '%A %B %e, %Y' %></p>
		</h4>
		<p><%= simple_format(@announcement.message).html_safe %></p>
		<span class='close-x btn-small'>
			<a href='/dismiss'>✕
			</a>
		</span>
	</div>
<% end %>
	
<div class='row-fluid'>

  <div class='span8'>

    <div class='span12 plugin-container'>
      <iframe class='plugin-iframe' allowtransparency="true" src='/plugin/show?path=aqualib/plugins/jobs'></iframe>
      <iframe class='notification-iframe' allowtransparency="true" src='/notification_list'></iframe>
    </div>


  </div>

  <div class='span4 discussion-index'>
      <iframe class='discussion-iframe' allowtransparency="true" src='/posts/'></iframe>
  </div>

</div>

