<div class='row-fluid'>

    <div class='span6'>
      <center><p><b>Samples and Items</b></p></center>    
      <%= render partial: 'stats/samples' %>    
    </div>

    <div class='span6'>
      <center><p><b>Objects and Items</b></p></center>        
      <%= render partial: 'stats/objects' %>
    </div> 

</div>

