<h1>Inventory Stats</h1>

<div class='row-fluid'>


    <div class='span6'>
      <%= render partial: 'stats/samples' %>
    </div>

    <div class='span6'>
      <%= render partial: 'stats/objects' %>
    </div> 

</div>

