<h1>Protocol Usage and Outcomes</h1>

<div class='row-fluid'>

  <div class='span4'>
    <%= render partial: 'stats/outcomes' %>
  </div>

  <div class='span5'>
    <%= render partial: 'stats/protocols' %>
  </div>

  <div class='span3'>
    <%= render partial: 'stats/protocols' %>
  </div>

</div>

