<% provide(:title, 'Edit Announcement') %>

<% content_for :controller do %>noCtrl<% end %>

<% content_for :main do %>

  <div layout-padding layout="row">

    <div flex="25"></div>

    <div flex="50">

      <%= render 'form' %>

      <%= link_to 'Cancel', announcements_path, class: 'md-button md-raised' %>

    </div>

  </div>

<% end %>