<% provide(:title, 'New Announcement') %>

<% content_for :controller do %>noCtrl<% end %>

<% content_for :main do %>

  <div layout-padding layout="row">

    <div flex="25"></div>

    <div flex="50">
      <%= render 'form' %>
      <%= link_to 'Back', announcements_path %>
    </div>

  </div>

<% end %>