<div class='sample-type-edit' 
     ng-app='aquarium' 
     ng-controller='sampleTypeEditCtrl as stec' 
     ng-init="stid = <%= @sample_type.id ? @sample_type.id : 0 %>">

  <div class='alert alert-success' ng-if="messages.length > 0">
    <button type="button" class="close" ng-click="clear_messages()">&times;</button>
    <h4 ng-if="messages.length == 1">1 Message</h4>
    <h4 ng-if="messages.length > 1">{{messages.length}} Messages</h4>    
    <ul>
      <li ng-repeat="m in messages track by $index">{{m}}</li>
    </ul>
  </div>

  <h4>Name</h4>
  <input ng-model="sample_type.name" class="long bordered">

  <h4>Description</h4>  
  <input ng-model="sample_type.description" class="long bordered">

  <h4>Fields <button class='btn btn-mini' ng-click="add_field()">Add</button></h4>

  <table>

    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required?</th>
      <th>Array?</th>
      <th>Sample Options (If type='sample')</th>      
      <th>Choices (Comma separated. Leave blank for unrestricted value).</th>
      <th></th>
    </tr>

    <tr ng-repeat="ft in sample_type.field_types" ng-if="!ft.deleted">

      <td>
        <input ng-model="ft.name" class='input-bold'>
        <!-- pre>{{ft.allowable_field_types|json}}</pre -->
      </td>

      <td>
        <select ng-model="ft.ftype">
          <option ng-selected="ft.ftype == 'string'">string</option>
          <option ng-selected="ft.ftype == 'number'">number</option>
          <option ng-selected="ft.ftype == 'url'">url</option>
          <option ng-selected="ft.ftype == 'sample'">sample</option>                        
        </select>
      </td>

      <td><input type=checkbox 
                 ng-model='ft.required' 
                 ng-checked='ft.required'
                 ng-init="ft.required = ft.required ? true : false"> {{ft.required}}</td>

      <td><input type=checkbox 
                 ng-model='ft.array' 
                 ng-checked='ft.array' 
                 ng-init="ft.array = ft.array ? true : false"> {{ft.array}}</td>

      <td>
        <div ng-if="ft.ftype != 'sample'">N/A</div>
        <div ng-if="ft.ftype == 'sample'">
          <ul class='select-list'>
            <li ng-repeat="aft in ft.allowable_field_types" ng-if="!aft.deleted">
              <table class="plain-table">
                <tr>
                  <td>
                    <select ng-model='aft.sample_type_id' 
                            ng-options="st.id as st.name for st in sample_types"
                            class='margin'>
                    </select>
                  </td>
                  <td>
                    <a href="#" ng-click="remove_aft(aft)"><i class='icon-remove'></i></a>
                  </td>
                </tr>
                </table>
            </li>
            <li>
              <a href="" class='btn btn-mini' ng-click='add_option(ft)'>Add Option</a>
            </li>
          </ul>
        </div>
      </td>

      <td>
        <div ng-if="ft.ftype != 'number' && ft.ftype != 'string'">N/A</div>
        <div ng-if="ft.ftype == 'number' || ft.ftype == 'string'">
          <textarea ng-model="ft.choices" >        
          </textarea>
        </div>
      </td>         

      <td><a href="#" ng-click="remove_field(ft)"><i class='icon-remove'></i></a></td>

    </tr>

  </table>

  <br />

  <a href="#" class="btn btn-primary" ng-click="save()">Save</a>
  <%= link_to 'All', sample_types_path, class: 'btn' %>

</div>

<br />


