<% provide(:title, 'Edit Sample Type') %>

<h1><u><%= @sample_type.name %></u> Type Definition</h1>

<div class='alert alert-info'>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong> Changing a sample type
  can have far reaching effects! Edit with care.
</div>

<%= render 'form' %>



