
<% provide(:title, 'New Sample Type') %>

<%= content_for :controller do %>noCtrl<% end %>

<% content_for :main do %>
  <div layout-padding>
    <h1>New Sample Type</h1>
    <%= render 'form' %>
  </div>
<% end %>



