<div ng-app="aquarium" 
     ng-controller="sampleEditCtrl" 
     ng-init="info = { stid: <%= @sample_type.id %>, sid: <%= @sample.id ? @sample.id : 0 %> }"
     class='sample-type-edit'>

  <h4>Name</h4>
  <input ng-model='sample.name' class="short bordered">

  <h4>Project</h4>
  <input ng-model='sample.project' class="short bordered">

  <h4>Description</h4>
  <input ng-model='sample.description' class="long bordered">


  <br/>  <br/>

  <table>

    <tr>
      <th>Property Name</th>
      <th>Type</th>      
      <th>Value</th>      
    </tr>

    <tr ng-repeat="ft in sample.sample_type.field_types">

      <!-- NAME /////////////////////////////////////////////////////////////// -->
      <td>
        <b>{{ft.name}}</b>
        <span ng-if="ft.required" class="light">(required)</span>
      </td>

      <!-- TYPE /////////////////////////////////////////////////////////////// -->

      <td ng-if="ft.ftype != 'sample' && ft.ftype != 'item'">
        {{ft.ftype}}
      </td>

      <td ng-if="ft.ftype == 'sample'">
        <span ng-repeat="aft in ft.allowable_field_types track by $index">
          <a href="/sample_types/{{aft.sample_type.id}}">{{aft.sample_type.name}}</a> 
          <span ng-if="!$last">|</span>
        </span>
      </td>

      <!-- VALUE ////////////////////////////////////////////////////////////// -->

      <td ng-if="ft.ftype == 'string'">
        <div ng-if="!ft.array">
          <input ng-model="sample.fields[ft.name]" type='text' class='no-padding'>
        </div>
        <div ng-if="ft.array">
          Array here
        </div>        
      </td>

      <td ng-if="ft.ftype == 'number'">
        <div ng-if="!ft.array">
          <input ng-model="sample.fields[ft.name]" type="number" step="0.01" class='no-padding'>
        </div>
        <div ng-if="ft.array">
          Array here (Not implemented)
        </div> 
      </td>     

      <td ng-if="ft.ftype == 'url'">
        <input ng-model="sample.fields[ft.name]" type="text">
      </td>       

      <td ng-if="ft.ftype == 'sample'">
        <div ng-if="!ft.array">
          <input ng-model="sample.fields[ft.name]" type="text" step="0.01" class='no-padding' autocomplete="types(ft)">
        </div>
        <div ng-if="ft.array">
          Array here (Not implemented)
        </div>       
      </td>

    </tr>

  </table>

  <!-- pre>{{sample|json}}</pre -->

</div>

<br />