<!-- tasks -->

<table class='table table-condensed compact' 
       id="task-table" 
       data-source='<%= tasks_url(format: 'json', option: @option, sample_id: sample.id) %>'>

  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
    </tr> 
  </thead>

  <tbody>
  </tbody>
</table>

<script>

  var table = $('#task-table').dataTable({

    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#task-table').data('source'),
    "order": [ 0, 'desc' ],
    "lengthMenu": [ 15, 25, 50, 75, 100 ],
    "search": { 
      "search": '<%= cookies[@task_search_cookie_name] %>'
    },

    "columnDefs":[ {
      "targets": [1,2,3,4],
      "orderable": false
    } ],

    "bFilter": false,
    "bLengthChange": false,

    "fnInitComplete": function(oSettings, json) {
      if ( json.iTotalRecords == 0 ) {
        $('#tasks-container').css('display','none');
        $('#tasks-empty').css('display','block');
      } else {
        $('#tasks-num').html(' (' + json.iTotalRecords + ')');
      }
    },

    "createdRow": function ( row, data, index ) {

      $('.status-selector',$(row)).change(function() {
        $.ajax({
          url: '/update_task_status?task=' + $(this).data('task-id') + "&status=" + $(this).val(),
          async: true
        }).done(function(data) {
          table.fnDraw();
        })
      });
    }

  });

  </script>