
<h1 class="md-display-4"><%= Bioturk::Application.config.instance_name %></h1>
<h1 class="md-title" style="color: #66b">Powered by Aquarium</h1>

  <div flex style="border-top: 1pt solid #bbb; height: 40px; margin-top: 60px"></div>

  <br />

  <div layout="column" layout-align="center center" ng-controller="noCtrl">

  <div flex >

    <form accept-charset="UTF-8" action="/sessions" method="post" layout="column">

      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
        <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>" />
      </div>

      <div>
        <label>Login</label>
        <input id="session_login" name="session[login]" size="30" ng-model="status.login"
               style="height: 20px; padding: 4px 6px 4px 6px; border-radius: 5px;">
      </div>

      <br>

      <div>
        <label>Password</label>
        <input id="session_password" name="session[password]" size="30" type="password" >
      </div>

      <br />
      <br />

      <input class="md-button md-raised md-primary" name="commit" type="submit" value="Sign in" />

    </form>

  </div>

</div>  

</div>

<%
  cookies.each { |k,v| 
    if k != "_aquarium_#{Rails.env}_session" && k != "location"
      cookies.delete k
    end
  }
%>