<h1>Copied from the production server</h1>


<ol class='list'>

<% ObjectType.all.each do |ot| %>

  <li><%= ot.name %> (<%= ot.items.length %>)

    <ul>
      <% ot.items.each do |i| %>
        <%= i.id %>,
      <% end %>
    </ul>

  </li>

<% end %>

</ol>
