<% provide(:title,  "Inventory Manipulation") %>

<h2>Administrative Tools</h2>

<% if Rails.env != 'production' %>

<div class='row-fluid'>

  <div class='span1'></div>

  <div class='span2' style='padding: 6pt;'>

    <%= link_to 'Delete Inventory', 
                delete_inventory_path, 
                data: { confirm: 'Are you sure you want to delete all the inventory data from this server? This action cannot be undone.' },
                class: 'btn btn-small', 
                style: 'width: 100%' %> </p>

  </div>

  <div class='span8'>

    <p class='message'>Delete all the object types and items in this server's
    inventory. Do this before copying everything from the production
    server for best results.</p>

  </div>

  <div class='span1'></div>

</div>

<br />

<div class='row-fluid'>

  <div class='span1'></div>

  <div class='span2' style='padding: 6pt;'>

    <%= link_to 'Copy Inventory from Production Server',
	copy_inventory_from_production_path, 
        data: { confirm: 'Are you sure you want to copy all the inventory data from the production server? This action may take a while and may use significant bandwidth to complete.' },
        class: 'btn btn-small', style: 'width: 100%'%> </p>

  </div>

  <div class='span8'>

    <p class='message'>Copies all object types and inventory items from the production server.</p>

  </div>

  <div class='span1'></div>

</div>

<br />

<div class='row-fluid'>

  <div class='span1'></div>

  <div class='span2' style='padding: 6pt;'>

    <%= link_to 'Copy Users and Groups from Production Server',
	copy_users_from_production_path, 
        data: { confirm: 'Are you sure you want to copy all the users and groups from the production server? Doing so will erase all user and group information in this server.' },
        class: 'btn btn-small', style: 'width: 100%'%> </p>

  </div>

  <div class='span8'>

    <p class='message'>Copies user and group information from the production server.</p>

  </div>

  <div class='span1'></div>

</div>


<% else %> 

This functionality is not available in production mode.

<% end %>
