<div ng-show="mode == 'data'" layout-padding>

  <ul>
    <li>{{current_operation_type.stats.done}} Successfully Completed Operation(s)</li>
    <li>{{current_operation_type.stats.error}} Errored Operations</li>  
    <li>First run {{current_operation_type.stats.first_run|date}}</li>    
    <li>Last run {{current_operation_type.stats.last_run|date}}</li>       
  </ul>

  <div class='data-associations'>
    <da record="current_operation_type"></da>
    <br>
    <div layout="row" layout-align="center center">
      <md-button ng-click="current_operation_type.new_data_association()" 
                 class="md-raised" 
                 aria-label="Add Data">
                 Add Data
      </md-button>
      <md-button class="md-raised upload-button">
        <upload record='current_operation_type' aria-label="Upload"></upload>
      </md-button>
    </div>
  </div>

</div>
