.git/
.idea/
.yardoc/
coverage/
data/
docker/
docs/
node_modules/
public/components
tmp/
vendor/

.bowerrc
.dockerignore
.env
.gitignore
.ruby-gemset
.ruby-version

develop-compose.sh
aquarium.sh
docker-compose.*yml
Dockerfile
