.git/
.idea/
.yardoc/
docker/db/
docker/mysql_init/
docker/s3/
docs/
node_modules/
public/components
tmp/
vendor/

.bowerrc
.dockerignore
.env
.gitignore
.ruby-gemset
.ruby-version

docker-compose.*yml
Dockerfile
