.idea/
.yardoc/
docker/db/
docker/mysql_init/
docker/s3/
docs/
public/assets/
public/doc/
public/components/
public/system/
tmp/
vendor/

.bowerrc
.dockerignore
.gitignore
.ruby-gemset
.ruby-version

dev-docker-compose.yml
docker-compose.yml
development-quickstart.sh
Dockerfile
Gemfile.lock