# production docker-compose

version: "3.6"
services:
  app:
    build:
      context: .
      target: basebuilder
    image: basebuilder
    command: ["production"]
    environment:
      RAILS_ENV: production
      RACK_ENV: production
    volumes:
      - public:/aquarium/public
      - ./log:/aquarium/log
      - logs:/aquarium/log
      - shared:/aquarium/shared
      - ./docker/aquarium/database.yml:/aquarium/config/database.yml
      - ./docker/aquarium/aquarium.rb:/aquarium/config/initializers/aquarium.rb
      - ./docker/aquarium/production.rb:/aquarium/config/environments/production.rb
      - ./docker/aquarium/production_puma.rb:/aquarium/config/production_puma.rb

  db:
    environment:
      MYSQL_DATABASE: production
      MYSQL_USER: aquarium
      MYSQL_PASSWORD: aSecretAquarium
      MYSQL_ROOT_PASSWORD: aSecretAquarium

  krill:
    image: basebuilder
    command: ["production"]
    volumes:
      - ./docker/aquarium/database.yml:/aquarium/config/database.yml
      - ./docker/aquarium/aquarium.rb:/aquarium/config/initializers/aquarium.rb
      - ./docker/aquarium/production.rb:/aquarium/config/environments/production.rb
      - ./docker/aquarium/production_puma.rb:/aquarium/config/production_puma.rb

  web:
    command: [nginx-debug, '-g', 'daemon off;']
    volumes:
      - public:/aquarium/public
      - logs:/aquarium/log
      - shared:/aquarium/shared
      - ./docker/nginx.production.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  public:
  logs:
  shared:
