<script type="template" id="credit-dialog" style="display: none">

    <md-dialog aria-label="Credit">
    
        <form ng-cloak>
            <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Apply Credit to Selected Transactions</h2>
                <span flex></span>
                <md-button class='md-icon-button' ng-click="cancel()">
                  &times;
                </md-button>
            </div>
            </md-toolbar>

            <md-dialog-content>

                <div class="md-dialog-content" layout="column">

                    <div>
                        <b>Transactions:</b> {{credit.transactions.length}}<br>
                        <b>Total:</b> {{credit.total|currency}}
                    </div>                
                    <md-input-container class="md-block" flex>
                        <label>Message</label>
                        <input ng-model="credit.message">
                    <div>{{credit.percent}}%</div>
                    <md-slider min="0" max="100" 
                            ng-model="credit.percent"
                            aria-label="percent" id="percent">
                    </md-slider>  
                </div>              
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                Cancel
                </md-button>
                <md-button ng-click="apply()">
                    Apply
                </md-button>
            </md-dialog-actions>
        </form>

    </md-dialog>

</script>