<div> 
    <md-content layout-padding="">
    <h2>Invoice Data</h2>
        <h3>Budget Name: {{ state.budget.name }}</h3>
        <h3>Budget Description: {{state.budget.description }}</h3>
        <h3>Budget Contact: {{state.budget.contact}}<h3>
        <h3>Budget Email: {{state.budget.email}}<h3>
        <h3>budget users</h3>
        <div>
            <md-input-container>
                <label>Project Name</label>
                <input ng-model="state.budget.name">
            </md-input-container>
        </div>
    </md-content>

    <md-content>
        <form name="invoiceForm">
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Budget Name</label>
                    <input ng-model="state.budget.name">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Total Aquarium Charges</label>
                    <input ng-model="state.summary.total">
                    <%# {{state.summary.total|currency}} %>
            </div>
        </form>
    </md-content>
</div> 
