<div> 
    <md-content layout-padding="">
    <h2>Start of content box</h2>
        <div>
            <md-input-container>
                <label>Project Name</label>
                <input ng-model="state.budget.name">
            </md-input-container>
        </div>
    </md-content>

    <md-content>
        <form name="invoiceForm">
        <h2>form state</h2>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Budget Name</label>
                    <input ng-model="state.budget.name">
                </md-input-container>
            </div>
        </form>
    </md-content>
</div> 
