
<!--
    Show a transaction and any transaction logs that go with it. 
-->

<div class="transaction">
  <span class="tr-check">
      <input type=checkbox 
             ng-model="transaction.checked"
             ng-if="transaction.transaction_type == 'debit'"> 
  </span>
  <span class="amount" ng-if="transaction.total >= 0">{{transaction.total|currency}}</span>
  <span class="amount credit" ng-if="transaction.total < 0">({{-transaction.total|currency}})</span>
  <span class="type">{{transaction.transaction_type}}</span>
  <span class="category">{{transaction.category}}</span>
  <span class="user">
      <a href="/users/{{transaction.user.id}}" target="user">{{transaction.user.name}}</a>
  </span>
  <span class="plan">
    <a href="/plans?plan_id={{transaction.plan_id}}" target="plan">
      {{transaction.plan_id}}
    </a>
  </span>
  <span class="operation">{{transaction.operation_id}}</span>
  <span class="job">
    <a href="/jobs/{{transaction.job_id}}" target="job">{{transaction.job_id}}</a>
  </span>
  <span class="date">{{transaction.created_at|date : 'MMM d'}}</span>
</div>

<!-- Notes, or logs in which this transaction is the target of a credit -->
<div class="transaction-log"
     ng-repeat="log in state.transaction_logs | filter: { row1: transaction.id }">
     <span class="note">
        &rdsh; {{log.note}}
        Posted on {{log.created_at|date}}
        by <a target="user" href="/users/{{log.user.id}}">{{log.user.name}}</a>.
    </span>
</div>

<!-- Logs in which this transaction is the result of a credit -->
<div class="transaction-log"
     ng-repeat="log in state.transaction_logs | filter: { row2: transaction.id }">
    <span class="note">
        &rdsh; {{log.note}}
        Applied to job 
        <a target="job" 
           href="jobs/{{log.target.job_id}}">
           {{log.target.job_id}}
        </a>.
    </span>
</div>