Hi {{ budget owner name }},

<p>These are the charges for the {“NSF-Yeastons” Project project name } for BioFab services during September 2019, totaling {total}.</p>
<%# seperate out the aquarium and other charges and then total. %>
<p>A breakdown for each user can be found in Aquarium. Users associated with the project have been cc'd and should now monitor charges directly in Aquarium. Please respond with an approval statement, you have until {{date}} to respond with approval and a budget number. On {{date}}, we will charge this budget.</p>

<p>Some supply costs are tracked by the BioFab Lab managers outside of Aquarium, we apologize for this inconvenience. If you need a break down of these costs, please contact biofab@uw.edu.</p>

<p>Credits given for September will be applied to October bills. Please report any errors or request credit by {{date}}.</p>

<p>Thank you,</p>