<script type="text/ng-template" id="componentView">

  <div ng-if="!component.type" class='row'>

    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
      <span class="expander">
        &#9655;
      </span>
    </div>

    <span ng-if="is_vector"> <b>{{name}}[{{index}}]:</b></span>
    <span ng-if="!is_vector"><b>{{name}}:            </b></span>

    <input ng-if="is_vector"  class='editable' ng-model="component.value" autocomplete alternatives="container.alternatives"></input>
    <input ng-if="!is_vector" class='editable' ng-model="component.value" autocomplete alternatives="component.alternatives"></input>

    <div class='info pull-right' ng-if="component.sample_id == null || component.sample_id == ''">             

      <div class='icon-holder'>
        <a href="#" ng-if="is_vector && index == container.value.length - 1" ng-click="threadBuilder.add_to_vector(container)"
           data-toggle='tooltip' data-placement="left" data-title="Add a component to this vector." tooltip>
          <i class='icon-plus'></i>
        </a>      
      </div>

      <div class='icon-holder'>
        <a href="#" class='' ng-click="threadBuilder.new_sample(name,component,is_vector ? container.alternatives : component.alternatives)"
           data-toggle='tooltip' data-placement="left" data-title="Make a new sample instead of searching for an existing one." tooltip>
          <i class='icon-resize-horizontal'></i>
        </a>
      </div>

      <div class='icon-holder'></div>    

      <div class='icon-holder'></div>

      <div class='icon-holder'>
        <a href="#" ng-if="is_vector && container.value.length > 1" ng-click="threadBuilder.remove_from_vector(container,index)"
           data-toggle='tooltip' data-placement="left" data-title="Remove this component from this vector." tooltip>
          <i class='icon-remove'></i>
        </a>       
      </div>   

    </div>

  </div>

  <div ng-if="component.type" class='row' ng-style="{ 'height': threadBuilder.parameter_height(component) }">

    <div class='expander-container parameter-name'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
      <span class="name">
        &#9632;
      </span>
    </div>

    <div class='name parameter-name' ng-style="{ 'height': threadBuilder.parameter_height(component) }">
      {{component.description}} (<b>{{component.name}}</b>):
    </div>
    
    <input ng-if="component.type.type == 'json'"
           ng-init="component.value = component.type.default ? component.type.default : ''"
           type=text class='editable' ng-model='component.value'></input>

    <input ng-if="component.type.type == 'number' && !component.type.choices"
           ng-init="component.value = component.type.default ? component.type.default : 0"
           type=number class='editable' ng-model='component.value'></input>

    <input ng-if="component.type.type == 'string' && !component.type.choices"
           ng-init="component.value = component.type.default ? component.type.default : ''"    
           type=text class='editable' ng-model='component.value'></input>    

    <select ng-if="(component.type.type == 'number' || component.type.type == 'string') && component.type.choices && !component.type.multiple" 
            ng-options="choice as choice for choice in component.type.choices" 
            ng-model="component.value"
            class='thread-builder-select'></select>    

    <div ng-if="(component.type.type == 'number' || component.type.type == 'string') && component.type.choices && component.type.multiple"
         class="multiselect">
      <div ng-repeat="c in component.type.choices" 
           ng-click="threadBuilder.toggle_select(component,c)"           
           ng-class="component.value[c] ? 'multiselector multiselected' : 'multiselector'">
           {{c}}
      </div>
    </div>

</script>