
<script type="text/ng-template" id="folderTree">

  <!-- span class='folder-expander-container'>
    <span class="folder-expander" 
          ng-if="!folder.open"
          ng-click="openFolder(folder)">
      &#9658;
    </span>
    <span class="folder-expander"
          ng-if="folder.open"
          ng-click="closeFolder(folder)">
      &#9660;
    </span> 
  </span -->

  <span class='folder'
        ng-class="folder == current_folder ? 'folder-selected' : ''">

    <i ng-if="folder.open" 
        ng-click="closeFolder(folder)" 
        class='icon-folder-open' style="color: #eee"></i> 

    <i ng-if="!folder.open" 
        ng-click="openFolder(folder)" 
        class='icon-folder-close' style="color: #eee"></i> 

    <span ng-click="setCurrentFolder(folder)">{{ folder.name }}</span>

  </span>

  <ul ng-if="folder.children && folder.open" class='folder-ul'>
      <li ng-repeat="folder in folder.children" 
          ng-include="'folderTree'">
      </li>
  </ul>

</script>

