<script type="text/ng-template" id="newThreadView">

  <div class='row'>

    <!-- EXPANDER ---------------------------------------------------------------------- -->
    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
      <span class="expander" 
            ng-if="!thread.open"
            ng-click="openThread(sample,thread)">
        &#9658;
      </span>
      <span class="expander"
            ng-if="thread.open"
            ng-click="closeThread(thread)">
        &#9660;
      </span> 
    </div>

    <!-- DESCRIPTION ------------------------------------------------------------------- -->
    <div class='thread-description'>
      {{thread}}

  </div>

  <!-- SAMPLES ------------------------------------------------------------------------- -->
  <div ng-if="thread.open"
    PARTS HERE
  </div>  

</script>