<script type="text/ng-template" id="newThreadBuilderView">

  <div class='row'>

    <!-- EXPANDER ---------------------------------------------------------------------- -->
    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
      <span class="expander" 
            ng-if="!builder.open"
            ng-click="threadBuilder.open(sample,builder)">
        &#9658;
      </span>
      <span class="expander"
            ng-if="builder.open"
            ng-click="threadBuilder.close(builder)">
        &#9660;
      </span> 
    </div>

    <!-- DESCRIPTION ------------------------------------------------------------------- -->
    <div class='thread-description' ng-if="builder.parent_sample_role">
      As <b>{{builder.parent_sample_role}}</b> in {{builder.workflow_name}} (unsaved)
    </div>

    <div class='thread-description' ng-if="!builder.parent_sample_role">
      Unsaved thread
    </div>

    <!-- BUTTONS ----------------------------------------------------------------------- -->
    <div class='info pull-right'>

      <div class='icon-holder'>
        <a href="#" ng-click="threadBuilder.save(sample ? sample : workflow,builder)"
          data-toggle='tooltip' data-placement="left" data-title="Save this thread." tooltip>
         <i class='icon-hdd'></i>
        </a>
      </div>

      <div class='icon-holder'></div>      

      <div class='icon-holder'>      
        <a href="#" class='' ng-click="threadBuilder.cancel(sample ? sample : workflow,builder)"
           data-toggle='tooltip' data-placement="left" data-title="Discard this thread." tooltip>
          <i class='icon-remove'></i>
        </a>
      </div>

    </div>

  </div>

  <!-- ERRORS ------------------------------------------------------------------------ -->
  <div class='error row' ng-if="builder.error && builder.open">
    <span ng-repeat="i in range(indent+1) track by $index" class='spacer'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="error-message">&#9763;</span>
    <span class='error-message'>{{builder.error}}</span>
  </div>

  <!-- PARTS ------------------------------------------------------------------------- -->
  <div ng-if="builder.open" ng-repeat="(name,component) in builder.thread">

    <div ng-if="builder.parent_sample_role != name">

      <!-- SCALARS ------------------------------------------------------------------- -->
      <div ng-if="!component.is_vector">

        <div ng-if="!component.new_sample" 
             ng-include="'componentView'"
             ng-init="indent=indent+1; is_vector=false">
        </div>

        <div ng-if="component.new_sample"
             ng-include="'sampleView'"
             ng-init="role = name; is_vector=false; sample = component.new_sample; component = component; indent=indent+1">
        </div>          

      </div>

      <!-- VECTORS ------------------------------------------------------------------- -->
      <div ng-if="component.is_vector">

        <div ng-repeat="comp in component.value track by $index">

          <div ng-if="!comp.new_sample"
               ng-include="'componentView'"
               ng-init="role=name; is_vector = true; container = component; component = comp; index = $index; indent=indent+1">
          </div>

          <div ng-if="comp.new_sample"
               ng-include="'sampleView'"
               ng-init="role = name; is_vector = true; index = $index; sample = comp.new_sample; container = component; component = comp; indent=indent+1">
          </div>

        </div>

      </div>

    </div>

  </div>  

</script>
