<script type="text/ng-template" id="sampleView">

  <div class='folder-sample'>

    <!-- EXPANDER --------------------------------------------------------------------- -->
    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
      <span class="folder-expander" 
            ng-if="!sample.open"
            ng-click="openSample(sample)">
        &#9658;
      </span>
      <span class="folder-expander"
            ng-if="sample.open"
            ng-click="closeSample(sample)">
        &#9660;
      </span> 
    </div>

    <!-- ID --------------------------------------------------------------------------- -->
    <div class='id'>{{sample.id}}<span ng-if="role"> {{role}}</span>:</div>

    <!-- NAME ------------------------------------------------------------------------- -->
    <div class='name'>
      <input type='text' 
             class='editable' 
             ng-model='sample.name'
             ng-keypress="unsave(sample)"
             pu-elastic-input
             pu-elastic-input-maxwidth="none"/>
      <span class='sample-type'>({{sample.sample_type.name}})</span>
    </div>

    <!-- BUTTONS ---------------------------------------------------------------------- -->
    <div class='info pull-right'>
      <button class='btn btn-mini btn-warning' ng-if='sample.unsaved'>Save</button>
    </div>

  </div>

  <!-- DATA --------------------------------------------------------------------------- -->
  <div ng-if="sample.open" class='sample-data'>
    <span ng-repeat="i in range(indent+1) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
    <span>SAMPLE DATA HERE</span>
  </div>

  <!-- THREADS ------------------------------------------------------------------------ -->
  <div ng-repeat='thread in sample.threads'
       ng-if='includeThread(sample,thread)'
       ng-include="'threadView'"
       ng-init="indent=indent+1">
  </div>

</script>
