
<script type="text/ng-template" id="sample">

  <div class="folder-contents-row" ng-if="sample">

    <div class="folder-contents-cell" ng-style="{ width: width.chooser }">
      <input type=checkbox ng-model="sample.selected">
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.id }">
      <span>
        <span ng-repeat="i in range(indent)">&nbsp;&nbsp;</span>    
        <b>{{sample.id}}</b> ({{sample.sample_type.name}})
      </span>
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.name }">  
      <span>
        <span ng-repeat="i in range(indent)">&nbsp;&nbsp;</span>           
        <input class='folder-editable' ng-model='sample.name' ng-keypress="unsave(sample)">
        <span ng-if="role">(<b>{{role}}</b>)</span>
      </span>
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.role }">

      <span>

        <span class='folder-expander-container'>
          <span class="folder-expander" 
                ng-if="sample.current_thread && !sample.expanded"
                ng-click="expandSample(sample)">
            &#9658;
          </span>
          <span class="folder-expander"
                ng-if="sample.current_thread && sample.expanded"
                ng-click="unexpandSample(sample)">
            &#9660;
          </span> 
        </span>

        <select class='folder-role-select'
                ng-model='sample.current_thread'
                ng-options='thread.role + " in " + thread.workflow.name + " " + (thread.process_id ? thread.process_id : "") for thread in sample.threads'
                ng-init="sample.current_thread = sample.threads[0]"
                ng-change="get_current_thread_parts(sample)"
                >
        </select>

        <i class='icon-plus'></i>

      </span>

    </div>

    <div class="folder-contents-field-cell" ng-style="{ width: width.fields }">
      <span>
        <div class='folder-sample-field' ng-repeat="field in sample.fields">
          <span class='folder-expander-container' ng-if="$index==0">
            <span class="folder-expander" 
                  ng-if="!sample.fields_expanded"
                  ng-click="expandSampleFields(sample)">
              &#9658;
            </span>
            <span class="folder-expander"
                  ng-if="sample.fields_expanded"
                  ng-click="unexpandSampleFields(sample)">
              &#9660;
            </span> 
          </span>
          <span ng-if="$index==0 || sample.fields_expanded">
            <span class='folder-expander-container' ng-if="$index!=0"></span>
            {{field.name}}: <input class='folder-editable' 
                                   ng-model='field.value'
                                   ng-keypress="unsave(sample)">
          </span>
        </div>
      </span>
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.created }">
      <span style='vertical-align: top'>{{sample.created_at|date:'shortDate'}}</span>
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.updated }">
      <span>{{sample.updated_at|date:'shortDate'}}</span>
    </div>

    <div class="folder-contents-cell" ng-style="{ width: width.status }">
      <span ng-if="sample.unsaved">Unsaved</span>
    </div>

  </div>

  <div ng-if="sample.expanded"
       ng-repeat="part in sample.current_thread.parts"
       ng-include="'sample'"
       ng-init="role=part.name; sample=part.sample; indent=indent+1">
  </div>

</script>
