<script type="text/ng-template" id="sampleView">

  <div class='row'>

    <!-- EXPANDER --------------------------------------------------------------------- -->
    <div class='expander-container'>
      <div ng-repeat="i in range(indent) track by $index" class='spacer'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <!-- span space="n" / -->
      <div class="expander" 
            ng-if="!sample.open"
            ng-click="openSample(sample)">
        &#9658;
      </div>
      <div class="expander"
            ng-if="sample.open"
            ng-click="closeSample(sample)">
        &#9660;
      </div> 
    </div>

    <!-- ID --------------------------------------------------------------------------- -->
    <div ng-class="sample == selection ? 'id selected' : 'id'" 
      ng-if="sample.id" ng-click="select(sample)">
      {{sample.id}}<span ng-if="role"> {{role}}</span>:</div>

    <div class='id' ng-if="!sample.id" ng-click="select(sample)">
      ???:
    </div>    

    <!-- NAME ------------------------------------------------------------------------- -->
    <div class='name'>
      <input type='text' 
             class='editable' 
             ng-model='sample.name'
             ng-keydown="unsave(sample)"
             pu-elastic-input
             pu-elastic-input-maxwidth="none"/>
      <div class='sample-type'>({{sample.sample_type.name}})</div>
    </div>

    <!-- BUTTONS ---------------------------------------------------------------------- -->
    <div class='info pull-right'>   

      <a href='#'
         class='btn btn-mini btn-warning row-button' 
         ng-if='sample.unsaved && sample.id'
         ng-click="save(sample)">
        {{ sample.saving ? "Saving..." : "Save" }}
      </a>

      <a href='#'
         class='btn btn-mini btn-success row-button' 
         ng-if='sample.unsaved && sample.id'
         ng-click="revert(sample)">
        Cancel
      </a>     

      <a href='#'
         class='btn btn-mini btn-warning row-button' 
         ng-if='sample.unsaved && !sample.id'
         ng-click="save_new(sample,role)">
        Save
      </a>     

    </div>

  </div>

  <!-- ERRORS ------------------------------------------------------------------------- -->
  <div class='error row' ng-if="sample.error">
    <span ng-repeat="i in range(indent+1) track by $index" class='spacer'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class='error-message'>{{sample.error}}</span>
  </div>


  <!-- DATA --------------------------------------------------------------------------- -->
  <div ng-repeat="(key,value) in sample.data" ng-if="sample.open" class='data row'>
    <span ng-repeat="i in range(indent+1) track by $index" class='spacer'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>   
    <span class='name'>{{key}}:</span> 
    <input type='text' 
           class='editable' 
           ng-model='sample.data[key]'
           ng-keypress="unsave(sample)"
           pu-elastic-input
           pu-elastic-input-minwidth="50px"
           pu-elastic-input-maxwidth="none"/>
  </div>

  <!-- NEW THREADS -------------------------------------------------------------------- -->
  <div ng-repeat='builder in sample.thread_builders'
       ng-include="'newThreadBuilderView'"
       ng-init="indent=indent+1">
  </div>  

  <!-- THREADS ------------------------------------------------------------------------ -->
  <div ng-repeat='thread in sample.threads'
       ng-if='includeThread(sample,thread)'
       ng-include="'threadView'"
       ng-init="indent=indent+1">
  </div>

</script>
