<script type="text/ng-template" id="threadView">

  <div class='row'>

    <!-- EXPANDER ---------------------------------------------------------------------- -->
    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
      <span class="expander" 
            ng-if="!thread.open"
            ng-click="openThread(sample,thread)">
        &#9658;
      </span>
      <span class="expander"
            ng-if="thread.open"
            ng-click="closeThread(thread)">
        &#9660;
      </span>
    </div>

    <!-- DESCRIPTION ------------------------------------------------------------------- -->
    <div class='thread-description'>
      <span ng-if="thread.role">As <b>{{thread.role}}</b> in {{thread.workflow.name}}</span>
      <span ng-if="thread.process_id">
        (Process {{thread.process_id}}, updated {{thread.updated_at}} ago)
      </span>
      <span ng-if="!thread.role">
        <b>{{thread.id}}</b> submitted by <a href="/users/{{thread.user.id}}">{{thread.user.login}}</a> 
        on {{thread.created_at|date}} at {{thread.created_at|date:'mediumTime'}}
      </span>
      <span ng-if="thread.role && thread.user">
        (<a href="/users/{{thread.user.id}}">{{thread.user.login}}</a>)
      </span>
    </div>

    <!-- BUTTONS ---------------------------------------------------------------------- -->
    <div class='info pull-right' ng-if="selection == workflow">   

      <div class='icon-holder'></div>

      <div class='icon-holder'>
          <span ng-if="!thread.selected" class='thread-selector'
                ng-click="workflowManager.select_thread(thread)"
                data-toggle='tooltip' data-placement="left" data-title="Select this thread." tooltip>
                &#9723;
          </span> 
          <span ng-if="thread.selected" class='thread-selector'
                ng-click="workflowManager.deselect_thread(thread)"
                data-toggle='tooltip' data-placement="left" data-title="Deslect this thread." tooltip> 
                &#9724;
          </span>
        </a>
      </div>

      <div class='icon-holder'></div>

    </div>

  </div>

  <!-- SAMPLES ------------------------------------------------------------------------- -->
  <div ng-if="thread.open"
       ng-repeat="s in thread.parts.samples"
       ng-include="'sampleView'"
       ng-init="role = s.name; sample = s.sample; indent=indent+1">
  </div>

  <!-- PARAMETERS ---------------------------------------------------------------------- -->
  <div ng-if="thread.open"
       ng-repeat="param in thread.parts.params"
       ng-include="'parameterView'"
       ng-init="indent=indent+1">
  </div>  

</script>