<script type="text/ng-template" id="workflowView">

  <div class='row'>

    <!-- EXPANDER ---------------------------------------------------------------------- -->
    <div class='expander-container'>
      <span ng-repeat="i in range(indent) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
      <span class="expander-large" 
            ng-if="!workflow.open"
            ng-click="workflowManager.open(workflow)">
        &#9776;
      </span>
      <span class="expander-large"
            ng-if="workflow.open"
            ng-click="workflowManager.close(workflow)">
        &#9783;
      </span>
    </div>

    <!-- NAME ------------------------------------------------------------------------- -->
    <div class='name'>
      <b ng-class="workflow == selection ? 'id selected' : 'id'"
         ng-click="workflowManager.select(workflow)">
        {{workflow.id}}:
      </b>
      <span ng-click="workflowManager.select(workflow)" style="cursor: pointer;">{{workflow.name}}</span>
      <span ng-if="workflow.open">(Unprocessed Threads)</span>
    </div>

    <!-- BUTTONS ---------------------------------------------------------------------- -->
    <div class='info pull-right' ng-if="selection == workflow">   

      <div class='icon-holder'>
        <a href="#" ng-click="threadBuilder.make(workflow,null)"
           data-toggle='tooltip' data-placement="left" data-title="Build a new thread for this workflow." tooltip>
          <i class='icon-plus'></i>
        </a>
      </div>

      <div class='icon-holder'>
        <span class="thread-selector-all" ng-click="workflowManager.select_all(workflow)"
           data-toggle='tooltip' data-placement="left" data-title="Select all (or none) of the threads listed." tooltip>
          &forall;
        </span>
      </div>      

      <div class='icon-holder'>
        <a href="#" ng-click="workflowManager.launch(workflow)" ng-if="!workflow.launching"
           data-toggle='tooltip' data-placement="left" data-title="Launch a process from this workflow using the selected threads." tooltip>
          <i class='icon-play'></i>
        </a>
        <a href="#" ng-click="workflowManager.launch(workflow)" ng-if="workflow.launching">
          <i class='icon-time'></i>
        </a>        
      </div>      

    </div>

  </div>

  <div ng-repeat="m in workflow.messages"
       ng-if='workflow.open'
       class="row workflow-message">
       <span ng-repeat="i in range(indent+1) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
       &#10003;
       Process <a href='/workflow_processes/{{m.id}}'>{{m.id}}</a> started with {{m.num_threads}} thread(s).
  </div>

  <!-- THREADS ------------------------------------------------------------------------ -->
  <div ng-repeat='thread in workflow.threads'
       ng-if='workflow.open'
       ng-include="'threadView'"
       ng-init="indent=indent+1">
  </div>

  <!-- BUILDERS ----------------------------------------------------------------------- -->
  <div ng-repeat='builder in workflow.thread_builders'
       ng-include="'newThreadBuilderView'"
       ng-init="indent=indent+1" 
       ng-if="workflow.open">
  </div> 

</script>