<style>
body {
  overflow: hidden;
}

.container-fluid {
  padding: 0;
}
</style>

<div ng-app="folders">

  <%= render partial: 'folder_template' %>

  <%= render partial: 'sample_template' %>

  <div ng-controller='foldersCtrl as fc'>

    <div class='row-fluid folder-controls'>

      <span ng-repeat="f in path(current_folder) track by $index">
        <input type=text value="{{f}}" ng-disabled="true" class='folder-path-input' />
      </span>

      <input id='folder-name'
             type=text 
             class='folder-path-input folder-current-name' 
             ng-model="current_folder.name"
             ng-disabled="current_folder.id < 0"
             ng-blur="renameFolder(current_folder)">

      <a href='#' id="delete-folder"
         ng-if="current_folder.id>=0"
         class='btn pull-right folder-btn'
         ng-click="deleteFolder(current_folder)">Delete Folder</a>

      <a href='#'  
         class='btn folder-btn pull-right' 
         ng-click="newFolder()"
         ng-disabled="current_folder.locked">New Folder</a>

      <a href='#' class='btn pull-right folder-btn' ng-show="current_folder.id>=0">New Sample</a>

      <div class='input-append pull-right folder-btn' ng-show="current_folder.id>=0">
        <input id="add-sample" type="text">
        <a href='#' class="btn" type="button" ng-click="addSample()">Add</a>
      </div>      

    </div>

    <div class='row-fluid' id='folder-content-container'>

      <div id="folder-list" class='span2'>

        <ul class='folder-ul folder-ul-top'>
          <li ng-repeat="folder in folders"
              ng-include="'folderTree'">
          </li>
        </ul>

      </div>

      <div id="folder-current" class='span10'>

        <div class="folder-contents-heading" ng-show="current_folder.samples.length > 0">

          <div class="folder-contents-row">
              <div class="folder-contents-cell" ng-style="{ width: width.id }">Id</div>
              <div class="folder-contents-cell" ng-style="{ width: width.name }">Name</div>
              <div class="folder-contents-cell" ng-style="{ width: width.role }">Workflow</div>
              <div class="folder-contents-cell" ng-style="{ width: width.fields }">Fields</div>
              <div class="folder-contents-cell" ng-style="{ width: width.created }">Created at</div>
              <div class="folder-contents-cell" ng-style="{ width: width.updated }">Updated at</div>
              <div class="folder-contents-cell" ng-style="{ width: width.status }">Status</div>
          </div>

        </div>

        <div class="folder-contents" ng-style='style()' resize>

          <div ng-repeat="sample in current_folder.samples"
               ng-include="'sample'"
               ng-init="indent=0">
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
