<div class='row-fluid'>

  <div class='span6' >
    <h4>Notifications</h4>
  </div>

  <div class='span6' style='position: relative'>
    <div style='position: absolute; right: 0; bottom: 0; background: #eee;'>
      <% if params[:include_unread] %>
        <button id="hide_read" class='btn btn-mini btn-primary'>Hide Read</button>  
      <% else %>
        <button id="show_read" class='btn btn-mini btn-primary'>Show Read</button>
      <% end %>
      <button id='mark_all' class='btn btn-mini btn-info'>Mark all as read</button>
    </div>
  </div>

</div>

<% if !local_assigns[:task].nil? %>

  <table class='table table-condensed compact' 
    id="notification-table" 
    data-source="<%= notifications_url(format: 'json', task_id: task.id, include_unread: params[:include_unread] ? true : false) %>">

<% else %>

  <table class='table table-condensed compact' 
    id="notification-table" 
    data-source="<%= notifications_url(format: 'json', user_id: user.id, include_unread: params[:include_unread] ? true : false) %>">

<% end %>

  <thead>
    <tr>
      <th>Task</th>
      <th>Content</th>
      <th>Job</th>
      <th>Metacol</th>
      <th>Date/Time</th>
      <th>Read</th>
    </tr> 
  </thead>

  <tbody>
  </tbody>

</table>

<script>

  var table = $('#notification-table').dataTable({

    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#notification-table').data('source'),
    "bFilter": false,
    "bLengthChange": false,

    "createdRow": function ( row, data, index ) {

      $('.read',$(row)).change(function() {
        var url = '/read?note_id=' + $(this).data('note-id');
        if ( !$(this).prop('checked') ) {
          url += '&unread=true';
        }
        $.ajax({
          url: url,
          async: true
        }).done(function(data) {
          table.fnDraw();
        })
      });
    },
    "language": {
      "emptyTable": "No notifications."
    }

  });

  <% if !local_assigns[:task].nil? %>
    url = "/tasks/<%= task.id %>";
  <% else %>
    url = "/notification_list/";
  <% end %>

  $("#show_read").click(function() {
    window.location = url + "?include_unread=true";
  });

  $("#hide_read").click(function() {
    window.location = url;
  });

  $("#mark_all").click(function() {
    window.location = url + "?mark_all=true";
  });

</script>