<script type="text/ng-template" id="new_sample">

  <!-- HEADING -->

   <div class='sample-header'>
     <span  class='sample-type-name'>{{sample.sample_type.name}}:</span>
     <input class='editable' ng-model="sample.name" ></input>
     <input class='editable long' ng-model="sample.description" ></input>
     <i class='icon-remove' ng-if="!no_remove" ng-click='remove_sample(sample)'></i>
   </div>

   <!-- FIELDS -->

   <ul class='sample-tree-list'>

     <li ng-repeat='f in sample.sample_type.fields track by $index'>

       <!-- SIMPLE FIELD -->

       <div ng-if="f.type == 'number' || f.type == 'string'">
         <span class="field-name">{{f.name}}:</span>
         <input class='editable' 
                ng-model="sample.fields[f.index]" 
                type="{{f.type}}" 
                step="any"></input>
       </div>

       <div ng-if="f.type == 'url'">
         <span class="field-name">{{f.name}}:</span>
         <input class='editable' 
                ng-model="sample.fields[f.index]" 
                type="text" 
                step="any" ng-init="sample.fields[f.index] = 'http://'"></input>
       </div>

       <!-- LINK TO ANOTHER SAMPLE -->

       <div ng-if="f.type != 'url' && f.type != 'string' && f.type != 'number'">

         <span class="field-name">{{f.name}}:</span>

         <span ng-init="sample.fields[f.index] = { choice: 'existing', sample: '', name: f.name }">

           <i class='icon-refresh' ng-click='toggle_new_existing(sample.fields[f.index])'></i>

           <span ng-if="sample.fields[f.index].choice == 'existing'">
             <input class='editable' ng-model='sample.fields[f.index].sample' autocomplete="f.type"></input>
           </span>

           <span ng-if="sample.fields[f.index].choice == 'new'">

             <button ng-class='new_subsample_button_class(sample.fields[f.index],st)' 
                     ng-repeat="st in f.type"
                     ng-click="new_sub_sample(sample,sample.fields[f.index],st)"
                     ng-disabled='sample.fields[f.index].sample != nil'>{{st}}</button>

             <i class='icon-remove' ng-if="sample.fields[f.index].sample" ng-click='remove_subsample(sample.fields[f.index])'></i>

             <ul class='sample-tree-list'>
               <li ng-if="sample.fields[f.index].sample" 
                   ng-include="'new_sample'" 
                   ng-init="sample = sample.fields[f.index].sample; no_remove=true"></li>
             </ul>

           </span>

         </span>

       </div>

     </li>

   </ul>

</script>
