<div class='project-heading project-expander' ng-click="set_mode('new')">
  <span>New Sample(s)</span>        
</div>

<select ng-model="sample_type_choice" ng-init="sample_type_choice=1">
  <option ng-repeat="st in sample_types" value="{{st.id}}">
    {{st.name}}
  </option>
</select><br />

<button class='btn btn-primary' ng-click="new_sample()">New</button>  