<div ng-if="mode == 'new' && new_samples.length > 0">
  <span>
    <b>New sample(s) </b>
    <a href="#" class='btn btn-mini btn-primary bigger' ng-click="save_new_samples()">Save New Sample(s)</a>
  </span>

  <div class='sample-tree-list'>
    <ul>
      <li ng-repeat="sample in new_samples" ng-include="'sample_form'">
      </li>
    </ul>
  </div>
</div>