
<script type='template' id='note-template'> 
  <li class='krill-note'>{{= content }}</li>
</script>

<script type='template' id='check-template'>
  <li class="krill-check">
    <input type="checkbox" class="krill-checkbox"></input>
    <span>{{= content }}</span>
  </li>
</script>

<script type='template' id='warning-template'>
  <li class='krill-warning'><span>{{= content }}<span></li>
</script>

<script type='template' id='bullet-template'>
  <li class='krill-bullet'><span>{{= content }}<span></li>
</script>

<script type='template' id='image-template'>
  <li><img src='{{= content }}' class='krill-image'></img></li>
</script>

<script type='template' id='separator-template'>
  <li class='krill-seperator'></li>
</script>

<script type='template' id='select-template'>
  <li>
    <span class='krill-select-label'>{{= label }}</span>
    <select class='krill-select' id='{{= variable }}'>
    {{ $.each(choices,function(i) { }}
        <option>{{= choices[i] }}</option>
    {{ }); }}
    </select>
  </li>
</script>

<script type='template' id='input-template'>
  <li class='krill-input'>
    <span class='krill-input-label'>{{= label }}</span>
    <input 
      {{ if ( dflt ) { }}
        value='{{= dflt }}'
      {{ } }}
      id='{{= variable }}' 
      type='{{= type }}' 
      class='krill-input-box'>
    </input>
  </li>
</script>

<script type='template' id='upload-template'>
  <li>
    <div class="well row-fluid krill-upload" id='{{= variable }}'>
      <div class="span3">
        <div class="btn btn-success fileinput-button">
          <span class='attach-button'>Attach files...</span>
          <input class="krill-upload-input" type="file" name="files[]" data-url="/krill/upload?job={{= job }}" multiple></input>
        </div>
      </div>
      <div class="span9">
        <ul class="list krill-upload-list">
        </ul>
      </div>
    </div>
  </li>
</script>

<script type='template' id='upload-waiting-template'>
  <li class="krill-upload-waiting'">
    <i class="icon-time"></i>{{= name }}
  </li>
</script>

<script type='template' id='uploaded-item-template'>
  <li class='krill-upload-complete'>
    <i class="icon-ok"></i>
    <span class="krill-upload-name"> {{= name }}</span>
    <span>(<span class="krill-upload-id">{{= id }}</span>)</span>
  </li>
</script>

<script type='template' id='take-template'>
  <li>
    <input class='krill-checkbox' type="checkbox"></input></input>
    <span class='krill-item-id'>Item {{= id }}</span>
    <span class='krill-item-name'>{{= name }}</span>
    {{ if ( sample ) { }}
      <span class='krill-item-sample'>({{= sample }})</span>
    {{ } }}
    <span class='krill-item-location'>{{= location }}</span>
  </li>
</script>

































