<div class="row-fluid">

  <div class="span3" id='state'></div>
  <div class="span8 well" id='current'></div>
  <div class="span1"><button id='continue' class='btn'>Next</button></div>

</div>

<script>

  state = JSON.parse('<%= escape_javascript(@job.state.html_safe) %>');

  render_json($('#state'),state);

  krill = new Krill(state,'current');
  krill.display();

  $('#continue').click(function() {
     // TODO: Make this ajax and use post
     window.location = 'continue?job=<%= params[:job] %>';
  });
 


</script>
