<p>Job: <%= @job.id %>.</p>

<p>PC:<%= @job.pc %>.</p>

<div id='state'></div>

<button id='continue' class='btn'>Next</button>

<script>

  $('#continue').click(function() {
     window.location = 'continue?job=<%= params[:job] %>';
  });
 

  render_json($('#state'),JSON.parse('<%= escape_javascript(@job.state.html_safe) %>'));

</script>
