<h1>Job <%= @job.id %> is completed</h1>

<center><a href='/krill/ui?job=<%= @job.id %>' class='btn'>View Job Steps</a></center>

<div class='row-fluid'>
  <div class='span2'>Inventory Remaining</div>
  <div class='span6'>History</div>
  <div class='span4'></div>
<div>

<div class='row-fluid'>
  <div class='span2' id='inventory'></div>
  <div class='span6' id='history'></div>
  <div class='span4'></div>
<div>

<script>
  render_json($('#history'),JSON.parse('<%= escape_javascript(@history.html_safe) %>'));
  render_json($('#inventory'),JSON.parse('<%= escape_javascript(@inventory.to_json.html_safe) %>'));
</script>
