<div class="row-fluid">
 
  <div class="span2" id="krill-tools">
    <div class="krill-inventory" id='inventory'></div>
    <div class="krill-history" id='history'></div>
  </div>

  <div class="span10" id="krill-steps-ui">
      <div class="outline krill-carousel-btn" id='rev' class='btn'><i class='krill-arrow icon-arrow-left'></i></div>
      <div class="" id='steps'></div>
      <div class="outline krill-carousel-btn" id='fwd' class='btn'><i class='krill-arrow icon-arrow-right'></i></div>
  </div>

</div>



<script>

  krill = new Krill(<%= @job.id %>);
  krill.initialize();
  window.onresize = function(){ krill.resize(); }

</script>
