<div class="row-fluid">

  <div class="span1">Inventory</div>
  <div class="span2">History</div>
  <div class="span8">Current Step</div>
  <div class="span1"></div>

</div>

<div class="row-fluid">

  <div class="span1 well" id='inventory'></div>
  <div class="span2 well" id='history'></div>
  <div class="span8 well" id='steps'></div>
  <div class="span1"><button id='next' class='btn'>Next</button></div>

</div>

<script>

  krill = new Krill(<%= @job.id %>);
  krill.initialize();

</script>
