<% if @error %>
  <%= @error %>
<% else %>
  <%= @layout.html_safe %>
  <script>
    aquarium_plugin_path = '<%= params[:path] %>';
    try {
      <%= @code.html_safe %>
    } catch (e) {
      $('body').empty().append('<p>'+e+'</p>');
    }
  </script>
<% end %>