<h1>Plugin Tester</h1>

<div class='row-fluid'>

  <div class='span4 plugin-container'>
    <iframe class='plugin-iframe' allowtransparency="true" src='show?path=whatever/plugins/user_activity'></iframe>
  </div>

  <div class='span4 plugin-container'>
      <iframe class='plugin-iframe' allowtransparency="true" src='show?path=whatever/plugins/template'></iframe>
  </div>

  <div class='span4 plugin-container'>    
  </div>

</div>


