<div layout="row"  layout-align="center center" layout-padding ng-if="projects && sample_names && sample_type_names">

    <label class="md-button md-raised upload-button">
      Upload <input type=file
                    id="spreadsheet"
                    file="spreadsheet"
                    style="display: none;"
                    custom-on-change="upload_change">
    </label>

    <div ng-if="spreadsheet_name" style="margin-top: 10px">
      <a href='#' class='btn btn-small btn-primary' ng-click="upload()">Upload</a>
    </div>

</div>