<script type="text/ng-template" id="sample_form">

<div class='sample-container'>

   <span  class='sample-type-name' ng-if="!sample.edit">
      <span class='name' ng-if="!no_remove">{{sample.sample_type.name}}:</span>
      <span class='pull-right'>
        <a href="#" ng-click='remove_sample(sample)' class="item-delete">
          <span ng-if="!no_remove">&times;</span>
        </a>
      </span>
   </span>

   <ul class='sample-tree-list' ng-controller='sampleCtrl'>

     <!-- STATIC FIELDS -->

     <li>
       <table class='field-table'>     
         <tr>    
           <td class='name'>Name:</td> 
           <td class='modifer'></td>
           <td class='td-input'><input class='input-no-style full' 
               ng-model="sample.name" 
               type="text"></input>
           </td>
           <td class='modifer'></td>           
         </tr>
       </table>
     </li>       

     <li>
       <table class='field-table'>     
         <tr>    
           <td class='name'>Description:</td> 
           <td class='modifer'></td>
           <td class='td-input'><input class='input-no-style full' 
               ng-model="sample.description" 
               type="text"></input>
           </td>
           <td class='modifer'></td>           
         </tr>
       </table>
     </li>  

     <li>
       <table class='field-table'>         
         <tr>
           <td class='name'>Project:</td> 
           <td class='modifer'></td>
           <td class='td-input'>       
             <input class='input-no-style full' 
                    ng-model="sample.project" 
                    type="text"
                    projectcomplete></input>
            </td>
           <td class='modifer'></td>            
          </tr>
       </table>
     </li>         

     <!-- SIMPLE FIELDS -->     
     <li ng-repeat="ft in sample.sample_type.field_types | filter: non_sample" 
         ng-init="field_type_name = ft.name">
       <table class='field-table'>

         <tr ng-repeat="fv in sample.field_values | filter: fv_name_filter(field_type_name)">
           <td class='name name-{{ft.ftype}}'><span ng-if="$first">{{ft.name}}:</span></td>
           <td class='modifer'><i ng-if="ft.array && $first" class='icon-plus clickable' ng-click="add_to_array(sample,ft)"></i></td>           
           <td class='td-input'>
             <input ng-if="!ft.choices"
                    class='input-no-style full mono' 
                    ng-model="fv.value" 
                    type="{{ft.ftype == 'number' ? 'number' : 'text'}}" 
                    step="any"></input>          
              <select ng-if="ft.choices"
                      class="select-no-style full mono"
                      ng-model="fv.value"
                      ng-options="choice for choice in ft.choices_array">
           </td> 
           <td class='modifer'>
             <i ng-if="ft.array" class='icon-remove clickable' ng-click="remove_from_array(fv)"></i>
           </td>           
         </tr>

         <tr ng-if="is_empty_array(sample,ft)">
           <td class='name name-{{ft.ftype}}'>{{ft.name}}:</td>
           <td class='modifer'><i ng-if="ft.array" class='icon-plus clickable' ng-click="add_to_array(sample,ft)"></i></td>
           <td class='value subtle'>(empty)</td> 
           <td class='modifer'></td>                       
         </tr>  

       </table>
     </li> 

     <!-- SUBSAMPLE FIELDS -->
     <li ng-repeat="ft in sample.sample_type.field_types | filter: { ftype: 'sample' }:true" 
         ng-init="field_type_name = ft.name">

       <table class='field-table'>  

         <tr ng-repeat-start="fv in sample.field_values | filter: fv_name_filter(field_type_name)">
           <td class='name name-sample'>
              <span ng-click='toggle_new_existing(sample,fv)' ng-if="!fv.new_child_sample" class='toggle-se'>&#x021C6;</span>           
              {{ft.name}}<span ng-if="ft.array">({{$index}}):</span><span ng-if="!ft.array">:</span>                 
           </td>
           <td class='modifer'>
             <i ng-if="ft.array && $first" class='icon-plus clickable' ng-click="add_to_array(sample,ft)"></i>             
           </td>
           <td class='td-input'>
               <input class='input-no-style full' 
                      ng-if="!fv.choice || fv.choice == 'existing'"
                      ng-model="fv.child_sample_name"
                      samplecomplete="fv.allowable_child_types"
                      type="text"></input>
               <button ng-if="fv.choice == 'new'"
                       ng-repeat="st_name in fv.allowable_child_types"
                       ng-class="new_subsample_button_class(fv.new_child_sample,st_name)"
                       ng-click="new_sub_sample(sample,fv,st_name)"
                       ng-disabled="fv.new_child_sample != null">{{st_name}}</button> 
               <i class='icon-remove clickable' 
                  ng-if="fv.new_child_sample" 
                  ng-click="remove_subsample(fv)"></i>   
           </td>
           <td class='modifer'>
             <i ng-if="ft.array" class='icon-remove clickable' ng-click="remove_from_array(fv)"></i>
           </td>             
         </tr>

         <tr ng-repeat-end>
           <td colspan=4
             ng-if="fv.new_child_sample" 
             ng-include="'sample_form'" 
             ng-init="sample = fv.new_child_sample; no_remove=true; no_cancel=true">
           </td>
         </tr>

         <tr ng-if="is_empty_array(sample,ft)">
           <td class='name name-{{ft.ftype}}'>{{ft.name}}:</td>
           <td class='modifer'><i ng-if="ft.array" class='icon-plus clickable' ng-click="add_to_array(sample,ft)"></i></td>
           <td class='value subtle'>(empty)</td> 
           <td class='modifer'></td>                       
         </tr>  

       </table>

     </li>

   </ul>

 </div>

</script>
