
<script type="text/ng-template" id="collectionDisplay">

  <table class='collection-table'>
    <tr ng-repeat="row in matrix track by $index">
      <td ng-repeat="id in row track by $index">
        <span ng-if="id == -1">&nbsp;</span>       
        <span ng-if="id != -1 && id != sample.id">{{id}}</span> 
        <span ng-if="id == sample.id" class='collection-highlight'>{{id}}</span> 
      </td>
    </tr>
  </table>

  <div ng-include="'dataList'"></div>  

</script>

<script type="text/ng-template" id="inventory-item">

  <table ng-repeat="item in items | filter: item_filter(sample,container)" class='inventory-table'>

    <tr>
      
      <td style="width: 20%">
        <b ng-if="$first">{{container.name}}</b>
      </td>

      <td style="width: 55px"><b><a href="/items/{{item.id}}">{{item.id}}</a></b></td>

      <td style="width: 80px">
        <span ng-if="item.location == 'deleted'" class='deleted-item'>{{item.location}}</span>
        <span ng-if="item.location != 'deleted'">{{item.location}}</span>
      </td>

      <td ng-if="item_list" 
          style="width: 40%"
          ng-include="'dataList'" 
          ng-init="parent = item; type='Item'">
      </td>

      <td ng-if="col_list"
          style="width: 40%"
          ng-include="'collectionDisplay'"
          ng-init='parent = item; matrix = item.matrix'>
      </td>

      <td style="width: 85px">{{item.created_at|date}}</td>

      <td style="width: 20px">
        <span ng-if="item.location != 'deleted' && allowed(sample)"
              class='pull-right'>
          <a href="#" ng-click="delete(item)" class='item-small-icon'>&times;</a>
        </span>
        <span ng-if="item.location == 'deleted' && allowed(sample)"
              class='pull-right'>
          <a href="#" ng-click="restore(item)" class='item-small-icon'>&#8617;</a>
        </span>              
      </td>

    </tr>

  </table>

</script>

<script type="text/ng-template" id="inventory">

  <div ng-controller='inventoryCtrl'> 

    <ul ng-if="!sample.loading_inventory && sample.visible_inventory() > 0" class='sample-tree-list'>

      <li ng-repeat="container in sample.containers" 
          ng-if="sample.num_items(container)>0"
          ng-include="'inventory-item'"
          ng-init="item_list = true; items = sample.items">
      </li>

      <li ng-repeat="container in sample.collection_containers"
          ng-if="sample.num_collections(container)>0"
          ng-include="'inventory-item'"
          ng-init="col_list = true; items = sample.collections">
      </li>      

    </ul>

    <ul ng-if="sample.loading_inventory" class='sample-tree-list'>
      <li>Loading inventory information ...</li>
    </ul>

    <ul ng-if="!sample.loading_inventory && sample.visible_inventory() == 0" 
        class='sample-tree-list'>
      <li>No items in inventory (<a href='#' ng-click='toggle_inventory(sample)'>Show Description</a>)</li>
    </ul>    

  </div>

</script>