<script type="text/ng-template" id="dataDisplay">
  <div ng-repeat="(key,val) in data" ng-if="!empty(data)">
    <b>{{key}}: </b>{{val}}
  </div>
  <span ng-if="empty(data)">-</span>
</script>

<script type="text/ng-template" id="inventory">

  <ul ng-controller='inventoryCtrl' ng-if="sample.items.length > 0">

    <li ng-repeat="container in sample.containers"
        ng-if="num_items(sample,container)>0">

      <table ng-repeat="item in sample.items | filter: { object_type_id: container.id }:true"
             class='inventory-table'>
        <tr>
          <td style="width: 20%"><b ng-if="$first">{{container.name}}</b></td>
          <td><b><a href="/items/{{item.id}}">{{item.id}}</a></b></td>
          <td>{{item.location}}</td>
          <td  style="width: 30%" ng-include="'dataDisplay'" ng-init='data = item.data'></td>
          <td>{{item.created_at|date}}</td>
          <td>{{item.updated_at|date}}</td>              
        </tr>
      </table>   

    </li>

  </ul>

  <ul ng-controller='inventoryCtrl' ng-if="sample.items.length == 0">
    <li>No items inventory</li>
  </ul>


</script>