<script type="text/ng-template" id="dataDisplay">
  <div ng-repeat="(key,val) in data" ng-if="!empty(data)">
    <b>{{key}}: </b>{{val}}
  </div>
</script>

<script type="text/ng-template" id="collectionDisplay">
  <table class='collection-table'>
    <tr ng-repeat="row in matrix track by $index">
      <td ng-repeat="id in row track by $index">
        <span ng-if="id == -1">&nbsp;</span>       
        <span ng-if="id != -1 && id != sample.id">{{id}}</span> 
        <span ng-if="id == sample.id" class='collection-highlight'>{{id}}</span> 
      </td>
    </tr>
  </table>
</script>

<script type="text/ng-template" id="inventory">

  <div ng-controller='inventoryCtrl'> 

    <ul ng-if="visible_inventory(sample) > 0" 
        class='sample-tree-list'>

      <li ng-repeat="container in sample.containers" 
          ng-if="num_items(sample,container)>0">

        <table ng-repeat="item in sample.items | filter: item_filter(sample,container)"
               class='inventory-table'>
          <tr>
            <td style="width: 20%"><b ng-if="$first">{{container.name}}</b></td>
            <td style="width: 55px"><b><a href="/items/{{item.id}}">{{item.id}}</a></b></td>
            <td style="width: 80px">
              <span ng-if="item.location == 'deleted'" class='deleted-item'>
                {{item.location}}
              </span>
              <span ng-if="item.location != 'deleted'">
                {{item.location}}
              </span>
            </td>
            <td  style="width: 40%" ng-include="'dataDisplay'" ng-init='data = item.data'></td>
            <td style="width: 85px">{{item.created_at|date}}</td>
            <td style="width: 20px">
              <span ng-if="item.location != 'deleted' && allowed(sample)"
                    class='pull-right'>
                <a href="#" ng-click="delete(item)" class='item-delete'>&times;</a>
              </span>
              <span ng-if="item.location == 'deleted' && allowed(sample)"
                    class='pull-right'>
                <a href="#" ng-click="restore(item)" class='item-delete'>&#8617;</a>
              </span>              
            </td>
          </tr>
        </table>

      </li>

      <li ng-repeat="container in sample.collection_containers"
          ng-if="num_collections(sample,container)>0"
          ng-class="li_selected_class()">

        <table ng-repeat="col in sample.collections | filter: item_filter(sample,container)"
               class='inventory-table'>
          <tr>
            <td style="width: 20%"><b ng-if="$first">{{container.name}}</b></td>
            <td style="width: 55px"><b><a href="/items/{{col.id}}">{{col.id}}</a></b></td>
            <td style="width: 80px">
              <span ng-if="col.location == 'deleted'" class='deleted-item'>{{col.location}}</span>
              <span ng-if="col.location != 'deleted'">{{col.location}}</span>          
            </td>
            <td style="width: 40%"
                ng-include="'collectionDisplay'" 
                ng-init='matrix = col.data.matrix'></td>
            <td style="width: 85px">{{col.created_at|date}}</td>
            <td style="width: 20px">
              <span ng-if="col.location != 'deleted' && allowed(sample)"
                    class='pull-right'>
                <a href="#" ng-click="delete(col)" class='item-delete'>&times;</a>
              </span>
            </td>          
          </tr>

        </table> 

      </li>      

    </ul>

    <ul ng-if="visible_inventory(sample) == 0" 
        class='sample-tree-list'>
      <li>No items in inventory</li>
    </ul>

  </div>

</script>