<script type="text/ng-template" id="create_sample_form">

  <div ng-if="samples.length > 0">
    <div ng-repeat="sample in samples track by $index" 
          ng-include="'sample_form2'">
    </div>
  </div>

</script> 

<script type="text/ng-template" id="create_collection_form">

  <div layout-padding>

    <p><b>To create new collection</b>: Click on the "choose collection type" button. Choose a collection type. Edit 
    your collection. Click "Save".</p>

  </div>


</script>



