<div ng-show="views.project.selection.sample_type && views.project.selected">

  <div class='sample-tree-list'>
    <ul>
      <li ng-repeat="sample in views.project.samples | filter: by_user track by $index"
          ng-include="'sample_router'">
      </li>
    </ul>
  </div>

  <div ng-if="!views.project.selection.loaded">
    <p>Loading samples...</p>
  </div>

  <div ng-if="views.project.selection.loaded && views.project.samples && views.project.samples.length == 0">
    <p>No samples</p>
  </div>


</div>
