<div ng-if="views.recent.selected">

  <div class='sample-list-header'>
    <span class="sample-list-name">
      Recently Created Samples
    </span>
  </div>

  <div class='sample-tree-list'>
    <ul>
      <li ng-repeat="sample in views.recent.samples | filter: by_user "
          ng-include="'sample_router'">
      </li>
    </ul>
  </div>

</div>
