<div ng-show="views.recent.selected">

  <div class='sample-tree-list'>
    <ul>
      <li ng-repeat="sample in views.recent.samples | filter: by_user "
          ng-include="'sample_router'">
      </li>
    </ul>
  </div>

</div>
