<script type="text/ng-template" id="sample_heading">

<table class='field-table sample-heading-table'>

  <tr>

    <td style='width: 16px'>
       <span class="project-expander" 
             ng-if="!sample.open && !sample.edit" 
             ng-click="toggle(sample)"
             ng-attr-data-sample-header="{{sample.name}}">&#9658;</span>
       <span class="project-expander" 
             ng-if="sample.open && !sample.edit"
             ng-click="toggle(sample)"
             ng-attr-data-sample-header="{{sample.name}}">&#9660;</span>
       <span class="project-expander"
             ng-if="sample.open && sample.edit"
             ng-attr-data-sample-header="{{sample.name}}">&#9660;</span>    
    </td>

    <td class="sample-heading-name" ng-click="toggle(sample)">
       <span class="sample-id">{{sample.id}}:</span>
       <span class='sample-name'>{{sample.name}}</span>
       <span ng-if='sample.user_id != user.current.id' class='owner-login'> ( {{user.logins[sample.user_id]}} ) </span>
    </td>

    <td ng-class="button_heading_class(sample)">

      <div ng-if="sample.open" class='pull-right'>

        <a ng-if="sample.open && sample.inventory" 
           class="btn btn-mini dropdown-toggle" 
           ng-click="toggle_show_deleted(sample)">
          <span ng-show="sample.show_deleted">Hide</span>
          <span ng-show="!sample.show_deleted">Show</span>          
          Deleted
        </a>      

        <div class='btn-group' style="margin-right: 5px;">

          <a class="btn btn-mini dropdown-toggle"
             data-toggle="dropdown"
             data-sample-heading-button="actions"
             ng-attr-data-sample-name="{{sample.name}}">
            Actions <span class="caret"></span>
          </a>

          <ul class='dropdown-menu dropdown-in-stl pull-left'>

           <li ng-show="sample.open && !no_edit && !sample.edit">
             <a ng-click="toggle(sample)">
               <span ng-show="!sample.inventory">Inventory</span>
               <span ng-show="sample.inventory">Description</span>     
             </a>       
           </li>

           <li ng-show="!sample.edit && !no_edit && allowed(sample)">
             <a ng-click="editing || edit(sample)">
               Edit
             </a>
           </li>

           <li ng-show="!sample.edit && !no_edit && !sample.inventory">
             <a ng-click="copy(sample)">
               Copy
             </a>
           </li>

           <li ng-show="sample.inventory" class='dropdown-submenu pull-left'>
             <a tabindex="-1"
                data-sample-action="new-item"
                ng-attr-data-sample-name="{{sample.name}}">New Item</a>
             <ul class='dropdown-menu dropdown-in-stl'>
               <li ng-repeat="container in sample.sample_type.object_types"
                   ng-click="new_item(sample,container)">
                   <a href="#"
                      ng-attr-data-new-item-choice="{{container.name}}"
                      ng-attr-data-sample-name="{{sample.name}}">{{container.name}}</a>
               </li>
             </ul>
           </li>           

           <li ng-show="sample.edit && !no_cancel">
             <a ng-click='view(sample)'>
               Cancel
             </a>
           </li>

           <li ng-if="sample.edit && !no_cancel">
             <a ng-click='save(sample)'>
               Save
             </a>
           </li>

          </ul>

        </div>    

      </div>

    </td>

    <td style='width: 50px'> 
       <input class="tag pull-right"
              ng-model="sample.data.note"
              ng-blur="noteBlur(sample)"
              ng-style="noteColor(sample.data.note)"></input>
    </td> 

  </tr>

</table>

</script>