<div ng-if="projects && sample_names && sample_type_names"
     layout="column"
     layout-padding
     class="sidebar">

  <div class="title">
    <h1 class="md-title">Search For Samples</h1>
  </div>

  <div class="search-part">
    <label>Sample Name or ID</label>
    <input type="text"
           ng-model="views.search.query"
           style="width: 100%" 
           samplecomplete="'all'"
           data-search-input="sample-identifier">
  </div>

  <div class="search-part">
    <label>Sample Type</label>
    <input type="text"
           ng-model="views.search.sample_type"
           style="width: 100%"
           sampletypecomplete
           data-search-input="sample-type"> 
  </div>

  <md-input-container style="padding-top: 0">
  <div class="search-part">
    <label style="color: rgb(0,0,0,0.87); font-size: 14px; font-weight: 500; margin-left: 5.5px; margin-bottom: 0; transform: none">Item ID</label>
    <input  name="item_id"
            type="number" min='1' step="any"
            style="width: 100%; margin-bottom: 0"
            ng-change="user.changed = true"
            ng-model="views.search.item_id"
            data-search-input="find-item">
    <div ng-messages="item_id.$error"></div>
    <div ng-messages="!item_id.$error">
      <div ng-message='type'>Your Item ID must be a number.</div>
      <div ng-message="min">Your Item ID must be higher than 0.</div>
    </div>  
  </div>
  </md-input-container>


  <div class="search-part" layout="row">
    <div>
      <label>Project</label>
      <input type="text"
             ng-model="views.search.project"
             style="width: 70%"
             projectcomplete
             data-search-input="project">
    </div>
    <md-switch ng-model='views.search.project_filter'
               data-search-switch="filter">
      Filter?
    </md-switch>    
  </div>

  <div class="search-part" layout="row">  
    <div>
      <label>User</label>
      <input type="text"
             ng-model="views.search.user" 
             style="width: 70%" 
             usercomplete
             data-search-input="user">    
    </div>
    <md-switch ng-model='views.search.user_filter'>
      Filter?
    </md-switch> 
  </div>    

  <div layout="row" layout-align="center center">
    <md-button ng-class="views.search.selected ? 'md-raised md-primary' : 'md-raised'" 
               ng-click="search(0); select_view('search')"
               data-search-button="search">Search</md-button> 
  </div>
  
  <p style="line-height: 14pt">
  <b>To upload a spreadsheet</b>: Click "Upload" on the left and choose a file, which will add your
  new samples, but will not save them. Review the sample definitions and any warnings,
  and then click "Save". Spreadsheets should be in .csv format. The first entry of the first row should
  specify the sample type name. Remaining entries in the first row should be names of fields, the
  word 'Project', or the word 'Description'. Fields that correspond to arrays may show up multiple times, 
  and can be empty (in which case the entry is ignored). The remaining rows specify the samples. In the 
  first column should be the name of the sample. All other columns correspond to their headings.
  Subsamples can be referred to by name or id. </p>  

  <!-- item popup -->
  <div item="views.search.item" 
       container="views.search.item.object_type"
       sample="views.search.item.sample"
       collection="views.search.item.collection"
       row="views.search.item.row"
       column="views.search.item.column"
       nolink="true"></div>

</div>