<div ng-show="views.search.selected">

  <div class='search-pager' ng-if="views.search.pages.length > 1">
    <span ng-repeat="page in views.search.pages" 
          ng-click="search(page)"
          ng-class="page_class(page)">
      {{page+1}}
    </span> 
  </div>

  <ul class='plain-list'>
    <li ng-repeat="sample in views.search.samples"
        ng-include="'sample_router'">
    </li>
  </ul>

  <div ng-if="views.search.samples.length == 0 && views.search.status == 'done'" 
       layout-align="center center"
       layout="row"
       layout-padding>
    <div class="md-title">No results matching with your searched inputs</div>
  </div>

  <div flex layout-padding ng-if="views.search.status == 'searching' || views.search.status == 'preparing'" >
    <div layout="row">
      <div flex="25"></div>
      <div flex="50">
        <br /><br />
        <h2 ng-if="views.search.status == 'searching'" class="md-title">Retrieving data ...</h2>
        <h2 ng-if="views.search.status == 'preparing'" class="md-title">Preparing data ...</h2>        
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>

</div>
