<div ng-show="views.search.selected">

  <div class='sample-tree-list' ng-repeat="st_id in views.search.sample_types">
    <h4>{{sample_type_from_id(st_id).name}}</h4>
    <ul>
      <li ng-repeat="sample in views.search.samples"
          ng-include="'sample_router'"
          ng-if="sample.sample_type_id == sample_type_from_id(st_id).id">
      </li>
    </ul>
  </div> 

  <div ng-if="views.search.samples.length == 0">
    No results.
  </div>

</div>
