<div ng-if="projects && sample_names && sample_type_names" layout="column" layout-padding>

  <div class="title">
    <h1 class="md-title">Search Parameters</h1>
  </div>

  <div class="search-part">
    <label>Sample Name or ID</label>
    <input type="text" ng-model="views.search.query" style="width: 100%" samplecomplete="'all'">
  </div>

  <div class="search-part">
    <label>Sample Type</label>
    <input type="text" ng-model="views.search.sample_type" style="width: 100%" sampletypecomplete> 
  </div>

  <div class="search-part" layout="row">
    <div>
      <label>Project</label>
      <input type="text" ng-model="views.search.project" style="width: 70%" projectcomplete>
    </div>
    <md-switch ng-model='views.search.project_filter'>
      Filter?
    </md-switch>    
  </div>

  <div class="search-part" layout="row">  
    <div>
      <label>User</label>
      <input type="text" ng-model="views.search.user" style="width: 70%" usercomplete>    
    </div>
    <md-switch ng-model='views.search.user_filter'>
      Filter?
    </md-switch> 
  </div>    


  <div layout="row"  layout-align="center center">
  <md-button ng-class="views.search.selected ? 'md-raised md-primary' : 'md-raised'" 
   ng-click="search(0); select_view('search')">Search</md-button> 
  </div>

</div>