<div ng-if="projects && sample_names && sample_type_names"
     layout="column"
     layout-padding
     class="sidebar">

  <div class="title">
    <h1 class="md-title">Sample Search</h1>
  </div>

  <div class="search-part">
    <label>Sample Name or ID</label>
    <md-tooltip md-direction="right" class="search-tooltip">
        Search for sample by sample name or numeric ID
    </md-tooltip> 
    <input type="text"
           ng-model="views.search.query"
           style="width: 100%" 
           samplecomplete="'all'"
           data-search-input="sample-identifier">
  </div>

  <div class="search-part">
    <label style="width: 40%">Sample Type</label>
    <md-tooltip md-direction="right" class="search-tooltip">
        Search for samples with sample type name
    </md-tooltip> 
    <input type="text"
           ng-model="views.search.sample_type"
           style="width: 100%"
           sampletypecomplete
           data-search-input="sample-type"> 
  </div>

  <md-input-container style="padding-top: 0">
  <div class="search-part">
    <label style="cursor: pointer; color: rgb(0,0,0,0.87); font-size: 14px; font-weight: 500; margin-left: 5.5px; margin-bottom: 0; transform: none">Item ID</label>
    <md-tooltip md-direction="right" class="search-tooltip">
      Search for sample of item by numeric item ID
    </md-tooltip>  
    <input  name="item_id"
            type="text" min='1' 
            style="width: 100%; margin-bottom: 0"
            ng-change="user.changed = true"
            ng-model="views.search.item_id"
            ng-pattern="/^[0-9]+/"
            data-search-input="find-item"> 
  </div>
  </md-input-container>


  <div class="search-part" layout="row">
    <div>
      <label>Project</label>
      <md-tooltip md-direction="right" class="search-tooltip">
        Input project name for filter
      </md-tooltip> 
      <input type="text"
             ng-model="views.search.project"
             style="width: 70%"
             projectcomplete
             data-search-input="project">
    </div>
    <md-switch ng-model='views.search.project_filter'
               data-search-switch="filter">
      Filter?
    </md-switch>    
  </div>

  <div class="search-part" layout="row">  
    <div>
      <label>User</label>
      <md-tooltip md-direction="right" class="search-tooltip">
        Input user name for filter
    </md-tooltip> 
      <input type="text"
             ng-model="views.search.user" 
             style="width: 70%" 
             usercomplete
             data-search-input="user">    
    </div>
    <md-switch ng-model='views.search.user_filter'>
      Filter?
    </md-switch> 
  </div>    

  <div layout="row" layout-align="center center">
    <md-button ng-class="views.search.selected ? 'md-raised md-primary' : 'md-raised'" 
               ng-click="search(0); select_view('search')"
               data-search-button="search">Search</md-button> 
  </div>

  <!-- item popup -->
  <div item="views.search.item" 
       container="views.search.item.object_type"
       sample="views.search.item.sample"
       collection="views.search.item.collection"
       row="views.search.item.row"
       column="views.search.item.column"
       nolink="true"></div>

</div>