
<div class="browser-control browser-control-plain" 
     ng-if="user.current">
    {{views.user.current.name}}
</div>

<div class="browser-control browser-control-plain" 
     ng-if="user.current">

  <div class="btn-group">

    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
       {{views.user.current.login}} <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <li><a href="#" ng-click="choose_user(everyone)">All</a></li>
      <li class='divider'></li>
      <li ng-repeat="user in user.all"><a href="#" ng-click="choose_user(user)">{{user.name}} ({{user.login}})</a></li>
    </ul>

  </div>

  <label class="checkbox user-filter" style="display: inline-block">
    <input type=checkbox 
           ng-model='views.user.filter' 
           ng-checked='views.user.filter' /> Filter?
  </label>

</div>