<div class='view-description-well'>

  <div ng-show="views.search.selected" class='sample-list-header'>
    <span class="sample-list-name">
      Search Results
    </span>
  </div>

  <div ng-show="views.create.selected" class='sample-list-header'>
    <span class="sample-list-name">
      New Samples
    </span>
  </div>

  <div ng-show="views.recent.selected" class='sample-list-header'>
    <span class="sample-list-name">
      Recent Samples
    </span>
  </div>

  <div ng-show="views.project.selected" class='sample-list-header'>
    <div class='sample-list-header'>
      <div class="sample-list-name">
        Projects
        &#9658;
        {{views.project.selection.project}}
        &#9658;
        {{sample_type_from_id(views.project.selection.sample_type).name}}
      </div>
      <div class="sample-list-description">
        {{sample_type_from_id(views.project.selection.sample_type).description}}
      </div>
    </div>
  </div>

  <div ng-show="views.sample_type.selected && views.sample_type.selection" 
       class='sample-list-header'>

    <span class="sample-list-name">

      {{views.sample_type.selection.name}} 

      <span class="st-offset" 
            ng-click="offset(-1)"
            ng-if="views.sample_type.selection.offset!=0">
        &#10094;
      </span>

      <span class="st-offset-disabled"
            ng-if="views.sample_type.selection.offset==0">
        &#10094;
      </span>

      <!-- {{views.sample_type.selection.offset+1}} - {{views.sample_type.selection.offset+30}}  -->
      {{views.sample_type.selection.samples[0].id}} -
      {{views.sample_type.selection.samples[views.sample_type.selection.samples.length - 1].id}}

      <span class="st-offset"
            ng-click="offset(1)">
        &#10095;
      </span>

      <span class='pull-right date'>
        {{views.sample_type.selection.samples[0].created_at|date:'MMM yyyy'}}
      </span>

    </span>

  </div>  

</div>
