<style>

</style>

<div class='row-fluid'>
  <div class='span6' id='example1' style='border: 1pt solid #eee; height: 300px'></div>
  <div class='span6' id='example2' style='border: 1pt solid #eee; height: 300px'></div>
</div>

<script>

var d = new MetacolDrawing (
  [ "p1", "p2", "p3", "p4" ],
  [ 
    { pre: [ "p1" ], post: [ "p2" ] },
    { pre: [ "p1" ], post: [ "p1", "p3" ] },
    { pre: [ "p2" ], post: [ "p4" ] }
  ],
  [ 1, 0 ],
  'example1' );

var d = new MetacolDrawing (
  [ "p1", "p2", "p3" ],
  [ 
    { pre: [ "p1" ], post: [ "p2" ] },
    { pre: [ "p1" ], post: [ "p1" ] },
    { pre: [ "p2" ], post: [ "p3" ] },
    { pre: [ "p3" ], post: [ "p2" ] }
  ],
  [ 1, 0 ],
  'example2' );

</script>

