<h4>Active Metacols</h4>

<%= render partial: 'list', locals: { metacols: @active_metacols, status: false } %>

<h4>Completed Metacols 
</h4>

  
  <%= render partial: 'list', locals: { metacols: @completed_metacols, status: true } %>

  <% @completed_metacols.current_page %>

  <center>
    <%= will_paginate @completed_metacols %>
  </center>

