<script type="text/ng-template" id="processTemplate">

  <div ng-class="selection == process ? 'process-info-selected' : 'process-info'" ng-click="select(process)">

    <div class="process-info-header">

      <span class="process-name">
        <b>{{process.id}}</b>: 
        <a href="/workflows/{{process.state.id}}">{{process.state.name}}</a>
      </span>

      <span class="process-time">({{process.created_at|date:'EEEE'}} {{process.created_at|date:'medium'}})</span>

      <span class='pull-right' ng-if="selection == process">

        <a href="#" ng-click="kill(process)" ng-if="cat == 'active'">
          <i class='icon-remove'></i>
        </a>

      </span>

    </div>

    <div class="process-info-body">

      <table class='operation-table'>

        <tr>
          <th>Operation</th>
          <th>Job ID</th>
          <th>Sub by</th>
          <th>Run by</th>
          <th>Start by</th>
          <th>Updated</th>
          <th></th>
        </tr>

        <tr ng-repeat="oc in process.state.specification.operations"
            class="operation"
            ng-include="'jobTemplate'" 
            ng-init="j=job(process,oc.jid)">
        </tr>

      </table>

    </div>

    <div class="thread-info" ng-if="selection==process">
      <div ng-repeat="oc in process.state.specification.operations" ng-show="oc.show_info">
        <p>TODO: Display thread information nicely!</p>      
        <div class='row-fluid'>
          <div class='span3'>
            <pre class='op-info'>{{oc.operation.inputs|json}}</pre>
          </div>
          <div class='span3'>
            <pre class='op-info'>{{oc.operation.parameters|json}}</pre>
          </div>
          <div class='span3'>
            <pre class='op-info'>{{oc.operation.outputs|json}}</pre>
          </div>
          <div class='span3'>
            <pre class='op-info'>{{oc.operation.data|json}}</pre>
          </div>
        </div>
      </div>
    </div>

  </div>

</script>

<script type="text/ng-template" id="userTemplate"><a href="/users/{{uid}}">{{users[uid].login}}</a></script>

<script type="text/ng-template" id="jobTemplate">

  <td ng-class="operation_name_class(j)">{{oc.operation.name}}</td>

  <td class="job-id">
    <a href="/jobs/{{j.id}}">{{j.id}}</a>
    <span class="error" ng-if="has_error(j)">ERROR!</span>
    <span class="subtle blinking" ng-if="is_active(j)">(running)</span>    
    <span class="subtle" ng-if="is_pending(j)">(pending)</span>
    <span class="subtle" ng-if="!has_error(j) && is_completed(j)">(completed)</span>    
  </td>

  <td class="sub"><span ng-include="'userTemplate'" ng-init="uid=j.submitted_by"></span></td>

  <td class="run"><span ng-if="j.user_id" ng-include="'userTemplate'" ng-init="uid=j.user_id"></span></td>

  <td class="timing">
    <span ng-if="is_pending(j) && is_today(j.desired_start_time)"> {{j.desired_start_time|date:'shortTime'}}</span>
    <span ng-if="is_pending(j) && !is_today(j.desired_start_time)">{{j.desired_start_time|date:'mediumDate'}}</span>    
  </td>

  <td class="updated">
    <span ng-if="is_today(j.updated_at)">{{j.updated_at|date:'shortTime'}}</span>
    <span ng-if="!is_today(j.updated_at)">{{j.updated_at|date:'mediumDate'}}</span>    
  </td>

  <td class="controls">
    <span class='pull-right' ng-if="process==selection">
      <a href="#" ng-click="info(process.state.specification.operations,oc)" class="pull-right"><i class='icon-info-sign'></i></a>
      <a href="/krill/start?job={{j.id}}" ng-if="is_pending(j)" class="pull-right"><i class="icon-play"></i></a>
      <a href="/krill/ui?job={{j.id}}"    ng-if="is_active(j)"  class="pull-right"><i class="icon-play"></i></a>
    </span>
  </td>
 
</script>
