<div ng-app="workflow">

  <div id="workflow-control" class='row-fluid' ng-controller='workflowCtrl as workflow' 
       workflow=<%= params[:id] %> style='outline: 1pt dashed orange'>

    <div class='span8'>
      <svg id="diagram" style='outline: 1pt dashed orange' width="100%">
        <!-- operations  -->
        <g ng-repeat="op in workflow.specification.operations"
           ng-attr-transform="translate({{200*$index+20}}, 20)">
           <g operation="op"></g>
        </g>
        <!-- connections -->
      </svg>
    </div>

    <div class='span4'>
      <textarea json-text ng-model="workflow.specification"></textarea>
      <pre>{{workflow.specification|json}}</pre>
    </div>

  </div>

</div>

<script>
  function resize() {
    var y = $( window ).height() - 90;
    $("#workflow-control").css('height',y + 'px');
    $("#diagram").css('height', y + 'px');
  }  
  resize();
  $(window).resize(resize);
</script>