<script type="text/ng-template" id="code">

  <div ng-controller="codeCtrl as code">

    <div ng-model="current_operation_type[component_name].content"
         ng-if="current_operation_type.mode != 'versions' && component_name != 'documentation'"
         ui-ace="{
                   useWrapMode : true,
                   mode: 'ruby',
                   onLoad: aceLoaded,
                   onChange: aceChanged,
                   theme:'tomorrow',
                   tabSize: 2
                 }"
         ng-change="change(current_operation_type[component_name])"
         ng-readonly="current_operation_type[component_name].no_edit">
    </div>

    <div ng-model="current_operation_type[component_name].content"
         ng-if="current_operation_type.mode != 'versions' && component_name == 'documentation'"
         ui-ace="{
                   useWrapMode : true,
                   mode: 'markdown',
                   onLoad: aceLoaded,
                   onChange: aceChanged,
                   theme:'tomorrow'
                 }"
         ng-change="change(current_operation_type[component_name])"
         ng-readonly="current_operation_type[component_name].no_edit">
    </div>

    <div ng-if="current_operation_type.mode == 'versions'" class="versions">
      <h4>Versions</h4>
      <table class='table'>
        <tr ng-repeat-start="version in current_operation_type.versions[component_name]">
          <td style="width: 5%">
            <span ng-if="version.id == current_operation_type[component_name].id" style="font-weight: bold">&#9632;</span>
          </td>
          <td style="width: 20%"><a href="#" ng-click="version.open = !version.open">{{version.id}}</a></td>
          <td style="width: 25%">{{version.user_id ? version.user.login : '-'}}</td>
          <td style="width: 25%">{{version.created_at|date:'medium'}}</td>
          <td style="width: 25%">{{version.content.length/1000}} kb</td>
        </tr>
        <tr ng-repeat-end ng-show="version.open">
          <td colspan=5>
            <div ng-if='version.open'>
              <pre>{{version.content}}</pre>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class='code-controls' ng-if="current_operation_type.mode != 'versions'">
      <md-button
         class="md-raised md-medium"
         ng-click="save(current_operation_type,component_name)"
         ng-disabled="!current_operation_type[component_name].changed">
         Save
      </md-button>
      <md-button
         class="md-raised md-medium"
         ng-click="current_operation_type.mode = 'versions'">
         Versions
      </md-button>
      <md-button class='md-raised md-medium'
          ng-if="component_name == 'documentation'" ng-click="render_docs(current_operation_type)">
        Preview
      </md-button>

    </div>

    <div class='code-controls' ng-if="current_operation_type.mode == 'versions'">
      <md-button class='md-raised md-medium'
         ng-click="current_operation_type.mode = null">
         Current
      </md-button>
    </div>

  </div>

</script>