<div ng-show="mode == 'definition'" ng-controller="operationTypeDefinitionCtrl as opdef" class='definition' layout-padding>

  <form>

    <div class="row-fluid">

      <div class="span3">
        <label class="label-bold">
          Operation Name (id: {{current_operation_type.id}})
          <input type='text' ng-model="current_operation_type.name" ng-change="change(current_operation_type)" style='width: 100%'>
        </label>
      </div>
      <div class="span3">
        <label class="label-bold">
          Category
          <input type='text' ng-model="current_operation_type.category" ng-change="change(current_operation_type)" style='width: 100%'>
        </label>
      </div>   
      <div class="span2">
        <label class="label-bold">
          <input type='checkbox' ng-change="change(current_operation_type)" ng-model="current_operation_type.on_the_fly">
          On-the-fly?
        </label>
        <label class="label-bold">
          <input type='checkbox' ng-change="change(current_operation_type)" ng-model="current_operation_type.deployed">
          Deployed?
        </label>
      </div>

      <div class="span3">

        <button class="btn btn-primary pull-right btn-mini" 
                ng-click="save_operation_type(current_operation_type)"
                ng-disabled="!current_operation_type.changed"
                style="margin-left: 5px">
          <span ng-if="current_operation_type.id">Update</span>
          <span ng-if="!current_operation_type.id">Save</span>
        </button>

        <button ng-if="!current_operation_type.deployed"
                class="btn btn-mini pull-right"  style="margin-left: 5px"
                ng-click="delete_operation_type(current_operation_type)"><span>Delete</span></button>

        <button class="btn btn-mini pull-right" style="margin-left: 5px"
                ng-click="export_operation_type(current_operation_type)"><span>Export</span></button>

       <button class='btn btn-mini pull-right' ng-if="current_operation_type.id" ng-click="copy(current_operation_type)">Copy</button>

      </div>

    </div>

    <hr />

    <div ng-if="current_operation_type.loading_field_types">Loading I/O Definitions ...</div>

    <div class='row-fluid'>

      <div class='span6'>
        <label class="label-bold">
          Inputs
          <a href="#" class="btn btn-mini pull-right" style="margin-left: 5px" ng-click="change(current_operation_type); add_io('input')">Add Input</a>
          <a href="#" class="btn btn-mini pull-right" ng-click="change(current_operation_type); add_parameter('input')">Add Parameter</a>
        </label>
        <div ng-include="'io_form'" onLoad="role = 'input'" ng-if="true"></div>
      </div>

      <div class='span6'>
        <label class="label-bold">
          Outputs
          <a href="#" class="btn btn-mini pull-right" ng-click="change(current_operation_type); add_io('output')">Add Output</a>
        </label>
        <div ng-include="'io_form'" onLoad="role = 'output'" ng-if="true"></div>
      </div>

    </div>

  </form>

  <!-- <pre>{{current_operation_type|json}}</pre -->

</div>