<div ng-if="current_ot.documentation && mode == 'documentation'" ng-controller="codeCtrl as code">

  <div ng-model="current_ot.documentation.content"
       ui-ace="{
                 useWrapMode : true,
                 mode: 'markdown',
                 onLoad: aceLoaded,
                 onChange: aceChanged,
                 theme:'tomorrow'
               }">
  </div>

  <div class='code-controls'>
    <a href='#' class='btn' ng-click="save(current_ot,'documentation')">Save</a>
    <a href='#' class='btn'>Render</a>
  </div>

</div>