<script type="text/ng-template" id="io_form">

    <ul ng-repeat="io in current_ot.field_types" ng-if="io.role == role" class="io-list">

      <div class='row-fluid'>

        <div class="span5">
          <label>Name</label>
          <input type="text" ng-model="io.name" class="input-fit" ng-change="change(current_ot)">
        </div>

        <div class="span2">
          <label>Routing ID</label>
          <input type="text" ng-model="io.routing" class="input-fit" ng-change="change(current_ot)">
        </div>        

        <div class="span1"></div>

        <div class="span3">
          <label>
            <input type='checkbox' ng-model="io.array" ng-change="change(current_ot)"> Array? 
          </label>
          <label>
            <input type='checkbox' ng-model="io.part" ng-change="change(current_ot)"> Part?
          </label>      
        </div>

        <div class="span1">
          <a href="#" class="aft-remove pull-right" ng-click="change(current_ot); remove_io(io)">&times;</a>
        </div>

      </div>

      <ul class='aft-list'>

        <label>
          Sample types / containers
          <a href="#" class="btn btn-mini pull-right" ng-click="change(current_ot); add_aft(io)">Add</a>
        </label>

        <li ng-repeat="aft in io.allowable_field_types">
          <div class="row-fluid">
            <div class="span5">
              <input type="text" ng-model="aft.sample_type.name" class="input-fit"  
                    ng-change="change(current_ot)"sampletypecomplete>
            </div>
            <div class="span5">            
              <input type="text" ng-model="aft.object_type.name" class="input-fit" 
                     ng-change="change(current_ot)" objecttypecomplete="aft.sample_type.name">
            </div>
            <div class="span2">            
              <a href="#" class="aft-remove pull-right" ng-click="change(current_ot); remove_aft(io,aft)">&times;</a>    
            </div>
          </div>
        </li>

      <ul>     

    </ul>

</script>