<div ng-show="mode == 'test'" ng-controller="operationTypeTestCtrl as tester">

  <form class='form-inline'>

    <label>Batch Size: </label>

    <input type='number' 
           ng-model="current_ot.batch_size" 
           placeholder="Batch Size"
           class="input-small">
    </input>

    <a href="#" class="btn" ng-click="randomize(current_ot)">Generate Operations</a>

    <button class="btn btn-warning"
                ng-click="test(current_ot)"
                ng-disabled="!current_ot.test_operations || current_ot.test_operations.length == 0">Run Test</button>

  </form>

  <h4>Input Operations</h4>

  <div ng-show="!current_ot.test_operations">No test operations definied.</div>

  <table class='table table-fixed table-condensed' ng-show="current_ot.test_operations">

    <tr>
      <th>User</th>
      <th>Inputs</th>
      <th>Ouputs</th> 
    </tr>

    <tr ng-repeat="op in current_ot.test_operations | filter: { operation_type_id: current_ot.id, status: 'pending'}">

      <td>{{user.find(op.user_id).name}}</td>
      <td>
        <ul class='input-list'>
          <li ng-repeat="fv in op.field_values | filter: { role: 'input' }">
            {{fv.name}}: {{fv.child_sample.name}}
          </li>
        </ul>              
      </td>  

      <td>
        <ul class='input-list'>
          <li ng-repeat="fv in op.field_values | filter: { role: 'output' }">
            {{fv.name}}: {{fv.child_sample.name}}
          </li>
        </ul>              
      </td>   

    </tr>

  </table>

  <hr />
  <h4>Backtrace</h4>  

  <div ng-show="!current_ot.test_results">No backtrace has been generated.</div>

  <div ng-show="current_ot.test_results">
    <ul class="backtrace" >
      <li ng-repeat="step in current_ot.test_results.job.backtrace" ng-include="step.operation"></li>
    </ul>
  </div>

  <hr />
  <h4>Operation Information</h4>    

  <div ng-show="!current_ot.test_results">No operations have been affected.</div>

  <div ng-show="current_ot.test_results">
    <table class='table'>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Data</th>
        <th>Materials</th>
        <th>Labor</th>
      </tr>
      <tr ng-repeat="op in current_ot.test_results.operations">
        <td>{{op.id}}</td>
        <td>{{op.status}}</td>
        <td><span ng-repeat="(k,v) in op.associations">{{k}}: {{v}}</span></td>
        <td>{{op.materials|currency}}</td>
        <td>{{op.labor|currency}}</td>
      </tr>
    </table>
  </div>

  <!-- pre>{{current_ot.test_results.operations|json}}</pre -->
 
</div>
