<table class='table table-condensed compact job-table' 
          id='table-<%= type %>'>

  <thead>
    <tr>
      <th>Job</th> 
      <th>Protocol</th>
      <th>Sub by</th>
      <th>Run by</th>
      <th>Group</th>
      <th>Timing</th>
      <th>Updated</th>
      <th />
      <th />     
    </tr>
  </thead>

  <tbody></tbody>

</table>