<div class='tab-content' layout-padding>

  <div class="jobs-item-tab tab-pane active" id="pending">
    <h2>Pending Jobs</h2>
    <%= render partial: "job_table", locals: { type: "pending" } %>
  </div>

  <div class="jobs-item-tab tab-pane" id="future">
    <h2>Future Jobs</h2>
    <%= render partial: "job_table", locals: { type: "future" } %>
  </div>

  <div class="jobs-item-tab tab-pane" id="active">
    <h2>Active Jobs</h2>
    <%= render partial: "job_table", locals: { type: "active" } %>
  </div>

</div>
