<!-- Constants -->

{{ numInputs  = operation.inputs.length }}
{{ numOutputs = operation.outputs.length }}
{{ numParams  = operation.parameters.length }}
{{ numDatas   = operation.data.length }}
{{ numEx      = operation.exceptions.length }}

{{ bodyHeight = portSpace+portSpace * ( 
                numInputs+numParams > numOutputs+numDatas ? 
                  (numInputs+numParams) : 
                  (numOutputs+numDatas)
                ) + portSpace * ( numEx > 0 ? 1 : 0 ) }}

<!-- Title -->

  <rect class='operation-title-box' 
        ng-width="{{width}}"
        ng-height="{{nameHeight}}"       
        />

  <text ng-click="mouseDown(operation); $event.stopPropagation();" 
        ng-x={{width/2}}
        ng-y={{nameHeight/2+2}}
        text-anchor="middle"
        alignment-baseline="middle"
        ng-class="{{$parent.selected(operation) ? 'operation-title-selected' : 'operation-title'}}"
        >
    {{operation.id}}: {{operation.name}}
  </text>

  <rect class='operation-body'
    ng-width="{{width}}"
    ng-height="{{bodyHeight}}"
    y=20
    stroke="black"
    fill="white" />

<!-- Inputs / Parameters -->

  <g ng-transform="translate(0,{{nameHeight+portSpace}})">

    <circle ng-repeat="input in operation.inputs" r=5 stroke="black" fill="orange" 
            ng-click="$root.inputClick(operation,input); $event.stopPropagation();" class='operation-port'
            ng-cy="{{portSpace*$index}}">
    </circle>

    <text part-name="input.name"
          ng-repeat="input in operation.inputs"
          ng-click="mouseDown(input); $event.stopPropagation();"
          ng-x="{{textOffset}}" ng-y="{{portSpace*$index}}" 
          alignment-baseline="middle"
          ng-class="{{$parent.$parent.selected(input) ? 'part-selected' : 'operation-part'}}"
          >
    </text>

    <circle ng-repeat="param in operation.parameters" r=5 stroke="black" fill="lightgreen" 
            ng-click="portClick(param); $event.stopPropagation();" class='operation-port'    
            ng-cy="{{portSpace*$index+portSpace*numInputs}}">
    </circle>

    <text part-name="param.name"
          ng-repeat="param in operation.parameters" 
          ng-click="mouseDown(param); $event.stopPropagation();"
          ng-x="{{textOffset}}" ng-y="{{portSpace*$index+portSpace*numInputs}}"
          alignment-baseline="middle"
          ng-class="{{$parent.$parent.selected(param) ? 'part-selected' : 'operation-part'}}"
          >
    </text>    

  </g>

<!-- Outputs / Data -->

  <g ng-transform="translate(0,{{nameHeight+portSpace}})">

    <circle ng-repeat="output in operation.outputs" stroke="black" fill="orange" 
            ng-click="$root.outputClick(operation,output); $event.stopPropagation();" 
            ng-cx="{{width}}" ng-cy="{{portSpace*$index}}"
            ng-class="{{$parent.$parent.selected(output) ? 'operation-port-selected' : 'operation-port'}}"
            >
    </circle>

    <text part-name="output.name"
          ng-click="mouseDown(output); $event.stopPropagation();"
          ng-repeat="output in operation.outputs"
          ng-x="{{width-textOffset}}" ng-y="{{portSpace*$index}}" 
          alignment-baseline="middle" text-anchor="end"
          ng-class="{{$parent.$parent.selected(output) ? 'part-selected' : 'operation-part'}}"
          >
    </text>    

    <circle ng-repeat="data in operation.data" r=5 stroke="black" fill="lightgreen" 
            ng-click="portClick(data); $event.stopPropagation();"
            class='operation-port'
            ng-cx="{{width}}" ng-cy="{{portSpace*$index+portSpace*numOutputs}}">
    </circle>

    <text part-name="data.name"
          ng-repeat="data in operation.data" 
          ng-click="mouseDown(data); $event.stopPropagation();"
          ng-x="{{width-textOffset}}" ng-y="{{portSpace*$index+portSpace*numOutputs}}"
          alignment-baseline="middle" text-anchor="end"
          ng-class="{{$parent.$parent.selected(data) ? 'part-selected' : 'operation-part'}}"
          >
    </text>        

  </g>

<!-- Exceptions -->

  <g ng-transform="translate({{-(numEx-1)*portSpace/2+width/2}},{{nameHeight+bodyHeight}})">

    <circle ng-repeat="ex in operation.exceptions" r=5 stroke="black" fill="orange" 
            ng-cx="{{portSpace*$index}}">
    </circle>

  </g>

  <!-- Lock -->
 
  <foreignObject ng-if="operation.workflow != $parent.workflow.id" 
                 class="node" x="3" y="0" width="14" height="17">
    <icon class='icon-lock' />
  </foreignObject>

