<h2>{{wf.name}}</h2>

<label>Description</label>
<textarea ng-model="wf.specification.description" style="width: 90%; height: 100px"></textarea>

<label>Connections</label>
<fieldset>
<div ng-repeat="c in wf.specification.io">

  <div class="controls controls-row">
    <input class="span2" type="number" ng-model="c.from[0]">
    <input class="span2" type="text" ng-model="c.from[1]">
    <input class="span2" type="number" ng-model="c.to[0]">
    <input class="span2" type="text" ng-model="c.to[1]"> 
    <span class='span2'></span> 
    <span class="hoverable span2" ng-click="$parent.delete_connection(c)">
      <icon class='icon-remove' />
    </span>    
  </div>

</div>

  <span class="hoverable" ng-click="new_connection()">
    <icon class='icon-plus' /> Add connection
  </span>

</fieldset>