<p>
  <b>Members:</b>
</p>

<table class='table' style='margin-left: 20px; width: 50%'>

  <% (@group.memberships.reject { |m| !m.user }).each do |m| %>
    <tr>
      <td><%= m.user.name %></td>
      <td><%= m.user.login %></td>
      <td>
      <% if current_user && current_user.is_admin %>
        <%= link_to group_path(@group) + '?drop_user=' + m.user.id.to_s do %>
          <i class='icon-remove'></i>
        <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>

  <tr><td>

  </td><td></td><td></td></tr>



</table>
