<md-content>

  <h3 class='md-title'>Aquarium End-User License Agreement: Last Updated July 10, 2017</h3>

  <p>© 2013-2016 University of Washington.</p>

  <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to a non-exclusive, nontransferable, perpetual license to copy, modify, and perform the Software for non-profit academic and research purposes. For clarity, use of the software as part of a non-profit university cost center is allowed.</p>

  <p>Distribution of the Software, including any modifications, is permitted as long as the modified version is distributed under this same license.</p>

  <p>For commercial uses please contact license@uw.edu.</p>

  <p>The above copyright notice and this license shall be included in all copies, modifications, distributions, or substantial portions of the Software.</p>

  <p>If utilization of the Software results in outcomes which will be published or presented, you agree to cite as: © 2013-2016 University of Washington. Used with permission. Aquarium was developed by the Klavins Lab at University of Washington.</p>

  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF, OR IN CONNECTION WITH, THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

</md-content>