<% provide(:title, 'All users') %>

<h1>All users</h1>

<%= will_paginate @users %>

<table class="table">
   <tr>
    <th>login</th>
    <th>Name</th>
    <th>Since</th>
    <th>Task in last 3 months</th>
    <th></th>
    <th></th>    
    <th></th>    
   </tr>
   <%= render @users %>
</table>

<%= will_paginate @users %>
