<div ng-show="views.recent.selected">

  <div ng-repeat="st_id in views.recent.sample_types">
    <h5>{{sample_type_from_id(st_id).name}}</h5>
    <ul class='plain-list'>
      <li ng-repeat="sample in views.recent.samples"
          ng-include="'sample_router'"
          ng-if="sample.sample_type_id == sample_type_from_id(st_id).id">
      </li>
    </ul>
  </div> 

</div>

