<script type="text/ng-template" id="title">
  <div class='content content-title'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="note">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="select">
  <div class='content content-select'>
    <b>{{content_value(line).var}}</b> = {{content_value(line).label}} from 
    [ <span ng-repeat="choice in content_value(line).choices">{{choice}}<span ng-if="!$last">, </span></span> ]
  </div>
</script>

<script type="text/ng-template" id="bullet">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="warning">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="bullet">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="check">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="timer">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="upload">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="separator">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="take">
  <div class='content content-note'>
    Item {{content_value(line).id}} at {{content_value(line).location}}
  </div>
</script>

<script type="text/ng-template" id="item">
  <div class='content content-note'>
    Item {{content_value(line).id}} at {{content_value(line).location}}
  </div>
</script>

<script type="text/ng-template" id="table">
  <div class='content content-note'>
    <table >
      <tr ng-repeat="row in content_value(line)">
        <td style="border: 1pt solid #aaa" ng-repeat="cell in row">{{cell}}</row>
      </tr>
    </table>
  </div>
</script>

<script type="text/ng-template" id="transfer">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="log">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>

<script type="text/ng-template" id="image">
  <div class='content content-note'>
    {{content_value(line)}}
  </div>
</script>