<%= stylesheet_link_tag 'gene' %>

<div class="center box">

    <div class='blue bold pxl'>
      Hello <%= @email %>
    </div>
    <div class="plus16"></div>

    <div>
      An unexpected error occurred. We have been notified and will investigate immediately.
    </div>
    <div class="plus16"></div>

    <div>
      In the meantime, please click [ Continue ] to continue.
    </div>
    <div class="plus32"></div>

    <button class="blue" onclick="document.location.replace('/')">CONTINUE</button>

</div>

