<% if !local_assigns[:small].nil? && small %>
  <table class='sample_box_table sample_box_table_small'>
<% else %>
  <table class='sample_box_table'>
<% end %>

  <% m.each do |row| %>
    <tr>
      <% row.each do |sample_id| %>
        <% if sample_id >= 0 %>   
          <% if !local_assigns[:highlight].nil? && sample_id == highlight %>         
            <td class='selected'>
          <% else %>
            <td class='full'>
          <% end %>
            <% s = Sample.find_by_id(sample_id) %>
            <% if s %>
              <% tooltip = s.name %>
              <%= link_to sample_id, s, title: tooltip, rel: "tooltip" %>
            <% else %>
              <%= sample_id %>?
            <% end %>
          </td>
        <% else %>
          <td class='full'></td>
         <% end %>
      <% end %>
    </tr>
  <% end %>
</table>