  <hr />

  <button id='details-button' class='btn btn-small' onClick="toggle_details()">
    Parsing Details (For Debugging Only)
  </button>

  <div id='details' style='display: none'>

    <p>Manta URI = <%= @manta %></p>

    <h2>Parsed Protocol</h2>
    <div id='parsed-protocol'>
        <table class='table'>
        <% (0..@protocol.program.length-1).each do |p| %>
          <% html = @protocol.program[p].html %>
          <%= "<tr><td>#{p}</td><td>#{html}</td></tr>".html_safe %>
        <% end %>
        </table>
    </div>


    <br />
 
    <h2>Raw XML</h2>
    <div id='raw-xml'>
        <pre><%= @file.to_s.force_encoding("UTF-8") %></pre>
    </div>

    <br />

    <h2>Debug Statements</h2>
    <div id='debugger_output' class='well'>
      <p style='font-size: 12pt; font-family: courier'><%= @protocol.debug.html_safe %></p>
    </div>

  </div>

  <script>
  function toggle_details() {
    s = document.getElementById('details').style.display;
    if ( s == 'none' ) {
      document.getElementById('details').style.display = 'block';
      document.getElementById('details-button').innerHTML = 'Hide Details';      
    } else {
      document.getElementById('details').style.display = 'none';
      document.getElementById('details-button').innerHTML = 'Show Details';      
    }
  
  }
  </script>


