<h1>About This Protocol</h1>

<p><%= @instruction.content %></p>

<script>

  window.onload = function() {
    document.getElementById('advance-button').style.display = 'block';
    document.getElementById('advance-button').addEventListener('click', function() {
      window.location = '/interpreter/advance?job=<%= @job.id %>';
    } );
  }

</script>
