<h1>About This Protocol</h1>

<p><%= @instruction.content %></p>

<script>

  window.onload = function() {
    document.getElementById('advance-button').disabled = false;
    document.getElementById('advance-button').addEventListener('click', function() {
      window.location = advance_url();
    } );

  }

</script>
