<% if @instruction.has_image %>

  <div class='row-fluid'>
    <div class='span5' id='images'></div>
    <div class='span7'>

<% end %>

<% @instruction.evaluation.each do |statement| %>

  <%= render partial: 'step_' + statement[:type].to_s, locals: { statement: statement } %>

<% end %>

<% if @instruction.has_image %>
    </div></div>
<% end %>

<!-- <p><%= @instruction.evaluation %></p> -->

<script>

  function validate_input() {

    var all_checked = true,
        all_filled = true;

    for ( i=0; i<$('.checkbox').length; i++ ) {
      all_checked = all_checked && $('.checkbox')[i].checked;
    }

    for ( i=0; i<$('.getdata').length; i++ ) {
      all_filled = all_filled && $('.getdata')[i].value != '';
    }

    document.getElementById('advance-button').disabled = !all_checked || !all_filled;

  }

  window.onload = function() {

    document.getElementById('advance-button').disabled = ($('.checkbox').length != 0 || $('getdata').length != 0);


    document.getElementById('advance-button').addEventListener('click', function() {

      var q = "";

      for ( i=0; i<$('.getdata').length; i++ ) {
        q += '&' + $('.getdata')[i].id + '=' + $('.getdata')[i].value;
      }

      for ( i=0; i<$('.select').length; i++ ) {
        q += '&' + $('.select')[i].id + '=' + $('.select')[i].value;
      }

      window.location = advance_url() + q;

    } );

  }

</script>
