<table class='table table-bordered steptable'>
  <% statement[:value].each do |row| %>
    <tr>
      <% row.each do |entry| %>
        <% if entry.class == String %>
           <td class='steptablestring'><%= entry.html_safe %></td>
        <% else %>
           <td class='steptablenumber'><%= entry %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
