<h1>Gather the following items</h1>

<% if (@instruction.respond_to? :note) && @instruction.note != "" %>
  <div class='take-note'><p><%= @instruction.note %></p></div>
<% end %>

<div class='take-container' id='takeui'></div>

<script>

  
ti = new TakeUI(<%= @instruction.entry_list.to_json.html_safe %>, 'takeui');
ti.show();

 window.onload = function() {

    document.getElementById('advance-button').addEventListener('click', function() {
      window.location = advance_url() + ti.query();
    } );

  }

</script>
