<label>Desired start time</label>

<style>
.datetime {
  width: 70px;
}
</style>

  <%= datetime_select('Desired','dt',
    {:order => [:month, :day, :year], :start_year => 2013, :end_year => 2020, :use_short_month => true},
    {:class => "datetime"} ) %><br />

<label>Complete within</label>

  <select id='window' name='window'>

    <option value='0.5'>1/2 Hour</option>
    <option value='1'>1 Hour</option>
    <option value='2'>2 Hours</option>
    <option value='4'>4 Hours</option>
    <option value='8'>8 Hours</option>
    <option value='12'>12 Hours</option>
    <option value='24' selected>1 Day</option>
    <option value='48'>2 Days</option>
    <option value='72'>3 Days</option>
    <option value='96'>4 Days</option>
    <option value='120'>5 Days</optio>n
    <option value='144'>6 Days</option>
    <option value='168'>7 Days</option>

  </select>
