<h1>Job <%= @job.id %> Aborted</h1>

   <div class="alert alert-info">THIS JOB IS NO LONGER ACTIVE</div>
   <p><%= link_to 'View Log for Job ' + @job.id.to_s, @job %></p>
   <p><%= link_to "View Other Pending Jobs", jobs_path %>

    <%= render 'check_for_metacol_jobs' %>


