<div class="row-fluid">

  <!-- FLOW CHART ----------------------------------------------------->
  <div class="span2 interpreter-flow-chart">
    <% if @pc %>
      PC: <%= @pc %>
    <% end %>
  </div>

  <!-- MAIN ----------------------------------------------------------->
  <div class="span9 interpreter-main">
    <% if @pc != nil %>
      <%= render @instruction.name %>
    <% else %>
      THIS PROTOCOL HAS BEEN COMPLETED.
    <% end %>
  </div>

  <!-- BUTTONS -------------------------------------------------------->
  <div class="span1 interpreter-next">
    <% if @pc != nil %>
      <button class='btn btn-primary' id='advance-button'>NEXT</button>
    <% end %>
  </div>

</div>

