<div class="row-fluid">

  <!-- FLOW CHART ----------------------------------------------------->
  <div class="span2 interpreter-flow-chart">
    PC: <%= @pc %>
  </div>

  <!-- MAIN ----------------------------------------------------------->
  <div class="span9 interpreter-main">
    <%= render @instruction.name %>
  </div>

  <!-- BUTTONS -------------------------------------------------------->
  <div class="span1 interpreter-next">
    <%= link_to 'Next', interpreter_advance_path(job: @job.id), class: 'btn' %>
  </div>

</div>

