<% provide(:title, @path) %>

<div class="row-fluid" id="interpreter">

  <!-- FLOW CHART ----------------------------------------------------->
  <div class="span2 interpreter-flow-chart">

    <% if @pc != nil %>
      <% (0..@protocol.program.length-1).each do |p| %>
        <% if p == @pc %>
          <div class='pc_at'>
        <% else %>
          <div class='pc_notat'>
        <% end %>
        <%= "<b>#{p}:</b>   #{@protocol.program[p].name}".html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- MAIN ----------------------------------------------------------->
  <div class="span9 interpreter-main">
    <% if @exception %>
       <%= render 'error' %>
    <% elsif @pc != nil %>
      <%= render @instruction.name %>
    <% else %>
      <div class="alert alert-info">THIS PROTOCOL IS NO LONGER ACTIVE</div>
    <% end %>
  </div>

  <!-- BUTTONS -------------------------------------------------------->
  <div class="span1 interpreter-next">
    <% if @pc != nil %>
      <button class='btn btn-primary' id='advance-button'>NEXT</button>
    <% end %>
  </div>

</div>

<script>

  <% if @job %>
    document.getElementById('info-area').innerHTML   = '<%= @job.path %>';
  <% end %>

  function fix_height() {
    document.getElementById('interpreter').style.height = window.innerHeight - 120 + 'px';
  }

  fix_height();

  window.onresize = fix_height;

</script>
