<div class="row-fluid">
  <div class="span2 interpreter-flow-chart">
    Flow chart here.
  </div>
  <div class="span9 interpreter-main">Step Description Here</div>
  <div class="span1 interpreter-next">Buttons Here</div>

</div>

