<script type="text/ng-template" id="operation_type_chooser">

  <h4>Choose Goal Operation Type</h4>

  <ul>
    <li ng-repeat="operation_type in operation_types">
      <a href='#' ng-click="select(operation_type)">
        {{operation_type.name}} 
      </a>
    </li>
  </ul>

</script>
