<script type="text/ng-template" id="field_value_editor">

  <h4>{{current_operation.operation_type.name}}: {{current_fv.name}}</h4>

  <form ng-if="current_fv.items.length > 0">

    <b>Inventory</b>

    <table class='table table-condensed'>

      <tr ng-repeat="item in current_fv.items" ng-if="!item.collection">
        <td>
          <label>
            <input type="radio" 
                   class="adjusted-radio"
                   name="item"
                   ng-model="item.selected">
              {{item.id}}
          </label>
        </td>
        <td>{{item.location}}</td>
      </tr>

      <tr ng-repeat="item in current_fv.items"
          ng-if="item.collection"
          ng-init="choose_default_part(current_fv,item)">
        <td>
          <label>
            <input type="radio" 
                   class="adjusted-radio"
                   name="item"
                   ng-model="item.selected">
              {{item.collection.id}}:<br />
              {{item.collection.location}}<br/>
              ({{item.selected_row}},{{item.selected_column}})
          </label>
        </td>
        <td>
          <table class='tiny-collection'>
            <tr ng-repeat="row in item.collection.matrix track by $index">
              <td ng-repeat="el in row track by $index" 
                  ng-class="current_fv.sid == el ? (item.selected_row == $parent.$index && item.selected_column == $index ? 'selected' : 'filled' ) : 'black'"
                  ng-click="item.selected_row = $parent.$index; item.selected_column = $index">
              </td>
            </tr>
          </table>
        </td>
      </tr>

    </table>

  </form>

  <b ng-if="current_fv.items.length == 0">No Inventory</b><br/>

  <div ng-if="current_fv.role == 'input'">
    <hr/>
    <b>Predecessors</b><br/>
    <ul>
      <li ng-repeat="pred in current_fv.predecessors">{{pred.operation_type.name}}</li>
    </ul>
  </div>

</script>