<script type="text/ng-template" id="field_value_editor">

  <md-content class="field-value-editor" 
    ng-if="mode=='new'">

    <div class="md-title title">{{current_fv.name}}</div>

      <md-subheader class="md-no-sticky">
        Container Type
      </md-subheader>

      <md-list class='md-compact-list'>

        <md-list-item ng-repeat="aft in current_fv.field_type.allowable_field_types">

          <md-checkbox
            ng-click="current_operation.set_aft(current_fv.field_type,aft)"
            ng-checked="current_operation.form[current_fv.role][current_fv.name].aft_id == aft.id"
            ng-disabled="current_fv.field_type.allowable_field_types.length === 1">
          </md-checkbox>

          <p>{{aft.object_type_id ? aft.object_type.name : 'No container'}}</p>

        </md-list-item>

      </md-list>

      <div ng-if="current_fv.items.length > 0" class="nomargin">

        <md-subheader class="md-no-sticky">
          Inventory
          <span ng-if="current_fv.wired">(Not Used in Plan)</span>
        </md-subheader>

        <md-list class='md-compact-list' ng-if="!current_fv.items[0].collection">

          <md-list-item class="md-compact" 
            ng-repeat="item in current_fv.items" 
            ng-if="!item.collection">

            <md-checkbox
              ng-click="select_item(current_fv,item)"
              ng-checked="item.selected && !current_fv.wired"
              ng-disabled="current_fv.wired || current_fv.role == 'output'">
            </md-checkbox>

            <p>{{item.id}}</p>
            <span flex></span>
            <p>{{item.location}}</p>

          </md-list-item>

        </md-list>

        <md-list ng-if="current_fv.items[0].collection">

          <md-list-item ng-repeat="item in current_fv.items"
              class="md-3-line"
              ng-if="item.collection"
              ng-init="choose_default_part(current_fv,item)">

            <span class='collection-checkbox-holder'>

              <md-checkbox
                ng-click="select_item(current_fv,item)"
                ng-checked="item.selected"
                ng-disabled="current_fv.wired || current_fv.role == 'output'">
              </md-checkbox>

            </span>

              <p><b>{{item.collection.id}} ({{item.selected_row}},{{item.selected_column}})</b><br/>
                 {{item.collection.location}}</p>

            <span flex></span>

            <table class='tiny-collection'>
              <tr ng-repeat="row in item.collection.matrix track by $index">
                <td ng-repeat="el in row track by $index" 
                    ng-class="current_fv.sid == el ? (item.selected_row == $parent.$index && 
                              item.selected_column == $index ? 'selected' : 'filled' ) : 'blank'"
                    ng-click="select_row_column(current_fv,el,item,$parent.$index,$index)">
                </td>
              </tr>
            </table>

          </md-list-item>

        </md-list>

      </div>

    <md-subheader ng-if="current_fv.items.length == 0 && !current_fv.wired" class="md-no-sticky">
      No Inventory
    </md-subheader>

    <div ng-if="current_fv.role == 'input' && current_fv.predecessors.length > 0">

      <md-subheader class="md-no-sticky">
        Predecessors
      </md-subheader>

      <md-list class="md-compact-list">
        <md-list-item ng-repeat="pred in current_fv.predecessors">
          <p><b>{{pred.operation_type.name}}</b></p>
          <md-button class="md-raised md-primary md-secondary" ng-click="add_wire(current_fv,current_operation,pred)">
              <md-tooltip md-direction="bottom">
                Use {{pred.operation_type.name}} to produce {{current_fv.name}}
              </md-tooltip>
              Add
          </md-button>
        </md-list-item>
      </md-list>

    </div>

    <md-subheader class="md-no-sticky" ng-if="current_fv.predecessors.length == 0">
      No Applicable Predecessors
    </md-subheader>

  </md-content>

</script>
