
<script type="text/ng-template" id="io_editor">

  <!-- Displays field value editors associated with a given field type for the given operation. -->

  <div class='field_value_form'>

    <span class='io-name'> 
      <b>{{ft.name}}</b>
      <form class='radio-buttons pull-right'> 
        <span ng-repeat="aft in ft.allowable_field_types track by $index"
                ng-init="set_aft(operation,ft,ft.allowable_field_types[0])">
          <label class="radio-label">
            <input type="radio" class="radio"
                   name="{{ft.name + '_' + ft.role}}"
                   ng-value="aft.id"
                   ng-disabled="ft.allowable_field_types.length == 1"
                   ng-model=  "operation.form[ft.role][ft.name].aft_id"
                   ng-change= "set_aft(operation,ft,aft)">
            {{aft.object_type.name}} 
            <span ng-if="ft.part">(part)</span>
          </label>
        </span>
      </form>
    </span>

    <div itemselect
         ng-repeat="fv in operation.field_values | filter: { name: ft.name, role: ft.role }" 
         ft="ft" operation="operation" fv="fv">
    </div> 

    <div ng-if="ft.array">      
      <a href='#' class='btn btn-mini' ng-click="operation.array_add(ft)">+</a>
    </div>

  </div>

</script>

<script type="text/ng-template" id="item_select">

  <!-- Displays sample input and item selector for a given field value -->

  <input type='string' 
         placeholder="Sample Identifier"
         id="sample-io"
         ng-class="show_item_select(ft) ? 'sample-with-item' : 'sample-only'"
         ng-model="operation.routing[ft.routing]"
         ng-if="!ft.array && operation.form[ft.role][ft.name].aft.sample_type_id">

  <input type='string' 
         placeholder="Sample Identifier"
         id="sample-io"
         ng-class="show_item_select(ft) ? 'sample-with-item' : 'sample-only'"
         ng-model="fv.sample_identifier"
         ng-if="ft.array && operation.form[ft.role][ft.name].aft.sample_type_id">

  <input type='string' 
         placeholder="This i/o does not require a sample name"
         disabled=true
         class="sample-with-item"
         ng-if="!operation.form[ft.role][ft.name].aft.sample_type_id"> 

  <div class='btn-group' ng-if="show_item_select(ft)">

    <a ng-class="item_select_class(ft)"
       data-toggle="dropdown" 
       href="#">
      <span ng-if="fv.items.length == 0">No Items</span>    
      <span ng-if="fv.items.length > 0 && !fv.selected_item">Item</span>
      <span ng-if="!ft.part && fv.selected_item">
        <b>{{fv.selected_item.id}}</b>: 
           {{fv.selected_item.location}}
      </span>
      <span ng-if="ft.part && fv.selected_item">
        <b>{{fv.selected_item.collection.id}}</b>[{{fv.selected_item.row}},{{fv.selected_item.column}}]:
           {{fv.selected_item.collection.location}}
      </span>
      <span class="caret pull-right"></span>
    </a>

    <ul class='dropdown-menu' ng-if="fv.items.length > 0">
      <li ng-repeat="item in fv.items">
        <a ng-if="!ft.part" href='#' ng-click="select(item)">
          <b>{{item.id}}</b>: 
          {{item.location}}
          ({{item.created_at|date}})
        </a>
        <a ng-if="ft.part" href='#' ng-click="select(item)">
          <b>{{item.collection.id}}</b>[{{item.row}},{{item.column}}]:  
          {{item.collection.location}}
          ({{item.collection.created_at|date}})
        </a>

      </li>
    </ul>

  </div>

  <a ng-if="ft.array" href="#" ng-click="operation.array_remove(fv)" class='array-remove'>&times;</a>

</script>

