<script type="text/ng-template" id="io_editor">

  <div class='field_value_form'>

    <!-- Name and object type chooser -->
    <span class='io-name'> 
      <b>{{ft.name}}</b>
      <form class='radio-buttons pull-right'> 
        <span ng-repeat="aft in ft.allowable_field_types">
          <label class="radio-label">
            <input type="radio" class="radio"
                   name="{{ft.name + '_' + ft.role}}"
                   ng-value="aft.id"
                   ng-disabled="ft.allowable_field_types.length == 1"
                   ng-model=  "operation.form[ft.role][ft.name].aft_id"
                   ng-change= "operation.set_aft(ft,aft)">
            {{aft.object_type_id ? aft.object_type.name : 'No container'}} 
            <span ng-if="ft.part">(part)</span>
          </label>
        </span>
      </form>
    </span>

    <!-- Sample Chooser -->
    <div sampleselect
         ng-repeat="fv in operation.field_values | filter: { name: ft.name, role: ft.role }" 
         ft="ft" operation="operation" fv="fv" focus="io_focus" plan="plan">
    </div> 

    <!-- Add array element button -->
    <div ng-if="ft.array">
      <a href='#' class='btn btn-mini' ng-click="operation.array_add(ft)">+</a>
    </div>

  </div>

</script>

<script type="text/ng-template" id="parameter_editor">

  <div class='field_value_form' ng-repeat="fv in operation.field_values | filter: { role: ft.role }" ng-if="fv.name == ft.name">

    <span class='io-name'> <b>{{fv.name}}</b></span>

    <input ng-if="ft.choices_array.length == 0"
           type="string" 
           ng-model="fv.value"
           class="sample-only"
           placeholder="{{ft.ftype}}">
    
    <div ng-if="ft.choices_array.length > 0" class='select-container'>
      <select ng-model="fv.value"
              ng-options="choice for choice in ft.choices_array"></select>
    </div>

  </div>

</script>

<script type="text/ng-template" id="sample_select">

  <!-- basic sample -->
  <input type='string' 
         placeholder="Sample Identifier"
         id="sample-io"
         ng-class="input_class()"
         ng-model="operation.routing[ft.routing]"
         ng-focus="focus(operation,ft,fv)"
         ng-if="!ft.array && operation.form[ft.role][ft.name].aft.sample_type_id">

  <!-- element of sample array -->
  <input type='string' 
         placeholder="Sample Identifier"
         id="sample-io"
         class="sample-array-element"
         ng-model="fv.sample_identifier"
         ng-focus="focus(operation,ft,fv)"
         ng-if="ft.array && operation.form[ft.role][ft.name].aft.sample_type_id">

  <!-- not a sample -->
  <input type='string'
         placeholder="This i/o does not require a sample name"
         disabled=true
         class="sample-only"
         ng-focus="focus(operation,ft,fv)"
         ng-if="!operation.form[ft.role][ft.name].aft.sample_type_id">

  <a ng-if="ft.array" 
     href="#" 
     ng-click="operation.array_remove(fv)" 
     class='array-remove'>&times;</a>

  <br />

  <div ng-repeat="wire in plan.wires | filter: fv.is_wired_to"
       ng-include="'operation_editor'" 
       ng-init="operation = wire.from_op; is_predecessor=true; io_focus=focus">
  </div>

</script>