<script type="text/ng-template" id="operation_info">

  <md-content class="field-value-editor" ng-if="mode=='new'">

    <div class="title">
      <h1 class="md-title">{{current_operation.operation_type.name}}</h1>
    </div>

  <div class='documentation md-body-1' ng-bind-html="current_operation.operation_type.rendered_docs"></div>

  <hr>

  <div class="stats md-body-1">

    <p>
      Run {{current_operation.operation_type.stats.error + 
            current_operation.operation_type.stats.done}} times

    </p>

    <p ng-if="current_operation.operation_type.stats.error == 1">
      1 error
    </span>

    <p ng-if="current_operation.operation_type.stats.error != 1">
      {{current_operation.operation_type.stats.error}} errors
    </span>

    <p>
      {{100*current_operation.operation_type.stats.success | number: 1}}% success rate
    </p>

    <p ng-if="current_operation.operation_type.stats.first_run">
      First run {{current_operation.operation_type.stats.first_run|date: 'shortDate'}}
    </p>

    <p ng-if="current_operation.operation_type.stats.last_run">
      Last run {{current_operation.operation_type.stats.last_run|date: 'shortDate'}}
    </p>


  </div>

  </md-content>


</script>