<script type="text/ng-template" id="plan_list">

  <span ng-if="getting_plans" class="text-info">Retrieving plans...</span>

  <div class='plan-offset-ctrl pull-right'>
    <a href='#' class="btn btn-primary btn-mini" ng-click="inc_plan_offset(-1)" ng-disabled="!more_plans(-1)">&Lang;</a>&nbsp;
    <a href='#' class="btn btn-primary btn-mini" ng-click="inc_plan_offset(1)"  ng-disabled="!more_plans(1)">&Rang;</a>    
  </div>

  <div ng-repeat="plan in plans" class="rel rel-hoverable">

    <div class='spanner-row border-top'>

      <opener model="plan.open"></opener>
      <spanner w=18>{{plan.id}}: {{plan.operations[0].operation_type.name}}</spanner>     
      <spanner w=52>
        <div ng-repeat="fv in plan.operations[0].field_values | filter : { role: 'output' }">
          {{fv.name}}: {{fv.child_sample.name}}
        </div>
      </spanner>
      <spanner w=15>{{plan.operations[0].status}}</spanner>
      <spanner w=15 p=36>{{plan.created_at|date}}</spanner>

      <div ng-if="plan.open" ng-include="'plan_viewer'"></div>

    </div>

  </div>

  <div class='plan-offset-ctrl pull-right'>
    <a href='#' class="btn btn-primary btn-mini" ng-click="inc_plan_offset(-1)" ng-disabled="!more_plans(-1)">&Lang;</a>&nbsp;
    <a href='#' class="btn btn-primary btn-mini" ng-click="inc_plan_offset(1)"  ng-disabled="!more_plans(1)">&Rang;</a>    
  </div>

</script>
