<script type="text/ng-template" id="plan_editor">

  <section layout="row">

    <span class='md-headline'>
       {{plan.operations[0].operation_type.name}}:
       {{plan.cost()|currency}}
    </span>

    <span flex></span>

    <md-button class="md-raised md-primary" ng-click="submit_plan()" aria-label="Launch">
      Launch
    </md-button>

    <md-button class="md-raised" ng-if="plan != null" ng-click="$parent.add_goal()" aria-label="Add Goal">
      Add Goal
    </md-button>        

  </section>

  <div ng-repeat="operation in plan.operations" 
       ng-include="'operation_editor'"></div>

</script>