<script type="text/ng-template" id="plan_list">

  <div class="plan-list no-line">

    <span class="opener"></span>
    <span class='name heading'>Plan: Goal</span>     
    <span class='sample heading'>Output Sample</span>
    <span class='status heading'>Status</span>
    <span class='date heading'>Date</span>

  </div>

  <div ng-repeat="plan in plans" class="plan-list">

    <span opener="plan.open" class="opener"></span>
    <span class='name'>{{plan.id}}: {{plan.operations[0].operation_type.name}}</span>     
    <span class='sample'>
      <div ng-repeat="fv in plan.operations[0].field_values | filter : { role: 'output' }">
        {{fv.name}}: {{fv.child_sample.name}}
      </div>
    </span>
    <span class='status'>{{plan.operations[0].status}}</span>
    <span class='date'>{{plan.created_at|date}}</span><br/>

    <div ng-if="plan.open" ng-include="'plan_viewer'">
    </div>

  </div>


</script>
