
<script type="text/ng-template" id="plan_viewer">

  <!-- PLAN TEMPLATE -->

  <div class="md-subhead">
    Budget: {{plan.budget.name}}
  </div>

  <div layout="row" layout-align="space-between center">

    <div>
      <span class='md-subhead' ng-if="plan.data_associations.length > 0">Plan Data</span>
      <span class='md-subhead' ng-if="plan.data_associations.length == 0">No Plan Data</span>
    </div>

    <div layout="row">
      <md-button class='md-small md-raised'
         ng-click="plan.new_data_association()">
         New
      </md-button>
      <upload record='plan' class="left-pad"></upload>
    </div>

  </div>

  <da record="plan"></da>
  <div class='md-subhead'>Plan Operations</div>
  <div ng-repeat="operation in plan.operations" 
       ng-include="'operation_viewer'"></div>

</script>

<script type="text/ng-template" id="operation_viewer">

  <!-- OPERATION TEMPLATE -->

  <div layout="row" layout-wrap
       ng-class="operation.open ? 'plan-header plan-row plan-row-open' : 'plan-header plan-row'">
    <div flex="25">
      <opener model="operation.open" class='no-highlight clickable no-margin'></opener>&nbsp;
      <span class='md-body-2'>{{operation.id}}: {{operation.operation_type.name}}</span>
    </div>
    <div flex="55">
      <span ng-include="'job_info'" ng-include="'job_info'"></span>
    </div> 
    <div flex="20">
      <span ng-class="'md-body-2 status-'+operation.status">{{operation.status}}</span>
    </div>
  </div>

  <!-- DETAILS -->

  <div layout="column" layout-align="start stretch" ng-if="operation.open" class="plan-row plan-details">

    <div layout="row" layout-wrap layout-align="space-between center">

      <div>
        <span class='md-subhead' ng-if="operation.data_associations.length > 0">Operation Data</span>
        <span class='md-subhead' ng-if="operation.data_associations.length == 0">No Operation Data</span>
      </div>

      <div layout="row">
        <md-button class='md-small md-raised'
           ng-click="operation.new_data_association()">
           New
        </md-button>
        <upload record='operation' class="left-pad"></upload>
      </div>

    </div>    

    <da record="operation"
        ng-if="operation.data_associations.length > 0"></da>

    <div layout="row" layout-align="space-between center">
      <div class='md-subhead'>Inputs, Outputs, and Parameters</div>
    </div>

    <div layout="column" ng-include="'op_io'"></div> 

  </div>

</script>

<script type="text/ng-template" id="op_io">

  <!-- FIELD VALUE TEMPLATE -->

  <div layout="row" ng-repeat-start="fv in operation.field_values"
       ng-class="fv.open ? 'plan-header plan-row plan-row-open' : 'plan-header plan-row'">

    <div flex="20">
      <opener model="fv.open" 
              disabled="!fv.child_item_id"
              class='no-highlight clickable no-margin'></opener>&nbsp;
      {{fv.name}} <span class='small'>({{ fv.child_sample || fv.item  || !fv.value ? fv.role : 'param'}})</span>
    </div>

    <div flex="10">
      <span ng-bind-html="fv.item.url | trust"></span><span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span>
    </div> 

    <div flex="10" ng-if="!fv.value">{{fv.item.location}}</div> 
    <div flex="15" ng-if="!fv.value">{{fv.item.object_type.name}}</div>         
    <div flex="45" ng-if="!fv.value">{{fv.child_sample.name}}</div> 

    <div flex="80" ng-if="fv.value">{{fv.value}}</div>

  </div>

  <div layout="column" ng-repeat-end layout-align="start stretch" ng-if="fv.open" class="plan-row plan-details">  

    <div layout="row" layout-wrap layout-align="space-between center" ng-if="fv.open && fv.item">

      <div>
        <span class='md-subhead' ng-if="fv.item.data_associations.length > 0">Item Data</span>
        <span class='md-subhead' ng-if="fv.item.data_associations.length == 0">No item Data</span>
      </div>

      <div layout="row">
        <md-button class='md-small md-raised'
           ng-click="fv.item.new_data_association()">
           New
        </md-button>
        <upload record='fv.item' class="left-pad"></upload>
      </div>

    </div>     

    <da ng-if="fv.open" record="fv.item"></da>  

  </div>

</script>

<script type="text/ng-template" id="job_info">

  <!-- JOB TEMPLATE -->

  <span ng-if="operation.job_id">
    <span ng-bind-html="'Job ' + operation.job.url | trust"></span>
    <span ng-bind-html="'performed by ' + operation.job.user.url | trust"></span> on 
    <span>{{operation.job.updated_at|date}}</span>
  </span>

</script>


