<script type="text/ng-template" id="plan_editor">

  <div>

    <a ng-click="submit_plan()" 
       class='btn btn-small btn-primary pull-right' 
       href="#" >Launch</a>

    <a ng-click="clear_plan()" 
       class='btn btn-small pull-right'
       href="#" >Cancel</a>

  </div>

  <br><hr>

  <div ng-repeat="operation in plan.operations" 
       ng-include="'operation_editor'"></div>

</script>