<script type="text/ng-template" id="plan_viewer">

  <!--
    PLAN TEMPLATE
    -->

  <div ng-repeat="operation in plan.operations" class="rel">

    <div class='spanner-row indent-20'>
      <opener model="operation.open"></opener>
      <spanner w=18 p=20>{{operation.id}}: {{operation.operation_type.name}}</spanner>
      <spanner w=52> 
        <a ng-if="operation.open" ng-class="op_mode(operation,'io')"   ng-click="operation.mode = 'io'">I/O</a>
        <a ng-if="operation.open" ng-class="op_mode(operation,'data')" ng-click="operation.mode = 'data'">Data</a>  
      </spanner>
      <spanner w=30 p=34>{{operation.status}}</spanner>
    </div>

    <div class='spanner-row indent-20'>
      <div ng-if="operation.open && operation.mode == 'io'"   ng-include="'op_io'" class='rel'></div>
      <div ng-if="operation.open && operation.mode == 'data'" ng-include="'data_association'" ng-init="object = operation" class='rel'></div>
    </div>

  </div>

</script>

<script type="text/ng-template" id="op_io">

  <!--
    FIELD VALUE TEMPLATE
    -->

  <div class='spanner-row indent-20'>
    <opener class='small-heading' invisible=true></opener>    
    <spanner w=18 p=42 c="small-heading">Name</spanner>
    <spanner w=12 c="small-heading">Item</spanner>       
    <spanner w=15 c="small-heading">Container</spanner>     
    <spanner w=55 c="small-heading">Sample</spanner>
  </div>

  <div class='spanner-row indent-20' ng-repeat="fv in operation.field_values">

    <opener model="fv.open" disabled="!fv.child_item_id"></opener>  
    <spanner w=18 p=42>{{fv.name}} ({{fv.role}})</spanner>
    <spanner w=12>
      <span ng-if="fv.child_item_id">{{fv.child_item_id}}</span>        
      <span ng-if="!fv.child_item_id">n/a</span>
    </spanner> 
    <spanner w=15>{{fv.item.object_type.name}}</spanner>          
    <spanner w=55>{{fv.child_sample.name}}</spanner>

    <div ng-if="fv.open" class='rel' ng-include="'data_association'" ng-init="object = fv.item"></div>

  </div>

</script>

<script type="text/ng-template" id="data_association">

  <!--
    FIELD VALUE DATA TEMPLATE
    -->

  <div class='spanner-row indent-20' 
       ng-if="object.data_associations.length == 0">
    No data
  </div>
  <div class='spanner-row indent-20' 
       ng-if="object.data_associations.length > 0"
       ng-repeat="da in object.data_associations">
    <spanner w=10>{{da.key}} : {{da.value}}</spanner>
  </div>
  
</script>

