<script type="text/ng-template" id="plan_list">

  <div layout="row" layout-wrap ng-repeat-start="plan in plans" 
       ng-class="plan.open ? 'plan-header plan-row plan-row-open clickable' : 'plan-header plan-row clickable'">

    <div flex="25" class='no-wrap no-highlight'>
      <input type='checkbox' ng-model='plan.selected' style="margin: -1px 5px 0 0">  
      <span ng-click="plan.open = !plan.open">
        <opener model="plan.open" class='no-highlight clickable no-margin' off="true"></opener>&nbsp;
      </span>
      <span class="md-body-2 no-highlight" ng-click="plan.open = !plan.open">
        {{plan.id}}: {{plan.name ? plan.name : plan.operations[0].operation_type.name}}
        <span ng-if="plan.user_id != current_user.id">({{plan.user.login}})</span>
      </span>
    </div>

    <div flex="55" class='no-wrap left-pad no-highlight' ng-if="!plan.open" ng-click="plan.open = !plan.open">
      <span ng-repeat="fv in plan.operations[0].field_values | filter : { role: 'output' }" class='md-body-2 sample-name'>
        {{fv.name}}: <a href="/browser?sid={{fv.child_sample_id}}">{{fv.sample.name}}</a>
      </span>
    </div>      

    <div flex="55" class='no-wrap left-pad no-highlight' ng-if="plan.open" ng-click="plan.open = !plan.open">
      <span ng-repeat="fv in plan.operations[0].field_values | filter : { role: 'output' }" class='md-body-2 sample-name'>
        {{fv.name}}: {{fv.child_sample.name}}
      </span>
    </div>

    <div flex="10" class='no-wrap left-pad no-highlight' ng-click="plan.open = !plan.open">
      <span ng-class="plan_state_class(plan)">
        {{plan.state}}
      </span>
    </div>

    <div flex="10" class='no-wrap' class='md-body-1 no-highlight' layout="row" layout-align="end center" ng-if="!plan.open" ng-click="plan.open = !plan.open">
      <div>{{plan.created_at|date}}</div>
    </div>

    <div flex="10" ng-if="plan.open" class='no-highlight' layout="row" layout-align="end center" ng-click="plan.open = !plan.open">
      <md-menu layout="row">

        <div class='detail-menu clickable'
             ng-click="openMenu($mdMenu, $event)">
          <ng-md-icon icon="menu" size="20" aria-label="Menu"></ng-md-icon>
        </div>

        <md-menu-content width="4" class="scrollable" flex>

          <md-menu-item aria-label="Reload">
            <md-button ng-click="plan.reload()">Reload</md-button>
          </md-menu-item> 

          <md-menu-item aria-label="Cancel">
            <md-button ng-click="plan.cancel('Canceled via user interface')">Cancel</md-button>
          </md-menu-item>         

          <% if Bioturk::Application.config.debug_tools %>
            <md-menu-item aria-label="Debug">
              <md-button ng-disabled="plan.debugging" ng-click="plan.debug()">Debug</md-button>
            </md-menu-item>
          <% end %>

          <% if false # This action should not be necessary since you can replan and relaunch instead %>
          <md-menu-item aria-label="Copy">
            <md-button ng-disabled="plan.relaunching" ng-click="relaunch(plan)">Copy</md-button>
          </md-menu-item>
          <% end %>

          <md-menu-item aria-label="Replan">
            <md-button ng-disabled="plan.relaunching" ng-click="replan(plan)">Replan</md-button>
          </md-menu-item>           

          <md-menu-divider></md-menu-divider>

          <md-menu-item aria-label="Add Data">
            <md-button ng-click="plan.new_data_association()">Add Data</md-button>
          </md-menu-item>

          <md-menu-item aria-label="Upload">
            <md-button><upload record='plan'></upload></md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>
    </div>

  </div>

  <div layout="row" layout-wrap ng-if="plan.open" ng-repeat-end="" class="plan-row plan-details"> 
    <div flex="100" ng-include="'plan_viewer'"></div>
  </div>

  <br />

  <md-button ng-if="!no_more_plans && plans.length > 0"
    class='md-raised md-primary md-small' 
    ng-disabled="getting_plans"
    ng-click="more_plans()">More</md-button>  

  <br /><br />
 
</script>
