<script type="text/ng-template" id="plan_editor">

  <div class='plan-controls'>

      <span class='plan-cost'>Cost Estimate: {{plan.cost()|currency}}</span>

      <span class='plan-controls pull-right'>
      
        <a ng-click="submit_plan()" 
           class='btn btn-small btn-primary' 
           href="#">Launch</a>

      </span>

  </div>

  <div ng-repeat="operation in plan.operations" 
       ng-include="'operation_editor'"></div>

</script>