<script type="text/ng-template" id="plan_viewer">

  <!--
    PLAN TEMPLATE
    -->

  <div ng-repeat="operation in plan.operations" class="rel" ng-include="'operation_viewer'">
  </div>

</script>

<script type="text/ng-template" id="operation_viewer">

  <!--
    OPERATION TEMPLATE
    -->

  <div class='spanner-row indent-20'>
    <opener model="operation.open"></opener>
    <spanner w=18 p=20>{{operation.id}}: {{operation.operation_type.name}}</spanner>
    <spanner w=52> 
      <a ng-if="operation.open" ng-class="op_mode(operation,'io')"   ng-click="operation.mode = 'io'">I/O</a>
      <a ng-if="operation.open" ng-class="op_mode(operation,'data')" ng-click="operation.mode = 'data'">Data</a>  
    </spanner>
    <spanner w=30 p=34>{{operation.status}}</spanner>
  </div>

  <div class='spanner-row indent-20'>

    <div ng-if="operation.open && operation.mode == 'io'"   
         ng-include="'op_io'" 
        class='rel'></div>

    <div ng-if="operation.open && operation.mode == 'data'" 
         ng-include="'job_info'" 
         class='rel'></div>

    <div ng-if="operation.open && operation.mode == 'data'" 
         ng-include="'data_association'" 
         ng-init="object = operation" 
         class='rel'></div>

  </div>

</script>

<script type="text/ng-template" id="op_io">

  <!--
    FIELD VALUE TEMPLATE
    -->

  <div class='spanner-row indent-20'>
    <opener class='small-heading' invisible=true></opener>    
    <spanner w=20 p=42 c="small-heading">Name</spanner>
    <spanner w=8 c="small-heading">Item</spanner>   
    <spanner w=12 c="small-heading">Location</spanner>          
    <spanner w=12 c="small-heading">Container</spanner>     
    <spanner w=47 c="small-heading">Sample</spanner>
  </div>

  <div class='spanner-row indent-20' ng-repeat="fv in operation.field_values">

    <opener model="fv.open" disabled="!fv.child_item_id"></opener>  
    <spanner w=20 p=42>{{fv.name}} <span class='small'>({{fv.role}})</span></spanner>
    <spanner w=8>
      <span ng-bind-html="fv.item.url | trust"></span><span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span>
    </spanner> 
    <spanner w=12>{{fv.item.location}}</spanner>
    <spanner w=12>{{fv.item.object_type.name}}</spanner>          
    <spanner w=47>{{fv.child_sample.name}}</spanner>

    <div class='indent-20'>
      <da ng-if="fv.open" record="fv.item"></da>
    </div>

  </div>

</script>

<script type="text/ng-template" id="job_info">

  <!--
    JOB TEMPLATE
    -->

  <div class='spanner-row indent-20' ng-if="operation.job_id">
    <span class="spanner-row">
      <spanner w=16 ng-bind-html="'Job ' + operation.job.url | trust"></spanner>
      <spanner w=52 ng-bind-html="'Performed by ' + operation.job.user.url | trust"></spanner>
      <spanner w=15>{{operation.job.created_at|date}}</spanner>
      <spanner w=15 p=5>{{operation.job.updated_at|date}}</spanner>
    </span>
  </div>

</script>


