<script type="text/ng-template" id="plan_list">

  <md-content class='plan-list'>

    <div class='md-headline top-pad bottom-pad' layout="row" layout-align="center center">Plans</div>  

    <div layout="row" layout-wrap ng-repeat-start="plan in plans"
         ng-class="plan.open ? 'plan-header plan-row plan-row-open' : 'plan-header plan-row'">

      <div flex="25" class='no-wrap'>
        <opener model="plan.open" class='no-highlight clickable no-margin'></opener>&nbsp;
        <span class="md-body-2">{{plan.id}}: {{plan.operations[0].operation_type.name}}</span>
      </div>

      <div flex="55" class='no-wrap left-pad'>
        <span ng-repeat="fv in plan.operations[0].field_values | filter : { role: 'output' }" class='md-body-1'>
          {{fv.name}}: {{fv.child_sample.name}}
        </span>
      </div>

      <div flex="10" class='no-wrap left-pad'>
        <span ng-class="'md-body-2 status-'+plan.operations[0].status">
          {{plan.operations[0].status}}
        </span>
      </div>

      <div flex="10" class='no-wrap' class='md-body-1'>
        {{plan.created_at|date}}
      </div>

    </div>

    <div layout="row" layout-wrap ng-if="plan.open" ng-repeat-end="" class="plan-row plan-details"> 
      <div flex="100" ng-include="'plan_viewer'"></div>
    </div>
   
  </md-content>

</script>
