<script type="text/ng-template" id="plan_editor">

  <div layout-padding>

    <section layout="row" layout-align="center center">

      <span class='md-headline'>
         {{plan.operations[0].operation_type.name}}
      </span>

      <span flex></span>

      <md-button 
        class="md-raised md-primary" 
        ng-click="plan.estimate_cost(); plan.status = 'launch'" 
        aria-label="Launch"
        ng-disabled="plan.status == 'planning'">
        <md-tooltip md-direction="bottom">
          Launch this plan
        </md-tooltip>        
        <span ng-if="plan.status != 'planning'">Launch</span>
        <span ng-if="plan.status == 'planning'">Planning...</span>
      </md-button>    

      <md-button class="md-raised" ng-if="plan != null" 
                 ng-click="$parent.add_goal()" aria-label="Add Goal">
        <md-tooltip md-direction="bottom">
          Add another '{{plan.operations[0].operation_type.name}} operation to this plan
        </md-tooltip>
        Add Goal
      </md-button>

    </section>

    <div ng-repeat="operation in plan.operations" 
         ng-include="'operation_editor'"></div>

  </div>

</script>
