<script type="text/ng-template" id="operation_type_chooser">

  <h4>Choose Goal Operation Type</h4>

  <ul>
    <li ng-repeat="operation_type in operation_types">
      <a href='#' ng-click="select(operation_type)">
        {{operation_type.name}} 
      </a>
    </li>
  </ul>

</script>


<script type="text/ng-template" id="operation_editor">

  <div class='operation'>

    <div class='outputs' ng-if="operation.operation_type.num_outputs() > 0">
      <div ng-repeat="ft in operation.operation_type.field_types | filter: { role: 'output' }"
           ng-include="'operation_io'"></div>
    </div>

    <div class='name'>
      <div class='arrow'>&ldsh;</div>
      <span>{{operation.operation_type.name}}</span>
      <div class='cancel'>
        <a href="#" ng-click="operation.clear()">&times;</a>
      </div> 
    </div>  

    <div class='inputs' ng-if="operation.operation_type.num_inputs() > 0">
      <div class='arrow'>&ldsh;</div>
      <div ng-repeat="ft in operation.operation_type.field_types | filter: { role: 'input' }"
           ng-include="'operation_io'"></div>
    </div>      

  </div>

</script>


<script type="text/ng-template" id="operation_io">

  <div class='field_value_form'
        ng-init="operation[ft.role][ft.name].aft_id = ft.allowable_field_types[0].id; operation[ft.role][ft.name].aft = ft.allowable_field_types[0]">

    <span class='io-name' ng-if="ft.allowable_field_types[0].object_type">
      <b>{{ft.name}}</b>
      <form class='radio-buttons pull-right'> 
        <span ng-repeat="aft in ft.allowable_field_types track by $index"
              ng-init="operation[ft.role][ft.name].aft_id = aft.id;">
          <label class="radio-label">
            <input type="radio" class="radio"
                   name="{{ft.name + '_' + ft.role}}"
                   ng-value="aft.id"
                   ng-disabled="ft.allowable_field_types.length == 1"
                   ng-model="operation[ft.role][ft.name].aft_id"
                   ng-change="set_aft(operation,ft,aft)"
                   ng-init="set_aft(operation,ft,aft)">
                     {{aft.object_type.name}}
          </label>
        </span>
      </form>
    </span>

    <div itemselect
         ng-if="ft.ftype == 'sample' && !ft.array"
         ft="ft" operation="operation"></div>

    <div ng-if="ft.ftype == 'sample' && ft.array">
      <div ng-repeat="fv in operation.field_values | filter: { name: ft.name } track by $index">      
        <div itemselect
             ng-if="ft.ftype == 'sample' && !ft.array"
             ft="ft"
             fv="operation.field_value_hash[ft.name][$index]"></div>      
        <a href="#" ng-click="operation.delete_array_field_value(ft,$index)">&times;</a>
      </div>
      <a href='#' 
         class='btn btn-mini' 
         ng-click="operation.add_array_field_value(ft)">+</a>
    </div>

  </div>

</script>

<script type="text/ng-template" id="item-select-template">

  <input type='string' 
         placeholder="Sample Identifier"
         id="sample-io"
         ng-class="show_item_select(ft) ? 'sample-with-item' : 'sample-only'"
         ng-model="operation.routing[ft.routing]">

  <div class='btn-group' ng-if="show_item_select(ft)">

    <a class="btn dropdown-toggle dropdown" data-toggle="dropdown" href="#">
      <span ng-if="operation[ft.role][ft.name].items.length == 0">No Items</span>    
      <span ng-if="operation[ft.role][ft.name].items.length > 0 && !operation[ft.role][ft.name].item">Item</span>
      <span ng-if="operation[ft.role][ft.name].item">
        <b>{{operation[ft.role][ft.name].item.id}}</b>: 
           {{operation[ft.role][ft.name].item.location}}
      </span>
      <span class="caret pull-right"></span>
    </a>

    <ul class='dropdown-menu' ng-if="operation[ft.role][ft.name].items.length > 0">
      <li ng-repeat="item in operation[ft.role][ft.name].items">
        <a href='#' ng-click="select(item)">
          <b>{{item.id}}</b>: 
          {{item.location}}
          ({{item.created_at|date}})
        </a>
      </li>
    </ul>

  </div>

</script>

