<% provide(:title, 'Launcher') %>

<div ng-app="aquarium" ng-controller="launcherCtrl as launcher" class='launcher'>

  <%= render partial: 'chooser' %>
  <%= render partial: 'editor' %>

  <div class='two-column'>

    <div class='two-column-left'>
      <div class='two-column-control'>
        <h4>Control</h4>
        <a href="#" class='btn btn-primary'>Launch</a>
      </div>
      <div class='two-column-control'>
        <h4>Plans</h4>
      </div>      
    </div>

    <div class='two-column-right'>

      <div ng-if="status != 'ready'">{{status}}</div>

      <div ng-if="status == 'ready'">
        <div ng-if="!operation.operation_type_id" ng-include="'operation_type_chooser'"></div> 
        <div ng-if="operation.operation_type_id" ng-include="'operation_editor'"></div> 
      </div>

    </div>

  </div>

</div>
