<h1>Open a Protocol or Metacol Stored on Your Computer</h1>

<br />

<div class='row-fluid'>

  <div class='span3'></div>

  <div class='span6 well'>

   <% if Rails.env != 'production' %>

      <%= form_tag(interpreter_open_local_file_path, multipart: true, class: 'file_upload') do %>

              <%= file_field_tag 'protocol_file', onchange: "updateFileName()" %><br />
              <label>File name:</label>
              <div class="input-append">
                <input id='file_name' class='choose_file_name' size=30 value='' style='padding: 4px'></input>
                <div id='get_file' class='btn' onclick="getFile()">Choose File</div>
              </div>
              <br />
              <%= submit_tag("Initialize", class: 'btn btn-primary') %>
 
       <% end %>
 
    <% else %>
          <p class='muted small'>Not available in production mode.</p>
    <% end %>

  </div>

  <div class='span3'></div>

</div>

<script>

  function getFile(){
    document.getElementById("protocol_file").click();
  }
  function updateFileName() {
    console.log(document.getElementById("protocol_file").value);
    document.getElementById("file_name").value = document.getElementById("protocol_file").value.replace("C:\\fakepath\\", "");
  }

</script>
