<h1>Protocol Tree</h1>

<div id='notice'></div>

<div id='loading-status' style='display:block;'><%= image_tag 'waiting_animation.gif' %></div>

<div class='protocol-directory'>
  <div id='root'></div>
</div>

<script>
$.ajax({
  url: 'subtree.js?open=no'
});
</script>
