<% provide(:title, 'Protocols') %>
<h1>Version Controlled Protocols</h1>

<div id='notice'></div>

<div class='row-fluid'>

  <div class='span2'></div>

  <div class='span8 protocol-directory well'>
    <h2>From GITHUB: klavinslab/protocols</h2>
    <div id='loading-status' style='display:block;'><%= image_tag 'waiting_animation.gif' %></div>
    <div id='root'></div>
    <p class='muted small'>
      Note: If your protocol is not looking current, you may need to
      reload this page to get a link to the latest version.
    </p>
  </div>

  <div class='span2'></div>

</div>

<script>

  $.ajax({
    url: 'subtree.js?open=no'
  });


</script>
