<% provide(:title, 'Protocols') %>

<h1>Protocol Tree</h1>

<div id='notice'></div>

<div class='protocol-directory well'>
  <div id='loading-status' style='display:block;'><%= image_tag 'waiting_animation.gif' %></div>
  <div id='root'></div>
</div>

<p>Note: If your protocol is not looking current, you may need to
  reload this page to get a link to the latest version.</p>

<script>
$.ajax({
  url: 'subtree.js?open=no'
});
</script>
