<html>

<head>
  <link rel="stylesheet" type="text/css" href="drawing.css">
</head>

<body>


  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id='svgcode'
    width='500' height='3000' viewBox="-90 0 500 3000" >
    <marker id="triangle"
      viewBox="0 0 10 10" refX="0" refY="5"
      markerUnits="strokeWidth"
      markerWidth="4" markerHeight="8"
      orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
  </svg>

  
<div id='drawing' style='position: absolute; top: 10px; left: 100px; z-index: -1;'>

  <% pc = 0 %>
  <% arrows = [] %>
  <% edges = [] %>
  <% @proto.program.each do |i| %>
    <div class='instruction <%= i.name %>' id='pc_<%= pc %>'>
      <div class="pc"><%= pc.to_s + ":" + i.name %></div>
      <div class="body"><%= i.to_html %></div>
      <% case i.name 
        when 'goto'
          edges.push( {type: 'goto', from: pc, to: i.destination } )
        when 'if'
          edges.push( {type: 'serial', from: pc, to: i.then_pc} )
          edges.push( {type: 'goto', from: pc, to: i.else_pc, side: 'left' } )
        when 'while'
          edges.push( {type: 'serial', from: pc, to: i.true_pc} )
          edges.push( {type: 'goto', from: pc, to: i.false_pc, side: 'left' } )
        else
          edges.push( {type: 'serial', from: pc, to: pc+1} ) if pc < @proto.program.length - 1
        end
      %>
      <%  pc += 1 %>
    </div><div class="connector"></div>
  <% end %>
    
</div>

<script>

  first = document.getElementById('pc_0');
  middle = first.offsetLeft + first.offsetWidth/2-2;

  function edge(a,b) {

    from = document.getElementById('pc_'+a);
    to = document.getElementById('pc_'+b);

    line = document.createElementNS(svgNS,'line');

    line.setAttributeNS ( null, 'x1', middle  );
    line.setAttributeNS ( null, 'y1', from.offsetTop + from.offsetHeight + 2 );
    line.setAttributeNS ( null, 'x2', middle   );
    line.setAttributeNS ( null, 'y2', to.offsetTop - 5);

    line.setAttributeNS(null,"fill","none");
    line.setAttributeNS(null,"stroke","black");
    line.setAttributeNS(null,"stroke-width",2);
    line.setAttributeNS(null,"marker-end","url(#triangle)");

    return line;

  }

  function goto(a,b,side) {

    from = document.getElementById('pc_'+a);
    to = document.getElementById('pc_'+b);

    p = document.createElementNS(svgNS,'polyline');

    if ( side != 'left' ) {

      if ( a < b ) {
        sigma = 2.25;
      } else {
        sigma = 2.5;
      }
      p1 = (from.offsetLeft+from.offsetWidth+2)   + ", " + (from.offsetTop+from.offsetHeight/2);
      p2 = (sigma*middle) + ", " + (from.offsetTop+from.offsetHeight/2);
      p3 = (sigma*middle) + ", " + (to.offsetTop+to.offsetHeight/2);   
      p4 = (to.offsetLeft+to.offsetWidth+9) + ", " + (to.offsetTop+to.offsetHeight/2);

    } else {

      if ( b-a < 4 ) {
        sigma = -1/5.0;
      } else {
        sigma = -2/5.0;
      }

      p1 = (from.offsetLeft+2)   + ", " + (from.offsetTop+from.offsetHeight/2);
      p2 = (sigma*middle) + ", " + (from.offsetTop+from.offsetHeight/2);
      p3 = (sigma*middle) + ", " + (to.offsetTop+to.offsetHeight/2);   
      p4 = (to.offsetLeft-6) + ", " + (to.offsetTop+to.offsetHeight/2);

    }

    p.setAttributeNS ( null, 'points', p1 + " " + p2 + " " + p3 + " " + p4 );

    p.setAttributeNS(null,"fill","none");
    p.setAttributeNS(null,"stroke","black");
    p.setAttributeNS(null,"stroke-width",2);
    p.setAttributeNS(null,"marker-end","url(#triangle)");

    return p;

  }

  s = document.getElementById('svgcode');

  var svgNS = "http://www.w3.org/2000/svg";

  <% edges.each do |e| %>

    <% if e[:type] == 'goto' %>
      s.appendChild(goto(<%= e[:from].to_s %>,<%= e[:to].to_s %>,'<%= e[:side] %>'));
    <% else %>
      s.appendChild(edge(<%= e[:from].to_s %>,<%= e[:to].to_s %>));
    <% end %>

  <% end %>

</script>

</body>

</html>