<ul id='nav' class="nav nav-pills"></ul>

<div id='content' class="pill-content"></div>

<script>

  repos = JSON.parse('<%= @repos.to_json.html_safe %>');

  function mkdir(path,tag,children) {

    for(var i=0; i<children.length; i++) {

      if(typeof children[i] == "string") {

        tag.append($("<li></li>").append("<a href=/repo/get?path="+path+"/"+children[i]+">"+children[i]+"</a>"));

      } else if ( children[i].children.length > 0 ) {

        (function() { // create a closure so the click function works

          var dirname = children[i].data;
          var contents = children[i].children;

	  var sublist = $("<ul id=" + dirname + "></ul>").addClass('repo-list').addClass('json_list').css('display','none');
          var link = $("<a href='#'>" + dirname + "</a>");
	  var name = $("<li></li>").addClass('repo-dirname').append(link).append(sublist);

	  link.click(function(e){
            e.preventDefault(); // prevents window from scrolling when directory name is clicked
            if ( sublist.css('display') == 'none' ) {
  	      sublist.css('display','block');
            } else {
  	      sublist.css('display','none');
            }
	  });       

	  tag.append(name);
	  mkdir(path+"/"+dirname,sublist,contents);

        })();

      }
    }

  }

  for( var i=0; i<repos.children.length; i++ ) {

    var repo_name = repos.children[i].data;
    var repo_info = repos.children[i].info;

    // Add navigation pill
    var li = $("<li><a id='"+repo_name+"_li' href='#"+repo_name+"'data-toggle='pill'>"+repo_name+"</a></li>");
    $('#nav').append(li);

    // Add pane content
    var pane = $("<div class='pill-pane row-fluid' id='"+repo_name+"'></div>");
    var info = $("<div class='span3 well repo-info'></div>")
        .append("<h3>"+repo_name+"</h3>")
        .append("<p><b>" + repo_info.message + "</b></p>")
        .append("<p>" + (new Date(repo_info.date)).toLocaleString() + "</p>")
        .append("<p>by " + repo_info.who + "</p>");

    var dir = $("<div class='span9'></div>");

    pane.append(info).append(dir);

    $('#content').append(pane);

    var list = $("<ul></ul>").addClass('repo-list').addClass('json_list');
    dir.append(list);

    mkdir(repo_name,list,repos.children[i].children);

    var update_button = $("<button class='btn btn-small repo-update'>Update</button>");

    (function() {
      var name = repo_name;
      update_button.click(function() {
        window.location="/repo/pull?name=" + name;
      });
    })();

    info.append(update_button);

  }

  $(function () {
    $('#'+'<%= @highlight %>'+'_li').tab('show');
  })

</script>
