@import "variables";

$row-height: 22px;

.field_value_form {
  width: 100% !important;

  display: inline-block;

  .name {
    width: 250px;
    font-weight: bold;
    display: inline-block;
  }

  input,
  input:focus,
  input:active,
  input:hover {
    color: $main-navbar-color;
    display: inline-block;
    padding: 2px;
    margin: 0px;
    width: 100% !important;
  }

  .radio,
  .radio:hover,
  .radio:active,
  .radio:checked {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .radio-label {
    padding-top: 2px !important;
    display: inline;
  }
}
