@import "variables";

.user-info {
  ul {
    list-style-type: none;
    li {
      padding: 5px;
    }
  }
}

.users {
  .next, .prev {
    a {
      height: 20px;
    }
  }
}

.flash {
  padding: 10px;
  width: 100%;
  background: $selection-highlight-color;
}

