<script type="text/ng-template" id="item"> 

  <div class="row">

    <div class="cell one">

      <span ng-repeat="n in range(indent) track by $index" class="spacer"></span>
      <span ng-if="item.open" class="expander expander-item" ng-click="close_item(item)">&#9661;</span>
      <span ng-if="!item.open" class="expander expander-item" ng-click="open_item(item)">&#9655;</span>        
      {{item.object_type.name }} <a href="/items/{{item.id}}"> {{item.id}} </a> at {{item.location}}</a>

    </div>

    <div class="cell two">
      <input ng-model="item.data.note" 
             ng-blur="noteBlur(item)"
             ng-style="noteColor(item.data.note)">
      </input>
    </div>

    <div class="cell three">&nbsp;</div>

    <div class="cell four">{{item.updated_at|date}}</div>

  </div>

  <div class="row" ng-if="item.open">
    
    <div class="cell one">
      <span ng-repeat="n in range(indent+1) track by $index" class="spacer"></span>
      {{item.data}}
    </div>
    <div class="cell two">&nbsp;</div>
    <div class="cell three">&nbsp;</div>
    <div class="cell three">&nbsp;</div>
  </div>
    
  <div ng-repeat="job in item.jobs">
    <div class="row" ng-if='item.open' ng-include="'job'"></div>
    <div class="row" ng-repeat="task in job.tasks" ng-if='item.open' ng-include="'task'"></div>
  </div>

</script>
