<script type="text/ng-template" id="nav"> 

  <label>Project</label>

  <div class="btn-group">

    <button class="btn dropdown-toggle chooser" data-toggle="dropdown">
      {{current_project}} <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li ng-repeat="p in projects"><a href="#" ng-click="set_project(p)">{{p}}</a></li>
    </ul>

  </div>

  <br /><br />
  <label>Sample Type</label>

  <div class="btn-group">

    <button class="btn dropdown-toggle chooser" data-toggle="dropdown">
      {{current_sample_type.name}} <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li ng-repeat="st in sample_types"><a href="#" ng-click="set_sample_type(st)">{{st.name}}</a></li>
    </ul>

  </div>  

  <br /><br />
  <label>Sample</label>

  <div class="btn-group">

    <button class="btn dropdown-toggle chooser" data-toggle="dropdown">
      Sample <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li ng-repeat="s in samples"
          ng-if="s.sample_type_id == current_sample_type.id && s.project == current_project">
        <a href="#" ng-click="set_sample(s)">{{s.name}}</a>
      </li>
    </ul>

  </div>  

</script>

<script>

</script>
