<h1>Liason#put</h1>

<p>This page is meant to be access via json requests.<p>

<h4>To add a new item at a given location</h4>
<pre>/liason/update.json?name=1000 mL Bottle&location=B2.465&quantity=5</pre></p>

<h4>To change the quantity of an existing item</h4>
<pre>/liason/update.json?name=1000 mL Bottle&item=12&quantity=5</pre>

