<script type="text/ng-template" id="sample_form">

  <!-- HEADING -->

   <div class='sample-header'>
     <span  class='sample-type-name' ng-if="!sample.edit">{{sample.sample_type.name}}:</span>
     <span  class='sample-type-name' ng-if="sample.edit">
       {{sample.sample_type.name}}
       {{sample.id}}:
     </span> 
 
     <span class='sample-name' ng-if="sample.edit">{{sample.name}}</span>
     <input class='editable' ng-model="sample.copy.name" ng-if="!sample.edit"></input>     
 
     <a href="#" ng-if="!sample.edit" ng-click='remove_sample(sample)'>
       <i class='icon-remove' ng-if="!no_remove"></i>
     </a>

     <a href="#" ng-if="sample.edit && !no_cancel" ng-click='view_sample(sample)'class='btn btn-mini'>
       Cancel
     </a>

     <a href="#" ng-if="sample.edit && !no_cancel" ng-click='save_sample(sample)'class='btn btn-mini btn-primary'>
       Save
     </a>

   </div>

   <!-- FIELDS -->

   <ul class='sample-tree-list'>

     <li>
       <span class="static-field-name">Description:</span>
       <i class='icon-refresh icon-white'></i> 
       <input class='editable' ng-model="sample.copy.description"></input>
     </li>

     <li>
       <span class="static-field-name">Project:</span>
       <i class='icon-refresh icon-white'></i>  
       <input class='editable' 
              ng-model="sample.copy.project" 
              type="text"
              projectcomplete></input>
     </li>

     <li ng-repeat='f in sample.sample_type.fields track by $index'
         ng-if="f.type == 'number' || f.type == 'string'">

       <!-- SIMPLE FIELDS -->     

       <div>
         <span class="field-name">{{f.name}}:</span>
         <i class='icon-refresh icon-white'></i> 
         <input class='editable mono' 
                ng-model="sample.copy['field'+f.index]" 
                type="{{f.type}}" 
                step="any"></input>
       </div>

     </li>

     <li ng-repeat='f in sample.sample_type.fields track by $index'
         ng-if="f.type == 'url'">

       <div>
         <span class="field-name">{{f.name}}:</span>
         <i class='icon-refresh icon-white'></i> 
         <input class='editable' 
                ng-model="sample.copy['field'+f.index]" 
                type="text" 
                step="any"></input>
       </div>

     </li>

     <li ng-repeat='f in sample.sample_type.fields track by $index'
         ng-if="f.type != 'url' && f.type != 'string' && f.type != 'number'">     

       <!-- LINKS TO OTHER SAMPLES -->

       <span class="sub-field-name">{{f.name}}:</span>

       <span>

         <i class='icon-refresh bullet-container'
            ng-click='sample.toggle_new_existing(f.index)'></i>

         <!-- CHOOSE AN EXISTING SAMPLE -->
         <span ng-if="sample.copy['field'+f.index].choice == 'existing'">
           <input class='editable' 
                  ng-model="sample.copy['field'+f.index].existing"
                  autocomplete="f.type"></input>
         </span>

         <!-- BUILD A NEW SAMPLE -->
         <span ng-if="sample.copy['field'+f.index].choice == 'new'">

           <button ng-class="new_subsample_button_class(sample.copy['field'+f.index].new,st_name)" 
                   ng-repeat="st_name in f.type"
                   ng-click="new_sub_sample(sample,f.index,st_name)"
                   ng-disabled="sample.copy['field'+f.index].new != null">{{st_name}}</button>

           <i class='icon-remove' 
              ng-if="sample.copy['field'+f.index].new" 
              ng-click="remove_subsample(sample.copy['field'+f.index])"></i>

           <ul class='sample-tree-list'>
             <li ng-if="sample.copy['field'+f.index].new" 
                 ng-include="'sample_form'" 
                 ng-init="sample = sample.copy['field'+f.index].new; no_remove=true; no_cancel=true"></li>
           </ul>

         </span>

       </span>

     </li>

   </ul>

</script>
