<script type="text/ng-template" id="sample_form">

  <!-- HEADING -->

   <div class='sample-header'>

     <span  class='sample-type-name' ng-if="!sample.edit">
       {{sample.sample_type.name}}:
       <input class='editable' ng-model="sample.copy.name"></input>
       <a href="#" ng-click='remove_sample(sample)'>
         <i class='icon-remove' ng-if="!no_remove"></i>
       </a>       
     </span>
   
     <span  class='sample-type-name' ng-if="sample.edit">
       {{sample.sample_type.name}}
       {{sample.id}}: 
       <span class='sample-name' >{{sample.name}}</span>
       <a href="#" ng-if="!no_cancel" ng-click='view_sample(sample)'class='btn btn-mini'>
         Cancel
       </a>       
       <a href="#" ng-if="!no_cancel" ng-click='save_sample(sample)'class='btn btn-mini btn-primary'>
         Save
       </a>
     </span> 
     
   </div>



   <ul class='sample-tree-list'>

     <!-- STATIC FIELDS -->

     <li>
       <span class="static-field-name">Description:</span>
       <i class='icon-refresh icon-white'></i> 
       <input class='editable' ng-model="sample.description"></input>
     </li>

     <li>
       <span class="static-field-name">Project:</span>
       <i class='icon-refresh icon-white'></i>  
       <input class='editable' 
              ng-model="sample.project" 
              type="text"
              projectcomplete></input>
     </li>

     <!-- STRING AND NUMBER FIELDS -->     
     <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'string' || ft.ftype == 'number'">
       <span class='field-name'>{{ft.name}}:</span>
         <i class='icon-refresh icon-white'></i> 
         <input ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name" class='editable mono' 
                ng-model="fv.value" 
                type="{{ft.ftype}}" 
                step="any"></input>      
     </li>

     <!-- URL FIELDS -->     
     <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'url'">
       <span class='url-field-name'>{{ft.name}}:</span>
         <i class='icon-refresh icon-white'></i> 
         <input ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name" class='editable mono' 
                ng-model="fv.value" 
                type="text"></input>      
     </li>

     <!-- LINKS TO OTHER SAMPLES -->
     <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'sample'">

       <span class="sub-field-name">{{ft.name}}:</span>

       <span ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name">
         <i class='icon-refresh clickable'
            ng-click='toggle_new_existing(sample,fv)'></i>

         <!-- CHOOSE AN EXISTING SAMPLE -->
         <span ng-if="!fv.choice || fv.choice == 'existing'">
           <input class='editable' 
                  ng-model="fv.child_sample_name"
                  autocomplete="fv.allowable_child_types"></input>
         </span>

         <!-- BUILD A NEW SAMPLE -->
         <span ng-if="fv.choice == 'new'">

           <button ng-repeat="st_name in fv.allowable_child_types"
                   ng-class="new_subsample_button_class(fv.new_child_sample,st_name)"
                   ng-click="new_sub_sample(sample,fv,st_name)"
                   ng-disabled="fv.new_child_sample != null">{{st_name}}</button>

           <i class='icon-remove clickable' 
              ng-if="fv.new_child_sample" 
              ng-click="remove_subsample(fv)"></i>

           <ul class='sample-tree-list'>
             <li ng-if="fv.new_child_sample" 
                 ng-include="'sample_form'" 
                 ng-init="sample = fv.new_child_sample; no_remove=true; no_cancel=true"></li>
           </ul>

         </span>

       </span>

     </li>

   </ul>

</script>
