<script type="text/ng-template" id="sample">

   <span class='sample-header'>

     <span class="sample-id"><a href="/samples/{{sample.id}}">{{sample.id}}</a>:</span>

     <span class='sample-name'>{{sample.name}}</span>

     <span ng-if='sample.user_id != current_user.id' class='owner-login'> ( {{logins[sample.user_id]}} ) </span>

     <span class="project-expander" 
           ng-if="!sample.open"
           ng-click="toggle_sample(sample)">
       &#9658;
     </span>

     <span class="project-expander"
           ng-if="sample.open"
           ng-click="toggle_sample(sample)">
       &#9660;
     </span>

     <a href="#" class="btn btn-mini"
           ng-if="sample.open && !no_edit && allowed(sample)"
           ng-disabled="editing"
           ng-click="editing || edit_sample(sample)"
           ng-model="sample.data.note">
       Edit
     </a>     

     <input class="tag pull-right"
           ng-model="sample.data.note"
            ng-blur="noteBlur(sample)"
            ng-style="noteColor(sample.data.note)"></input>

   </span>

     <div ng-if="sample.open">

       <ul>

         <li>
           <span class='static-field-name'>Description:</span> 
           <span class='static-field-value'>{{sample.description}}</span>
         </li>

         <li>
           <span class='static-field-name'>Created:</span> 
           <span class='static-field-value'>{{sample.created_at|date}}</span>
         </li>

         <!-- STRING AND NUMBER FIELDS -->
         <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'string' || ft.ftype == 'number'">
           <span class='field-name'>{{ft.name}}:</span>
           <span class='field-value' ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name">
             {{fv.value}}
           </span>
         </li>

         <!-- URL FIELDS -->
         <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'url'">
           <span class='url-field-name'>{{ft.name}}:</span>
           <span class='field-value' ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name">
             {{fv.value}}
           </span>
         </li>

         <!-- SUBSAMPLE FIELDS -->
         <li ng-repeat="ft in sample.sample_type.field_types" ng-if="ft.ftype == 'sample'">
           <span class='sub-field-name'>{{ft.name}}:</span>
           <span ng-repeat="fv in sample.field_values" ng-if="fv.name == ft.name">
             <span ng-if="!fv.child_sample">-</span>
             <span ng-if="fv.child_sample && !fv.edit"
                   ng-include="'sample'"
                   ng-init="sample = fv.child_sample"></span>
             <span ng-if="fv.child_sample && fv.edit"
                   ng-include="'sample_form'"
                   ng-init="sample = fv.child_sample"></span>   
           </span>
         </li>


       </ul>

     </div>

   </div>

</script>