<div ng-if="mode == 'view'">

  <div ng-if="samples[current_selection.project] && samples[current_selection.project][current_selection.sample_type]">

    <div class='sample-list-header'>
      <span class="sample-list-name">
        {{current_selection.project}}
        &#9658;
        <a href="/sample_types/{{sample_type_from_id(current_selection.sample_type).id}}">
          {{sample_type_from_id(current_selection.sample_type).name}}
        </a>
      </span>
      <span class="sample-list-description">
        ( {{sample_type_from_id(current_selection.sample_type).description}} )
      </span>
    </div>
    
  </div>

  <div class='sample-tree-list'>
    <ul>
      <li ng-repeat="sample in samples[current_selection.project][current_selection.sample_type]"
          ng-include="'sample_router'">
      </li>
    </ul>
  </div>

  <div ng-if="current_selection.sample_type && !current_selection.loaded">
    <p>Loading samples...</p>
  </div>

  <div ng-if="samples[current_selection.project] && samples[current_selection.project][current_selection.sample_type].length == 0">
    <p>No samples</p>
  </div>

</div>
