<script type="text/ng-template" id="sample">

   <span class='sample-header'>

     <span class="sample-id"><a href="/samples/{{sample.id}}">{{sample.id}}</a>:</span>

     <span class='sample-name'>{{sample.name}}</span>

     <span ng-if='sample.user_id != current_user.id' class='owner-login'> ( {{logins[sample.user_id]}} ) </span>

     <span class="project-expander" 
           ng-if="!sample.open"
           ng-click="toggle_sample(sample)">
       &#9658;
     </span>

     <span class="project-expander"
           ng-if="sample.open"
           ng-click="toggle_sample(sample)">
       &#9660;
     </span>

     <a href="#" class="btn btn-mini"
           ng-if="sample.open && !no_edit && allowed(sample)"
           ng-disabled="editing"
           ng-click="editing || edit_sample(sample)">
       Edit
     </a>     

   </span>

     <div ng-if="sample.open">

       <ul>

         <li>
           <span class='static-field-name'>Description:</span> 
           <span class='static-field-value'>{{sample.description}}</span>
         </li>

         <li>
           <span class='static-field-name'>Created:</span> 
           <span class='static-field-value'>{{sample.created_at|date}}</span>
         </li>

         <!-- STRING AND NUMBER FIELDS -->
         <li ng-repeat="field in sample_type_from_id(sample.sample_type_id).fields"
             ng-if="field.type == 'string' || field.type == 'number'">

           <span>
             <span class='field-name'>{{field.name}}:</span> 
             <span class='field-value'>{{sample["field"+field.index]}}</span>
           </span>

         </li>

         <!-- URL FIELDS -->
         <li ng-repeat="field in sample_type_from_id(sample.sample_type_id).fields"
             ng-if="field.type == 'url'">

           <span>
             <span class='url-field-name'>{{field.name}}:</span>           
             <a href='{{sample["field"+field.index]}}' target="outside-link">{{sample["field"+field.index]}}</a>
           </span>

         </li>

         <!-- SUBSAMPLE FIELDS -->
         <li ng-repeat="field in sample_type_from_id(sample.sample_type_id).fields"
             ng-if="field.type != 'string' && field.type != 'number' && field.type != 'url'">

           <span class='sub-field-name'>{{field.name}}: </span> 

           <span ng-if="sample.subsamples[field.name] && !sample.subsamples[field.name].id">-</span>

           <span ng-if="sample.subsamples[field.name] && sample.subsamples[field.name].id && !sample.subsamples[field.name].edit"
                 ng-include="'sample'"
                 ng-init="sample = sample.subsamples[field.name]"></span>

           <span ng-if="sample.subsamples[field.name] && sample.subsamples[field.name].edit"
                 ng-include="'sample_form'"
                 ng-init="sample = sample.subsamples[field.name]"></span>                 

         </li>

       </ul>

     </div>

   </div>

</script>