<script type='template' id='post-template'>
  <li class="post">
      <span class='post-username'>{{= username }}</span>
      <span class='post-login'>(<a href="/users/{{= user_id }}">{{= login }}</a>)</span>
      <span class='post-date'>{{= nice_date }}</span>
      {{ if ( typeof(topic_info) != "undefined") { }}
        {{ for ( var i=0; i<topic_info.length; i++ ) { }}
          <div class='topic'>
            <b>Topic: </b><span class='topic-info'>
              {{= topic_info[i].type }} 
              <a href="{{= topic_info[i].path }}" target=_parent>
                {{= topic_info[i].id }}
              </a>
              {{ if ( i < topic_info -1 ) { }}
                 ,
              {{ } }}
            </span>
          </div>
        {{ } }}
      {{ } }}
      <div class='post-content'>{{= content }}</div>
      <button id='start-reply-button' class='btn btn-link start-reply-button'>Reply</button>
      <div id='reply-area' class='reply-area' style='display:none'>
         <span class='post-username'>{{= username }}</span> 
         <span class='post-login'>(<a href="/users/{{= user_id }}">{{= login }}</a>)</span><br />
         <textarea class='post-content' id="reply-text"></textarea><br />
         <button id="send-reply-button" class='btn btn-mini'>Reply</button>
         <button id='cancel-reply-button' class='btn btn-mini post-reply'>Cancel</button>
      </div>
  </li>
</script>