<div id='general-posts' class='discussion'>

  <div class="new-post">
    <textarea id="new-post-text"></textarea><br />
    <button id="new-post-button" class='btn btn-mini'>Post</button>
  </div>

  <div id="posts-area">
    <div id="posts" class="posts-container"></div>
  </div>

  <button id="more-posts" class='btn btn-mini btn-primary'>More</button>

</div>

<script>

  var d = new Discussion();
  var num_parts = 0;

  d.index({
    tag: $('#general-posts')
  });

  $("#more-posts").click(function() {
    num_parts++;
    var p = $('<div class="posts-container"></div>');
    $("#posts-area").append(p);
    d.render_index_part(p,num_parts);
  });

</script>

<%= render partial: '/posts/post_template' %>