<h1>Discussions</h1>

<div id='general-posts' class='discussion'>

  <div class="new-post">
    <textarea id="new-post-text"></textarea><br />
    <button id="new-post-button" class='btn btn-mini'>Post</button>
  </div>

  <div id="posts" class="posts-container"></div>

</div>

<script>
  d = new Discussion();
  d.index({
    tag: $('#general-posts')
  });
</script>

<%= render partial: '/posts/post_template' %>