<h3>Operation: {{op.name}}</h3>

<form>
  <label>Name</label>
  <input ng-model="op.name" type="text"/>
  <label>Path</label>
  <input ng-model="op.protocol" type="text"/>
</form>

  <span class="hoverable" ng-click="addInput()">
    <icon class='icon-plus' /> New input
  </span>
  <br />
  <span class="hoverable" ng-click="addOutput()">
    <icon class='icon-plus' /> New output
  </span> 
  <br />
  <span class="hoverable" ng-click="addParam()">
    <icon class='icon-plus' /> New parameter
  </span>   
  <br />
  <span class="hoverable" ng-click="addData()">
    <icon class='icon-plus' /> New data
  </span> 

  <br />    

<br />

<!-- pre>{{op|json}}</pre -->
