<style>
.hoverable {
  cursor: pointer;
}
</style>

<form style='padding-left: 5px'>

  <fieldset>

    <label>Name</label>
    <input type="text" class='input-block-level' ng-model='ispec.name'>

    <label>Description</label>
    <textarea type="text" class='input-block-level' ng-model='ispec.description' />    

    <div class='row-fluid'>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="itemOrPart" ng-value="false" ng-model="ispec.is_part">
          Item
        </label>
        <label class="radio">
          <input type="radio" name="itemOrPart" ng-value="true" ng-model="ispec.is_part">
          Part
        </label>
      </div>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix"
                 ng-value="false" ng-model="ispec.is_matrix">
          Single
        </label>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix"
                 ng-value="true" ng-model="ispec.is_matrix" ng-click="dimensions()">
          Matrix
        </label>
      </div>      

      <div class='span6' ng-show="ispec.is_matrix">
        <input class='input-mini' type="number" ng-model='ispec.rows'> x 
        <input class='input-mini' type="number" ng-model='ispec.columns'>
      </div>

    </div>

  </fieldset>    


  <div alternatives="ispec.alternatives"></div>

  <icon class='icon-plus hoverable' ng-click="new_alternative()" />

</form>



<!-- pre>
{{ispec|json}}
</pre -->