<style>

.bracketed {
  border-left: 1pt solid green;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}

</style>

<form style='padding-left: 5px'>

  <fieldset>

    <label>Name</label>
    <input type="text" ng-model='ispec.name'>

    <div class='row-fluid'>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="itemOrPart" id="item" value="item" checked ng-click="item()">
          Item
        </label>
        <label class="radio">
          <input type="radio" name="itemOrPart" id="part" value="part" ng-click="part()">
          Part
        </label>
      </div>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix" id="scalar" value="scalar" checked ng-click="scalar()">
          Single
        </label>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix" id="matrix" value="matrix" ng-click="matrix()">
          Matrix
        </label>
      </div>      

      <div class='span6' id='dimensions'>
        <input class='input-mini' type="number" ng-model='ispec.rows'> x 
        <input class='input-mini' type="number" ng-model='ispec.columns'>
      </div>

    </div>

  </fieldset>    

  <div id="alternatives_container">
    <div alternatives="ispec.alternatives"></div>
  </div>

  <button class='btn btn-mini' ng-click="new_alternative()">+</button>

</form>

<hr />

<pre>
{{ispec}}
</pre>