<form style='padding-left: 5px'>

  <fieldset>

    <label>Name</label>
    <input type="text" ng-model='ispec.name'>

    <div class='row-fluid'>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="itemOrPart" id="item" value="item" checked ng-click="item()">
          Item
        </label>
        <label class="radio">
          <input type="radio" name="itemOrPart" id="part" value="part" ng-click="part()">
          Part
        </label>
      </div>

      <div class='span3'>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix" id="scalar" value="scalar" checked ng-click="scalar()">
          Single
        </label>
        <label class="radio">
          <input type="radio" name="scalarOrMatrix" id="matrix" value="matrix" ng-click="matrix()">
          Matrix
        </label>
      </div>      

      <div class='span6' id='dimensions'>
        <input class='input-mini' type="number" ng-model='ispec.rows'> x 
        <input class='input-mini' type="number" ng-model='ispec.columns'>
      </div>

    </div>

    <div class='row-fluid'>
      <label class='span6'>Sample Type</label>
      <label class='span6'>Container</label>
    </div>

    <div class='row-fluid'>
      <input id="sample_type" type=text class='span6' ng-model="sample_type" ng-blur="sample_type_change()">
      <input id="container"   type=text class='span6' ng-model="container" ng-blur="container_change()">      
    </div>

    <div class='row-fluid'>
      <label class='span12'>Sample</label>
    </div>

    <div class='controls controls-row'>
      <input id="sample" type=text  class='span12' ng-model="sample" ng-blur="sample_change()">
    </div>

    <button class='btn btn-primary'>Sync</button>

  </fieldset>

</form>

<hr />

<pre>
{{ispec}}
</pre>