<h4>Operation {{operation.id}}: {{operation.name}}</h4>

<ul id="operation-editor-tabs" class="nav nav-pills">
  <li><a href="#operation" data-toggle="tab">Details</a></li>
  <li><a href="#inputs" data-toggle="tab">Inputs</a></li>
  <li><a href="#ouputs" data-toggle="tab">Ouputs</a></li>
  <li><a href="#parameters" data-toggle="tab">Parameters</a></li>
  <li><a href="#data" data-toggle="tab">Data</a></li>
  <li><a href="#exceptions" data-toggle="tab">Exceptions</a></li>    
</ul>

<div class="tab-content">

  <div class="tab-pane" id="operation">

    <form class="form-inline">
      <label>Name</label><br />
      <input type='text' ng-model='operation.name'>
      <input type="submit" ng-click="$parent.save(operation)" value="Sync" class="btn">
    </form>

    <label>Protocol</label>
    <input type='text' ng-model='operation.protocol'>

  </div>

  <div class="tab-pane" id="inputs">     <div  inventory="operation.inputs">     </div> </div>
  <div class="tab-pane" id="ouputs">     <div  inventory="operation.outputs">    </div> </div>
  <div class="tab-pane" id="parameters"> <div    keyvals="operation.parameters"> </div> </div>
  <div class="tab-pane" id="data">       <div    keyvals="operation.data">       </div> </div>
  <div class="tab-pane" id="exceptions"> <div exceptions="operation.exceptions"> </div> </div>

</div>

<!-- pre>
{{operation}}
</pre -->

<script>
  $(function () {
    $('#operation-editor-tabs a:first').tab('show');
  })
</script>
