$row-height: 18px;

.browser {

  .browser-control {
    padding: 10px;
    border-bottom: 1pt solid #eee;
    border-right: 1pt solid #eee;
    border-left: 10px solid #eee;    
    cursor: pointer;   
  }

  .browser-control-on {
    border-left: 10px solid #ccc;
  }  

  .browser-control-plain {

  }    

  .inline-control {
    display: inline-block;
  }

  .input-append {
    margin: 0;
  }

  .folder-name {
    font-weight: normal;
  }

  .user-filter {
    margin-left: 10px;
  }

  .subtle {
    color: #ddd;
  }

  .input-no-style {
    color: #0000cc;
    display: inline-block;    
    padding: 0;
    margin: 0;
    border: none !important;
    height: $row-height !important;
    line-height: $row-height;
    -webkit-appearance:none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
  }

  .input-no-style:hover {
    /*outline: 1pt solid #eee;*/
  }  

  .select-no-style {
    color: #0000cc;
    display: inline-block;    
    padding: 0;
    margin: 0;
    border: none !important;
    height: $row-height !important;
    line-height: $row-height;
    -webkit-appearance:none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
  }  

  .full {
    width: 99% !important;
  }

  .td-input {
    /*border-bottom: 1pt solid #eee;*/
  }

  .sample-choice {
    margin-right: 5px;
  }

  .controls {

  }

  .field-table {
    width: 100%;
    /*outline: 1pt solid #bfb;*/
    margin: 0;
    tr {
      /*height: $row-height;*/
    }
    td {
      padding: 0 0 0 5px; 
      height: $row-height;
      /*outline: 1pt solid #def; */
    }
    .name {
      width: 160px;
      font-weight: bold;      
    }
    .name-string, .name-number {
      color: #358235;
    }
    .name-url {
      color: #966306;
    }
    .name-sample {
      color: #353582;
    }
    .url {
      color: #966306;
    }
    .value {
      font-weight: normal;
      font-family: monospace;      
    }
    .description {
      font-weight: normal;
    }    
    .modifer {
      width: 16px;
      /*border: 1pt solid green;*/
    }
  }

  .tree-nav {
    border-right: 0pt solid #eee;   
  }

  .viewer {
    padding-top: 10px;
  }

  .editable {
    border: 1pt solid #eee;
    margin: 0px;
    padding: 2px;
    height: 14pt;
    width: 99%;
  }

  .owner-login {
    color: #ccc;
    font-weight: normal;
  }

  .long {
    width: 400px;
  }

  .sample-type-name {
    font-weight: bold;
  }  

  .sample-type-id {
    
  }    

  .sample-id {
    font-weight: bold;
    a {
      color: black;
    }
  }  

  .sample-name {
    font-weight: normal !important;
  }    

  .tag {
    border: 1pt solid #eee;
    color: #abc;
    width: 50px;
    height: 12pt;
    padding: 0 0 0 2px;
    margin: 0;
    color: black;
  }

  .static-field-value {
    font-weight: normal;   
  }

  .mono {
    font-family: monospace;
  }

  .little {
    font-size: 8pt;
    line-height: 9pt;
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
    color: #888;
  }   

  .bigger {
    margin: 4px;
  }

  .sample-list-header {
    margin-bottom: 10px;
  }

  .sample-list-name {
    font-size: 14pt;
    font-weight: bold;
  }

  .sample-list-description {
    font-size: 14pt;
    margin-top: 5px;
  }

  /*  http://cssdeck.com/labs/pure-css-tree-menu-framework */

  .sample-tree-list {

    ul {
      margin:0 0 0 1em; /* indentation */
      padding:0;
      list-style:none;
      position:relative;
    }

    ul:before {
      content:"";
      display:block;
      width:0;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      border-left: 1px solid #bbb;
    }

    li {
      margin:0;
      padding: 0 0 0 1.5em; /* indentation + .5em */
      line-height:1.75em; /* default list item's `line-height` */
      font-weight:bold;
      position:relative;
    }

    li:before {
      content:"";
      display:block;
      width:10px; /* same with indentation */
      height:0;
      border-top:1px solid #bbb;
      margin-top:-1px; /* border top width */
      position:absolute;
      top:1em; /* (line-height/2) */
      left:0;
    }

    li:last-child:before {
      background:white; /* same with body background */
      height:auto;
      top:1em; /* (line-height/2) */
      bottom:0;
    }

    li:last-child {
      margin-bottom: 0;
    }

  }

  .clickable {
    cursor: pointer;
  }

  .project-list {
    padding-top: 10px;
    ul {
      list-style:none;
      margin-left: 22px;
      li {
        overflow: scroll;
        margin-left: 0px;
        position: relative;
        overflow: scroll;        
      }
        overflow: scroll;
    }    
  }

  .project-expander {
    cursor: pointer;
  }

  .project-heading {
    padding-bottom: 0;
    font-weight: bold;
  }

/* bootstrap overrides */

  html, body {
      height: 100%;
  }

  .main, .row-fluid {
      height: 100%;
  }

  .main:before, .main:after,
  .column:before, .column:after {
      content: "";
      display: table;
  }

  .main:after,
  .column:after {
      clear: both;
  }

  .column {
      height: 100%;
      overflow: auto;
      *zoom:1;
  }

  .column .padding {
      padding: 20px;
  }

  .box {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top:40px;
      padding: 10px;
  }

  .span9.full {
      width: 100%;
  }

  .bottom-margin {
    margin-bottom: 5px;
  }

  .inventory-table {
    table-layout: fixed;
    width: 100%;
    td {
      vertical-align: top;
      font-weight: normal;
    }
    .data-field {

    }
  }

}