@import "variables";

$row-height: 18px;
$selected-sample-color: #f6ffff;
$selected-sample-outline-color: #e0ffff;

.browser {
  .search-part {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page {
    border: 1pt solid #bbb;
    border-radius: 2px;
    width: 24px;
    margin: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .search-pager {
    padding: 0 16px 0 16px;
  }

  .page-selected {
    background: $selection-highlight-color;
  }

  @mixin sample-tree-list($color) {
    .sample-tree-list {
      margin: 0 0 10px 1em; /* indentation */
      padding: 0;
      list-style: none;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid #bbb;
      }

      li {
        margin: 0;
        padding: 0 0 0 0.9em; /* indentation + .5em */
        line-height: 1.75em; /* default list item's `line-height` */
        font-weight: bold;
        position: relative;
      }

      li:before {
        content: "";
        display: block;
        width: 10px; /* same with indentation */
        height: 0;
        border-top: 1px solid #bbb;
        margin-top: -1px; /* border top width */
        position: absolute;
        top: 1em; /* (line-height/2) */
        left: 0;
      }

      li:last-child:before {
        background: $color; /* same with body background */
        height: auto;
        top: 1em; /* (line-height/2) */
        bottom: 0;
      }

      li:last-child {
        margin-bottom: 0;
      }

      .dropdown-in-stl {
        li {
          padding: 0;
        }
        li:before {
          width: 0;
          border: none;
        }
      }

      .data-list {
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        li {
          padding: 0;
        }
        li:before {
          width: 0;
          border: none;
        }
        .data-key {
          font-weight: bold;
        }
        .data-value {
          font-weight: normal;
        }
        .data-upload {
          font-weight: normal;
        }
      }
    }
  }

  .view-description-well {
    margin-bottom: 10px;
  }

  .sample-heading-table {
    table-layout: fixed;
    td {
      height: 24px;
      overflow-x: scroll;
      white-space: nowrap;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0 !important;
    }
  }

  .sample-heading-name {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
  }

  .button-heading-open {
    width: 200px;
    overflow: visible !important;
    white-space: nowrap;
  }

  .button-heading-closed {
    width: 0;
    overflow: visible !important;
    white-space: nowrap;
  }

  .browser-control {
    padding: 15px;
    border: 1pt solid #ccc;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    @include sample-tree-list(white);
  }

  .browser-control-on {
    box-shadow: 0 0 10px #9ecaed;
  }

  .browser-control-plain {
    cursor: default;
  }

  .inline-control {
    display: inline-block;
  }

  .input-append {
    margin: 0;
  }

  .folder-name {
    font-weight: normal;
  }

  .user-filter {
    margin-left: 10px;
  }

  .subtle {
    color: #ddd;
  }

  .date {
    color: $selection-highlight-color;
  }

  .collection-table {
    overflow: scroll;
    white-space: nowrap;

    td {
      border: 1pt solid #ccc;
      width: 30px;
      margin: 0 0 1px 1px;
      font-size: 8pt;
      text-align: center;
      overflow: hidden;
      display: inline-block;
    }

    .collection-highlight {
      background: $selection-highlight-color;
    }
  }

  .input-no-style {
    color: $main-navbar-color;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none !important;
    height: $row-height !important;
    line-height: $row-height;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
  }

  .input-no-style:hover {
    /*outline: 1pt solid #eee;*/
  }

  .select-no-style {
    color: $main-navbar-color;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none !important;
    height: $row-height !important;
    line-height: $row-height;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
  }

  .full {
    width: 99% !important;
  }

  .td-input {
    /*border-bottom: 1pt solid #eee;*/
    outline: 1pt solid #eee;
  }

  .sample-choice {
    margin-right: 5px;
  }

  .controls {
  }

  .field-table {
    width: 100%;
    /*outline: 1pt solid #bfb;*/
    margin: 0;
    tr {
      /*height: $row-height;*/
    }
    td {
      padding: 0 0 0 5px;
      height: $row-height;
      overflow: visible;
      /*outline: 1pt solid #def; */
    }
    .name {
      width: 210px;
      font-weight: bold;
    }
    .name-string,
    .name-number {
      color: #358235;
    }
    .name-url {
      color: #966306;
    }
    .name-sample {
      color: #353582;
    }
    .url {
      color: #966306;
    }
    .value {
      font-weight: normal;
      font-family: monospace;
    }
    .description {
      font-weight: normal;
    }
    .modifer {
      width: 16px;
      /*border: 1pt solid green;*/
    }
  }

  .editable {
    border: 1pt solid #eee;
    margin: 0px;
    padding: 2px;
    height: 14pt;
    width: 99%;
  }

  .owner-login {
    color: #ccc;
    font-weight: normal;
  }

  .long {
    width: 400px;
  }

  .sample-type-name {
    font-weight: bold;
  }

  .sample-type-id {
  }

  .sample-id {
    font-weight: bold;
    a {
      color: black;
    }
  }

  .sample-name {
    font-weight: normal !important;
  }

  .tag {
    border: 1pt solid #eee;
    width: 44px;
    height: 20px;
    padding: 0 0 0 2px;
    margin: 2px 2px 2px 2px;
    color: black;
  }

  .static-field-value {
    font-weight: normal;
  }

  .mono {
    font-family: monospace;
  }

  .little {
    font-size: 8pt;
    line-height: 9pt;
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
    color: #888;
  }

  .bigger {
    margin: 4px;
  }

  .sample-list-header {
    margin-bottom: 0px;
  }

  .sample-list-name {
    font-size: 14pt;
    font-weight: bold;
  }

  .sample-list-description {
    font-size: 14pt;
    margin-top: 5px;
  }

  .plain-list {
    list-style: none;
    margin: 10px;
    li {
      margin: 0;
    }
  }

  .sample-container {
    padding: 0 0 0 5px;
    background: white;
    @include sample-tree-list(white);
  }
  .sample-container:hover {
    background: $selection-highlight-color;
    outline: 1pt solid $selected-sample-outline-color;
    border-radius: 2px;
    @include sample-tree-list($selection-highlight-color);
  }

  /********************************************************************************************/

  .clickable {
    cursor: pointer;
  }

  .project-list {
    padding-top: 10px;
    ul {
      list-style: none;
      margin-left: 22px;
      li {
        overflow: scroll;
        margin-left: 0px;
        position: relative;
        overflow: scroll;
      }
      overflow: scroll;
    }
  }

  .project-expander {
    cursor: pointer;
  }

  .project-heading {
    padding-bottom: 0;
    font-weight: bold;
  }

  .bottom-margin {
    margin-bottom: 5px;
  }

  .inventory-table {
    table-layout: fixed;
    width: 100%;
    td {
      vertical-align: top;
      font-weight: normal;
      overflow: hidden;
    }
    .data-field {
    }
    .deleted-item {
      color: #a00;
    }
    .edit-note {
      font-size: 14pt;
    }
    .note-editor {
      width: 100%;
      margin-top: 10px;
    }
    .da-notes {
      font-weight: normal;
      font-style: italic;
    }
  }

  .st-offset {
    cursor: pointer;
  }

  .st-offset-disabled {
    cursor: pointer;
    disabled: true;
    color: #ccc;
  }

  .item-small-icon {
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
  }

  .small-note {
    font-size: 9pt !important;
    font-weight: normal;
  }

  .toggle-se {
    cursor: pointer;
  }

  .upload-button {
    height: 36px;
    max-height: 36px;
    padding: 0 6px 0 6px;
    margin: 0 8px 0 8px;
  }

  .sidebar {
    hr {
      margin: 5px;
    }
    .find-item {
      margin-bottom: 20px;
      input {
        margin: 6px 0 0 10px;
      }
    }
    .new-collection {
      margin: 16px 0 10px 0;
    }
  }
}


// Style for item's pop-up dialog
md-toolbar:not(.md-menu-toolbar) {
  background-color: $button-color;
}

.item-label {
  color: white
}


// Style for "Switch Plan" dialog
.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: $button-color
}

