@import "bootstrap";
@import "variables";

@media (min-width: 980px) {
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  margin-top: 12px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 12px;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
  margin-top: 12px;
}

h3 {
  margin: 16px 0 10px 0;
}

h4  {
}

p {
  line-height:2;
}

.small {
}

.list {
  li {
    margin-left: 26px;
  }
}

.pagination {
  ul {
    li {
      a {
      }
    }
  }
}

.message {
  padding: 0;
  margin: 0;
}

.btn {
}

.btn-small {
  padding: 10px;;
}

.table {
  tr {
    th {
    }
    td {
    }
  }
}

input {
#    padding: 10px !important;
}

input[type=checkbox] {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;

#  padding: 10px;
#  margin: 20px;
  border-radius: 4px;
  height: 30px !important;
  width: 30px !important;
  border: 1pt solid #000;
  &:checked {
    background: #00a;
  }
}

.file_upload {
  #outline: 1pt dashed red;
  input[type=file] {
    display: none;
    height: 0px;
    width:0px;
    margin: 0;
    padding: 0;
  }
}

.file_upload{
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0;
}

.choose_file {
  padding: 0;
  margin: 0;
  .choose_file_name {
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 4px;
  }
  .choose_file_btn {
    vertical-align: 50%;
    margin: 0 20px 0 20px;
  }
  .choose_file_sub {
    margin: 0 20px 0 20px;
  }
}

/* header */

#logo {
  float: left;
  margin: 0 10px 0 0;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 8px 0 8px 0;
  font-weight: bold;
  font-size: 24pt;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#environment {
  position: fixed; 
  top: 31px; 
  left: 21px; 
  color: white;
}

.dropdown-menu {
  li {
  }
}

.dropdown {
  padding: 4px 0 4px 0;
}

.caret {
}

#info-area {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.0em;
  font-family: courier;
  color: #aaa;
  letter-spacing: -1px;
  padding: 10px 0 10px 0;
  font-weight: bold;
  line-height: 1;
}

/* footer */

footer {
  position: fixed; 
  bottom: 0;
  display: none;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  p { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 80%; 
  font-size: 9pt;
  margin: 50px 50px 50px 50px;
  @include box_sizing;
  display: none;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.alert {
  margin-top: 12px;
}

img {
  border-radius: 5px;
  margin-top:15px; 
  border: 1pt solid grey;
}

.well {
  opacity:.90; 
}