.data-associations-container {
  position: relative;
  clear: both;
  content: "";
  display: block;
  overflow: hidden; 
  margin-left: 0;
  padding: 0 0 0 5px;
  border-radius: 5px;
  border-left: 1pt solid black;
}

.da-upload {
  .image {
    height: 200px;
  }
  .value {
    margin: 2px 0 10px 0;
    width: 100% !important;
  }
  .save {

  }
  .download {
    margin-top: 10px;
  }
}