.data-associations-container {

  position: relative;
  clear: both;
  content: "";
  display: block;
  overflow: hidden; 
  margin: 5px;
  padding: 0;

  .da-upload {
    .image {
      height: 200px;
    }
    .value {
      margin: 2px 0 10px 0;
      width: 100% !important;
    }
    .save {

    }
    .download {
      margin-top: 10px;
    }
  }

  .da-input {
    width: 100% !important;
  }

  .da-key {
    width: calc(100% - 10px)
  }

  .left-margin {
    margin-left: 5px;
  }

  .right-margin {
    margin-right: 5px !important;
  }

}