.data-associations-container {

  position: relative;
  clear: both;
  content: "";
  display: block;
  overflow: hidden; 
  margin: 0;
  padding: 0;

  .da-upload {
    .image {
      height: 200px;
    }
    .value {
      margin: 2px 0 10px 0;
      width: 100% !important;
    }
    .save {

    }
    .download {
      margin-top: 10px;
    }
  }

  .da-input {
    width: 100% !important;
    margin-bottom: 2px;
    padding: 2px 4px 2px 4px;
  }

  .da-key {
    width: calc(100% - 10px);
    margin-bottom: 2px;
    padding: 2px;
    border-color: #eee;
    font-weight: bold;
  }

  .left-margin {
    margin-left: 5px;
  }

  .right-margin {
    margin-right: 5px !important;
  }

  .md-small {
    margin-bottom: 2px;
  }

  .da-row {
    margin-bottom: 4px;
  }

}

.download-link {

  color: #08c;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

}

