.developer {
  .ace_editor {
    position: absolute;
    right: 10px;
    left: 0;
    bottom: 0px;
    top: 10px;
    resize: none;
    font-weight: bold;
    background: transparent;
    border: 1pt solid #ccc;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .backtrace {
    margin-right: 10px;
    margin-left: -25px;

    .title {
      padding: 5px 5px 5px 10px;
      border: 1pt solid #ccc;
      /*border-radius: 5px;*/
      margin-right: 10px;
      margin-bottom: 5px;
      background: #fafffa;
    }

    .step {
      padding: 5px 5px 5px 10px;
      border: 1pt solid #ccc;
      /*border-radius: 5px;*/
      margin-right: 10px;
      margin-bottom: 5px;
    }

    .step-next {
      background: #fafffa;
    }

    .step-display {
      background: white;
      border: none;
      margin-left: 15px;
    }

    .step-initialize,
    .step-complete {
      background: #fafffa;
    }

    .step-error {
      background: lightyellow;
    }
    
    .content-title {
      font-weight: bold;
    }

    .content-note {
      margin-left: 10px;
    }

    .content-select {
      margin-left: 10px;
    }
  }

  .arguments {
    width: 100%;
    height: 80px;
  }
}
