.discussion-modal {
  height: 80%;
  width: 60% !important;
  margin-left: -30% !important;
  .modal-body {
    overflow-y:auto;
    max-height:82%;
    margin-top:0px;
  }
}
.discussion {

  padding: 5px;
  textarea {
    width: 100%;
    height: 100px;
  }
  ul {
    list-style-type: none;
    ul {
      margin-left: 10px;
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 0px;
    }
  }
  .posts-container {
    margin-left: -25px;
  }
  .new-post {
    margin-left: 0px;
  }
  .post-username {
    font-weight: bold;
  }
  .post-date {
    font-weight: bold;
    color: #aaa;
    margin-left: 5px;
  }
  .post {
    margin: 5px 0 5px 0;
  }
  .post-content { 
  }
  .reply-area {
    margin: 10px 0 20px 25px;
  }
  .start-reply-button {
    padding: 0;
    margin: 0;
    color: #aaa;
    font-weight: bold;
    font-size: 8pt;
    border: 0;
  }
  .protocol-version {
    margin-bottom: 10px;
  }
}

.discussion-index {
  border: none;
  height: 900px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.discussion-iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
