    a.google_blue, a.google_blue:visited {
      color: #1a0dab;
    }
    
    a.figma_blue, a.figma_blue:visited {
      color: #2196F3;;
    }

    .title {
        padding: 16px 0;
        font-size: 14px;
        font-weight: 700;
    }

    .jobs_button {
        margin: 0 16px 0 0;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        background-color: rgb(255, 255, 255);
        color: rgb(170, 170, 170);
    }
    
    div {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.25px;
        text-align: left;
        font-weight: 400;

    

        .typography_figma_bold {
            font-weight: 700;
        }

        /*  GENE'S FFLEX STUFF
        ---------------------------------------- */
        .fflex_resp, .fflex_bang {
        display: -ms-flexbox;
        display: flex;
        position:relative;
        }

        .fflex_col {
        flex: 1 1 0;
        margin-right: 8px;
        padding-left: 8px;
        min-width:0;
        }

        .fflex_col2 {
        flex: 2 1 0;
        margin-right: 8px;
        padding-left: 8px;
        min-width:0;
        }

        .fflex_col3 {
        flex: 3 1 0;
        margin-right: 8px;
        padding-left: 8px;
        min-width:0;
        }

        .fflex_col4 {
        flex: 4 1 0;
        margin-right: 8px;
        padding-left: 8px;
        min-width:0;
        }

        .fflex_col_auto  {
        width: auto;
        margin-right: 8px;
        padding-left: 8px;
        min-width:0;
        }

        .fflex_title {
        padding:8px 0;
        /* background-color:#2196f3; */
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        border-bottom: 2px solid #c0c0c0;
        }

        .fflex_row {
        //   padding:8px 0;
        align-items: center;
        border-bottom: 1px solid #c0c0c0;
        font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0.25px;
            text-align: left;

        }

        .fflex_right {
        justify-content: right;
        }

        .fflex_center_text {
            text-align: center;
        }

        .highlight_blue {
            background: rgba(227, 243, 255, 1);
        }

        .react_container {
            overflow-y: scroll;
            padding: 0 20px;
        }

        

        .jobs_button:disabled {
            border-bottom: 1px solid rgb(0, 0, 0);
            color: rgb(0, 0, 0);
        }

        // USE WHEN TABLE DOES NOT TAKE UP FULL SCREEN
        // ACCOUNT FOR WIDE SIDE BAR
        @media screen and (max-width: 1023px) {
            .fflex_1024 .fflex_resp {
            display: block;
            overflow: auto;
            }
    
            .fflex_1024 .fflex_title {
            display:none;
            }
    
            .fflex_1024 .first_row {
            border-top: 1px solid #c0c0c0;
            }
    
            .none_1024 {
            display:block;
            }
    
            .show_1024 {
            display:none;
            }
    
            div[fflex_content] {
            line-height:22px;
            padding:4px 0 4px 100px;
            position:relative;
            text-align: start;
            }
    
            div[fflex_content]:before {
            content: attr(fflex_content);
            position: absolute;
            font-weight: 600;
            left: 0;
            }

        }
        
        // USE WHEN TABLE IS FULL PAGE WITH
        @media screen and (max-width: 767px) {
        .fflex_768 .fflex_resp {
            display: block;
            overflow: auto;
        }

        .fflex_768 .fflex_title {
            display:none;
        }

        .fflex_768 .first_row {
            border-top: 1px solid #c0c0c0;
        }

        .none_768 {
            display:block;
        }

        .show_768 {
            display:none;
        }

        div[fflex_content] {
            line-height:22px;
            padding:4px 0 4px 100px;
            position:relative;
        }

        div[fflex_content]:before {
            content: attr(fflex_content);
            position: absolute;
            font-weight: 600;
            left: 0;
        }

        }
    }