@import "variables";

body .finder {
  width: 1000px;
  height: 500px;
  margin-left: -515px;
}

.finder-body {
  //height: 400px;
  //outline: 2pt dashed red;
  overflow: hidden !important;
}

.finder-btn {
  margin-left: 10px;
}

.finder-column {
  float: left;
  height: 360px;
  border: 1pt solid #eee;
  padding: 0px;
  margin: 0px;

  h1 {
    background: #eee;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 5px 0;
    padding: 3px;
  }
}

.finder-list-container {
  height: 90%;
  margin: 0;
  overflow: scroll;
}

.finder-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    line-height: 1.2;
    margin-left: 5px;
    padding-bottom: 3px 0 3px 0;
    padding-left: 0;
    width: 200%;
    // outline: 1pt dashed green;
  }
}

.finder-li-highlighted {
  background: $selection-highlight-color;
}

.finder-selected {
  background: lightcyan;
}

#sample-info {
  padding: 5px;
}
