body .finder {
  width: 1000px;
  height: 500px;
  margin-left: -515px;
}

.finder-body {
  //height: 400px;
  //outline: 2pt dashed red;
  overflow:hidden !important;;
} 

.finder-btn {
  margin-left: 10px;
}

.finder-column {
  float: left;
  height: 360px;
  border: 1pt solid #eee;
  padding: 0px;
  margin: 0px;

  h1 {
    margin: 0 0 5px 0;
    padding: 3px;
    line-height: 1.2;
    font-size: 12pt;
    background: #eee;
    color: black;
    font-weight: bold;
    letter-spacing: 0px;
  }
}

.finder-list-container {
  overflow: scroll;
  height: 90%;
  margin: 0px;
}

.finder-list {
  list-style: none;
  padding-left:0;
  margin-left: 0;
  li {
    padding-left:0;
    margin-left: 5px;
    padding-bottom: 3px 0 3px 0;
    line-height: 1.2;
    width: 200%;
    /* outline: 1pt dashed green; */
  }

}

.finder-li-highlighted {
  background: lightyellow;
}

.finder-selected {
  background: lightcyan;
}

#sample-info {
  padding: 5px;
}