body .finder {
  width: 1000px;
  height: 500px;
  margin-left: -515px;
}

.finder-body {
  //height: 400px;
  //outline: 2pt dashed red;
  overflow:hidden !important;;
} 

.finder-btn {
  margin-left: 10px;
}

.finder-column {
  float: left;
  height: 360px;
}

.finder-list-container {
  overflow: scroll;
  height: 100%;
}

.finder-list {

  border-left: 1pt solid black;
  list-style: none;
  padding-left:0;
  margin-left: 0;
  li {
    padding-left:0;
    margin-left: 5px;
    padding-bottom: 5px;
    line-height: 1.1;
  }

}

.finder-li-highlighted {
  background: yellow;
}

.finder-selected {
  background: cyan;
}