@import "variables";

$row-height: 20px;
$editable-height: 20px;
$row-margin: 3px;

$thick: 0;
$oo: $thick dashed orange;
$go: $thick dashed green;
$bo: $thick dashed blue;
$ro: $thick solid red;
$po: $thick dashed pink;

.folder-contents {
  position: relative;

  .sample-repeater {
    outline: $oo;
    display: block;
  }

  .row {
    border-bottom: 1pt solid #eee;

    outline: $go;

    height: $row-height;

    padding: 0;
    margin: 0 0 $row-margin 0;

    .row-button {
      vertical-align: middle;
      position: relative;
      height: 18px;
      margin-top: -2px;
    }

    .info {
      outline: $bo;
    }

    .id {
      height: $row-height;
      line-height: $row-height;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      outline: $bo;
    }

    .selected {
      color: red;
    }

    .name {
      height: $row-height;
      line-height: $row-height;
      display: inline-block;
      outline: $bo;
    }

    .info {
      height: $row-height;
      line-height: $row-height;
      display: inline-block;
      padding-right: 20px;
      outline: $bo;
    }

    .sample-type {
      height: $row-height;
      line-height: $row-height;
      color: #aaa;
      display: inline-block;
      outline: $bo;
    }
  }

  .data {
  }

  .editable {
    color: $main-navbar-color;
    vertical-align: top;
    height: $row-height;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
    outline: $ro;
  }

  .editable:focus {
    height: $row-height;
    outline: none;
    display: inline-block;
    border: none !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .expander-container {
    height: $row-height;
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block;
    outline: $po;

    .expander {
      height: $row-height;
      line-height: $row-height !important;
      cursor: pointer;
      color: #444;
      font-size: 8pt;
      padding: 0 !important;
      margin: 0 !important;
      display: inline-block;
    }

    .expander-large {
      height: $row-height;
      line-height: $row-height !important;
      cursor: pointer;
      color: #444;
      padding: 0 !important;
      margin: 0 !important;
      display: inline-block;
    }

    .spacer {
      height: $row-height;
      line-height: $row-height !important;
      display: inline-block;
    }
  }

  .thread-description {
    height: $row-height;
    display: inline-block;
    width: 75%;
  }

  .error-message {
    color: red;
  }

  .icon-holder {
    width: 18px;
    outline: 0pt solid #aee;
  }

  .thread-builder-select {
    color: $main-navbar-color;
    display: inline-block;
    height: $row-height;
    width: auto;
    box-shadow: none !important;
    border: 0;
    margin: 0 0 1px 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background: transparent;
    border-radius: 0;
  }

  .multiselect {
    color: $main-navbar-color;
    display: inline-block;
  }

  .multiselector {
    cursor: pointer;
    padding-right: 50px;
  }

  .multiselected {
    background: #ddffdd;
  }

  .parameter-name {
    vertical-align: top;
  }

  .value {
    color: $main-navbar-color;
    display: inline-block;
  }

  .thread-selector-all {
    margin: 0 3px 0 0;
    color: black;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
  }

  .thread-selector {
    cursor: pointer;
  }

  .workflow-message {
    color: #00cc00;
  }
}

.folder-workflow {
  height: $row-height;
}

.folder-folder {
  height: $row-height;
  cursor: pointer;
  border-bottom: 1pt solid #eee;
}

.folder {
  width: 100%;
  cursor: pointer;
}

.folder-workflow {
  width: 100%;
  cursor: pointer;
  border-bottom: 1pt solid #eee;
}

.folder-sample-data {
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.folder-sample-key {
  margin: 0;
  padding: 0;
}

.folder-noedit {
  disabled: true;
}

.folder-selected {
  color: red;
  font-weight: bold;
}

.folder-ul {
  list-style: none;
  margin-left: 22px;
  overflow: scroll;

  li {
    margin-left: 0;
    overflow: scroll;
    position: relative;
  }
}

.folder-ul-top {
  margin-left: 0;
  overflow: scroll;
}

.folder-expander-disabled {
  color: #ccc;
}

.folder-btn {
  margin: 0 20px 12px 0px !important;
}

#folder-list {
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-top: 10px;
  border-right: 1pt solid #eee;
  overflow: scroll;
}

.folder-path-input {
  outline: none;
  border: 1pt solid white !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: auto;
}

.folder-current-name:hover {
  border: 1pt solid #bbf !important;
}

.folder-current-name {
  font-weight: bold;
}

.folder-controls {
  border-bottom: 1pt solid #000;
  padding-left: 10px;
  padding-right: 50px;
}

.position-fixed {
  position: fixed;
}

//
// Folder Contents
//

#folder-content-container {
  overflow: scroll;
}

#folder-current {
  height: 100%;
  overflow: hidden;
  padding-right: 0;
  position: relative;
}

.folder-contents-heading {
  background: #eee;
  border-bottom: 1pt solid #ddd;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 0;
  width: 100%;
}

.folder-contents {
  height: 100%;
  margin: 0;
  overflow: scroll;
  padding: 0;
  width: 100%;
}

.folder-contents-row {
  border-right: 1pt solid #ddd;
  display: table;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.folder-contents-cell {
  border-left: 1pt solid #ddd;
  border-top: 1pt solid #ddd;
  display: table-cell;
  margin: 0;
  overflow: scroll;
  padding: 5px;
  white-space: nowrap;
}

.folder-role-select {
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85%;
  overflow: hidden;
}

.folder-contents-field-cell {
  border-top: 1pt solid #ddd;
  border-left: 1pt solid #ddd;
  margin: 0;
  padding: 0 0 0 5px;
  display: table-cell;
  overflow: scroll;
  white-space: nowrap;
}

.folder-sample-field {
  display: block;
}

.read-only {
  margin: 5px 30px 0 0;
  font-size: 14pt;
  color: #aaa;
}
