.folder {
  width: 100%;
  cursor: pointer;   
}

.folder-noedit {
  disabled: true;
}

.folder-selected {
  color: red;
  font-weight: bold;
}

.folder-ul {
  list-style:none;
  margin-left: 22px;
  li {
    overflow: visible;
    margin-left: 0px;
    position: relative;
  }
}

.folder-ul-top {
  margin-left: 0px;
}

.folder-expander-container {
  display: inline-block;
  width: 10px;
  /* outline: 1pt solid orange; */
}  

.folder-expander {
  cursor: pointer;
  color: #444;
  font-size: 8pt;
}

.folder-btn {
  margin: 0 20px 12px 0px !important;
}

#folder-list {
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-top: 10px;
}

.folder-path-input {
  outline: none;
  border: 1pt solid white !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: auto;
}

.folder-current-name:hover {
  border: 1pt solid #bbf !important
}

.folder-current-name {
  font-weight: bold;
}

.folder-controls {
  border-bottom: 1pt solid #000;
  padding-left: 10px;
  padding-right: 50px;
}

/*
 * Folder Contents
 */

#folder-content-container {
}

#folder-current {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.folder-contents-heading {
  /* outline: 1pt dashed red; */
  margin-bottom: -1px;  
  padding: 0px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1pt solid #ddd;   
  background: #eee;
}

.folder-contents {
   /*outline: 1pt dashed green; */
  margin: 0px;  
  padding: 0px;  
  width: 100%;  
  height: 100%;
  overflow: scroll;
  div:hover {
    background: #efe;
  }
}

.folder-contents-row {
  /*outline: 1pt dashed orange;*/
  border-right: 1pt solid #ddd; 
  margin: 0px;  
  padding: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.folder-contents-cell {
  border-top: 1pt solid #ddd;
  border-left: 1pt solid #ddd;
  margin: 0px;  
  padding: 5px;
  display: table-cell;
  overflow: scroll;  
  white-space: nowrap;
}

.folder-role-select {
  -webkit-appearance:none;
  box-shadow: none !important;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85%;
  overflow: hidden;
}

.folder-editable {
  outline: none;
  padding: 1px;
  margin: 1px;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  :focus {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;     
  };
}

.folder-contents-field-cell {
  border-top: 1pt solid #ddd;
  border-left: 1pt solid #ddd;
  margin: 0px;  
  padding: 0 0 0 5px;
  display: table-cell;
  overflow: scroll;  
  white-space: nowrap;
}

.folder-sample-field {
  display: block;

}

