$row-height: 20px;
$editable-height: 20px;
$row-margin: 3px;

$thick: 0pt;
$oo: $thick dashed orange;
$go: $thick dashed green;
$bo: $thick dashed blue;
$ro: $thick solid red;
$po: $thick dashed pink;

.folder-contents {

  position: relative;

  .sample-repeater {
    outline: $oo;
    display: block;
  }

  .row {

    border-bottom: 1pt solid #eee;

    outline: $go;

    height: $row-height;

    padding: 0;
    margin: 0 0 $row-margin 0;

    .row-button {
      vertical-align: middle;
      position: relative;
      height: 18px;
      margin-top: -2px;
    }

    .info {
      outline: $bo;
    }

    .id {
      height: $row-height; 
      line-height: $row-height;      
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      outline: $bo;
    }

    .selected {
      color: red;
    }

    .name {
      height: $row-height;
      line-height: $row-height;             
      display: inline-block;
      outline: $bo;  
    }

    .info {
      height: $row-height; 
      line-height: $row-height;            
      display: inline-block;
      padding-right: 20px;
      outline: $bo;      
    }

    .sample-type {
      height: $row-height; 
      line-height: $row-height;            
      color: #aaa;
      display: inline-block;
      outline: $bo;      
    }

  }

  .data {
  }

  .editable {
    vertical-align: top;
    height: $row-height;         
    display: inline-block;    
    padding: 0;
    margin: 0;
    border: none !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
    outline: $ro;
  }

  .editable:focus {
    height: $row-height;      
    color: #0000aa;
    outline: none;
    display: inline-block;       
    border: none !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;     
  }

  .expander-container {

    height: $row-height;  
    padding: 0 !important;
    margin: 0 !important;  
    display: inline-block;
    outline: $po;

    .expander {
      height: $row-height;   
      line-height: $row-height !important;     
      cursor: pointer;
      color: #444;
      font-size: 8pt;
      padding: 0 !important;
      margin: 0 !important;  
      display: inline-block;
    } 

    .spacer {
      height: $row-height;   
      line-height: $row-height !important;
      display: inline-block; 
    }

  }  

  .thread-description {
    height: $row-height;      
    display: inline-block;
    width: 75%;
  }

  .error-message {
    color: red;
  }

}


.folder-workflow {
  height: $row-height;
}

.folder-folder {
  height: $row-height;
  cursor: pointer;
  border-bottom: 1pt solid #eee;
}
.folder {
  width: 100%;
  cursor: pointer;   
}

.folder-workflow {
  width: 100%;
  cursor: pointer; 
  border-bottom: 1pt solid #eee;  
}

.folder-sample-data {
  width: 100%;
  cursor: pointer; 
  padding: 0;  
  margin: 0;
}

.folder-sample-key {
  margin: 0;
  padding: 0;
}

.folder-noedit {
  disabled: true;
}

.folder-selected {
  color: red;
  font-weight: bold;
}

.folder-ul {
  list-style:none;
  margin-left: 22px;
  li {
    overflow: visible;
    margin-left: 0px;
    position: relative;
  }
}

.folder-ul-top {
  margin-left: 0px;
} 

.folder-expander-disabled {
  color: #ccc;
}

.folder-btn {
  margin: 0 20px 12px 0px !important;
}

#folder-list {
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-top: 10px;
  border-right: 1pt solid #eee
}

.folder-path-input {
  outline: none;
  border: 1pt solid white !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: auto;
}

.folder-current-name:hover {
  border: 1pt solid #bbf !important
}

.folder-current-name {
  font-weight: bold;
}

.folder-controls {
  border-bottom: 1pt solid #000;
  padding-left: 10px;
  padding-right: 50px;
}

/*
 * Folder Contents
 */

#folder-content-container {
}

#folder-current {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-right: 0px;
}

.folder-contents-heading {
  /* outline: 1pt dashed red; */
  margin-bottom: -1px;  
  padding: 0px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1pt solid #ddd;   
  background: #eee;
}

.folder-contents {
   /*outline: 1pt dashed green; */
  margin: 0px;  
  padding: 0px;  
  width: 100%;  
  height: 100%;
  overflow: scroll;
}

.folder-contents-row {
  /*outline: 1pt dashed orange;*/
  border-right: 1pt solid #ddd; 
  margin: 0px;  
  padding: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.folder-contents-cell {
  border-top: 1pt solid #ddd;
  border-left: 1pt solid #ddd;
  margin: 0px;  
  padding: 5px;
  display: table-cell;
  overflow: scroll;  
  white-space: nowrap;
}

.folder-role-select {
  -webkit-appearance:none;
  box-shadow: none !important;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85%;
  overflow: hidden;
}

.folder-contents-field-cell {
  border-top: 1pt solid #ddd;
  border-left: 1pt solid #ddd;
  margin: 0px;  
  padding: 0 0 0 5px;
  display: table-cell;
  overflow: scroll;  
  white-space: nowrap;
}

.folder-sample-field {
  display: block;

}

