.matches {
  color: orange;
}

.new {
  color: darkgreen;
}

.issue {
  font-size: 14pt;
  background: lightyellow;
  border: 1pt solid black;
  border-radius: 5px;
  padding: 16px;
}

.import-main-container {
  margin: 16px;
}

.options-container {
  margin: 16px;
}