// Place all the styles related to the interpreter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interpreter-flow-chart {
  background: #eee;
  height: 600px;
  padding: 10px;
}

.interpreter-main {

  border: 1pt solid #aaa;
  border-radius: 10px;
  height: 600px;
  padding: 10px;

  h4 {
    font-size: 18pt;
    margin-bottom: 14px;
  }

  li {

    font-size: 18pt;

    .small-input {
      &:before {
        content: '&nbsp;&nbsp;';
      }
      width: 50px;
    }

  }

}

.interpreter-next {

  height: 600px;
  padding: 10px;

  button {
    display: none;
  }

}

