// Place all the styles related to the interpreter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
$outlineStyle: #f00 dotted 0px;

#interpreter {
  outline: $outlineStyle;
}

.interpreter-flow-chart {

  height: 100%;
  outline: $outlineStyle;

  .pc_notat {
    padding: 1px 2px 1px 10px;
    width: 92%;
    background: #eee;
    color: #666;
    font-size: 9pt;
    border-radius: 4px;
    font-family: courier;
    margin-bottom: 1px;
  }

  .pc_at {
    padding: 1px 2px 1px 10px;
    width: 92%;
    background: #111;       
    color: #fff;
    font-size: 9pt;
    border-radius: 4px;
    font-family: courier;
    margin-bottom: 1px;
  }

}

.interpreter-container {
  margin: 10px 0 0 0;
}

.interpreter-main {

  height: 100%;
  outline: $outlineStyle;
  border: 1pt solid #aaa;
  border-radius: 10px;
  padding: 10px 20px 10px 24px;

  h4 {
    font-size: 18pt;
    margin-bottom: 2px;
  }

  h1 {
#    font-size: 42pt;
   text-align: left;
  }

  li {

    font-size: 18pt;

  }

  .yesorno {
    margin: 0 0 20px 18px;
    label {
      font-size: 18pt;
    }
  }

  p {
    font-size: 18pt;
    padding: 0 0 0 0;
#    margin: 0 0 0 10px;
    line-height: 1.3;
  }

   .note {
    padding: 0 0 0 0;
    margin: 0 0 0 20px;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-cntl {
  float: left;
  margin: 20px 0 10px 0;
}

.input-large[class=input-large] {

#  height: 44px !important;

  &:before {
     content: '&nbsp;&nbsp;';
   }
  
}

#note-textarea {
  width: 100%;
  height: 200px;
}


.interpreter-buttons {

  height: 100%;
  outline: $outlineStyle;
  padding: 0;

  button {
    display: block;
    margin: 0 0 30px 0;
    width: 100%;
  }

}

.btn-interpreter {
  padding: 15px 0 15px 0 !important;
}

.take_object_select {

}

.take_choice_box {
# border: 1pt solid red;
# width: 75%;
  margin-top: 10px;
#  padding: 0;
}

.take_item_select {

  #display: inline-block;
  #width: 45%;
  margin: 0px 10px 0px 0px;
  #padding-right: 10px !important;


  .item_select {

    #height: 58px;
    margin: 5px 0 20px 0 !important;
    #padding: 10px !important;
    #passing: 0;
    height: 100%;

    option {
      padding: 10px !important;
    }

  }

}

.interpreter-select {

    #height: 58px;
    margin: 10px 0 20px 0 !important;
    padding: 10px !important;
    passing: 0;

    option {
      padding: 10px !important;
    }

}

.take_item_quantity {
  #display: inline-block; 
  #width: 25%; 
  #margin: 0px 10px 0px 0px;
  #padding: 10px;
# border: 1pt solid blue;
  input {
    #margin: 10px 0 20px 0 !important;
    passing: 0;
  }
}

.btn-more {
  margin: 0 0 0 10px; 
  padding: 0; 
  #border: 1pt solid blue;
  vertical-align: -75%
}