@import 'variables';

.invoice-main {
  margin: 16px;
}

.operation-type {
  margin: 0 0 10px;

  .operation-type-name {
    font-size: 14pt;
    font-weight: bold;
    margin: 0 0 10px;
  }
}

.transaction-list {
  list-style-type: none;
}

.transaction {
  border-top: 1pt solid $transaction-border-color;
  display: inline-block;
  width: 100%;

  .tr-check {
    display: inline-block;
    width: 5%;

    input[type='checkbox'] {
      margin-top: -4px !important;
    }
  }

  .amount {
    display: inline-block;
    width: 10%;
  }
// 
  .type {
    display: inline-block;
    width: 10%;
  }

  .category {
    display: inline-block;
    width: 9%;
  }

  .user {
    display: inline-block;
    width: 20%;
  }

  .plan {
    display: inline-block;
    width: 20%;
  }

  .operation {
    display: inline-block;
    width: 8%;
  }

  .job {
    display: inline-block;
    width: 7%;
  }

  .date {
    display: inline-block;
    width: 7%;
  }

  .credit {
    color: $credit-color;
  }

  .heading {
    font-weight: bold;
  }
}

.transaction-list-heading {
  border: 0 !important;
}

.transaction-log {
  .note {
    color: $transaction-note-color;
    display: inline-block;
    padding-left: calc(5% + 10px);
    text-align: left;

    a {
      color: $transaction-note-color;
      font-weight: bold;
    }
  }
}

.operation-type-summary {
  padding-left: 16px;
}

.budget-item {
  margin-bottom: 4px !important;
}

.budget-list {
  padding-left: 16px;
}

.budget-data {
  .md-datepicker-input {
    margin-bottom: 2px !important;
  }
}
