.krill-argument-list {
  list-style-type: none;
  margin-bottom: 10px;
  li {
    margin-bottom: 20px;
  }
}

////////////////////////////////////////////////////////////////////////////////////
// UI
//

#krill-waiting {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  z-index: -10;
  img {
    margin: auto;
    top: 40%;
    position: absolute;
  }
}

#krill-tools {
  // outline: 1pt solid black;
  overflow: none;
}

.krill-tools-tab {
  font-size: 10pt;
  padding: 0;
}

#krill-steps-ui {
  // outline: 1pt solid red;
}

.outline {
  //   outline: 2pt dashed orange;
}

.krill-carousel-btn {
  display: inline;
  float: left;
  width: 50px;
  background: #efefef;
  opacity: 0.4;
  position: relative;
  padding: 0;
  text-align: center;
}

.krill-left {
  cursor: w-resize;
}

.krill-right {
  cursor: e-resize;
}

.krill-arrow {
  //vertical-align: middle;
  top: 50%;
  position: relative;
  font-size: 24pt;
  margin: auto;
  padding: 0;
  text-align: center;
  display: inline;
  color: #fff;
  //outline: 1pt dashed green;
}

.krill-carousel-btn:hover {
  background: #eee;
}

.krill-association-heading {
  color: black;
  border-color: #eee;
  border-style: solid;
  border-width: 0 0 1pt 0;
  padding-bottom: 5px;
}

.krill-associations-upload-list {
  color: black;
  li {
    color: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////
// Steps
//

.krill-step-disabled {
  opacity: 0.5;
  .krill-step {
    //border: 1pt solid #999;
  }
  .krill-input-box {
    color: #999;
  }
  .krill-select {
    color: #999;
  }
}

#steps {
  float: left;
  overflow: hidden;
  //outline: 2pt dashed green;
}

#step_list {
  position: relative;
  width: 99999px !important;
  margin: 0;
  padding: 0;
  list-style-type: none;
  //background: #eee;
}

.krill-step-list-item {
  float: left;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  border: none;
  //outline: 4pt solid green;
}

.krill-step-container {
  //outline: 4pt solid green;
}

.krill-step {
  //border: 1pt solid #000;
  //border-radius: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: none;
  //outline: 4pt solid green;
  ul {
  }

  li {
    // list-style-type: none;
  }
}

////////////////////////////////////////////////////////////////////////////////////
// ELEMENTS
//

.krill-step-titlebar {
  //outline: 1pt dashed red;
  //  background: #eee;
  border-width: 0 0 1pt 0;
  border-color: #ddd;
  border-style: solid;
}

.krill-step-number {
  font-size: 36pt;
  font-weight: bold;
  line-height: 48pt;
  text-align: center;
  background: orange;
  color: white;
  border-color: lightorange;
  padding: 5px;
  padding-left: 5px;
  //border-width: 0 1pt 1pt 0;
  //border-style: solid;
}

.krill-title {
  font-size: 36pt;
  line-height: 48pt;
  margin-top: 6px;
}

.krill-next-btn {
  font-size: 36pt;
  line-height: 39pt;
  background: #494;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0 10px 0 10px !important;
  margin-top: 10px;
  display: block;
}

.krill-note-btn {
  font-size: 18pt;
  line-height: 39pt;
  background: #999;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0 10px 0 10px !important;
  margin-top: 10px;
  display: block;
  width: 50%;
}

.krill-abort-btn {
  font-size: 18pt;
  line-height: 39pt;
  background: #f33;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0 10px 0 10px !important;
  margin-top: 10px;
  width: 50%;
}

.krill-next-btn-disabled {
  cursor: not-allowed;
  background: #6b6;
}

.krill-step-ul {
  margin-top: 40px;
  list-style-type: none;
  width: 90%;
  li {
    margin-bottom: 10px;
  }
}

$noteFontSize: 20pt;
$noteLH: 1.2;
$notePad: 5px;
$noteBottomMargin: 20px;

.krill-note {
  font-size: $noteFontSize;
  margin-bottom: $noteBottomMargin;
  padding: $notePad;
  line-height: $noteLH;
}

.krill-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  top: 50% !important;
  margin-top: -8px !important;
  margin-right: 10px !important;
  border-radius: 0;
  height: 25px !important;
  width: 25px !important;
  border: 1pt solid #000;
  &:checked {
    background: green;
  }
  line-height: $noteLH;
}

.krill-check {
  font-size: $noteFontSize;
  margin-bottom: $noteBottomMargin;
  padding: $notePad;
  line-height: $noteLH;
}

.krill-warning {
  font-size: $noteFontSize;
  margin-bottom: $noteBottomMargin;
  padding: $notePad;
  line-height: $noteLH;
  span {
    color: red;
    background: yellow;
    padding: 0 5px 0 5px;
  }
}

.krill-select-label {
  display: block;
  font-size: 14pt;
  margin: 0 0 5px 5px;
}

.krill-select {
  margin: 0 0 0 5px;
  font-size: $noteFontSize !important;
  width: 400px;
  height: 50px;
}

.krill-input {
  margin: 0 0 10px 8px !important;
  padding-bottom: 0 !important;
}

.krill-input-label {
  display: block;
  font-size: 14pt;
  margin-bottom: 5px;
}

.krill-input-box {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-size: $noteFontSize !important;
  width: 400px;
}

.krill-item-id {
  font-size: $noteFontSize;
  line-height: $noteLH;
}

.krill-item-name {
  font-size: $noteFontSize;
  font-weight: bold;
  line-height: $noteLH;
}

.krill-item-location {
  font-size: $noteFontSize;
  margin-left: 20px;
  background: #bfb;
  font-weight: bold;
  padding: 2px 10px 0 10px;
  line-height: $noteLH;
}

.krill-item-sample {
  font-size: $noteFontSize;
}

.krill-item-type {
  font-size: $noteFontSize;
  line-height: $noteLH;
}

.krill-separator {
  height: 20px;
  width: 20px;
}

.krill-image {
  height: 300px;
}

.krill-bullet {
  list-style-type: circle;
  font-size: $noteFontSize;
  margin: 0 0 $noteBottomMargin 30px;
  padding: $notePad;
  line-height: $noteLH;
}

////////////////////////////////////////////////////////////////////////////////////
// tables
//

.krill-table {
  border: 1pt solid #aaa;
  font-size: $noteFontSize;
  line-height: $noteLH;
  margin: 15px;

  td {
    border: 1pt solid #aaa;
    text-align: center;
    padding: 10px;
  }

  .empty {
    background: #f5f5f5;
    color: #ddd;
    font-size: 18pt;
  }

  .full {
    background: #fff;
  }

  .selected {
    background: yellow;
  }
}

.krill-td-check {
  background: lightblue;
}

.krill-td-input {
}

.krill-table-input {
  display: inline-block;
  padding: 6px;
  font-size: 12pt;
  margin: 0 !important;
  border: none !important;
  height: 100% !important;
  width: calc(100% - 60px);
  line-height: 100%;
  position: relative;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.krill-table-input-large {
  font-size: 14pt !important;
}

.krill-table-input-prompt {
  color: #aaa;
}

.krill-td-check:hover {
  outline: 2pt solid lightblue;
  cursor: pointer;
}

.krill-td-selected {
  background: blue;
  color: white;
}

.krill-td-null-cell {
  background: yellow;
}

.td-filled-slot {
  border: 1pt solid #aaa;
  width: 37px;
  height: 37px;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
}

.td-empty-slot {
  width: 37px;
  height: 37px;
  background: #f5f5f5;
  color: #ddd;
  font-size: 18pt;
}

//////////////////////////////////////////////////////////////////////////////
// HISTORY
//

.krill-history-time {
  font-size: 8pt;
  text-align: left;
  color: #6c6;
  padding: 0;
  margin: 0;
}

.krill-history-title {
  line-height: 1;
  text-align: left;
  font-weight: bold;
  color: black;
}

.krill-history-step {
  border-top: 1pt solid #eee;
  padding: 3px 6px 9px 6px;
  cursor: pointer;
}

.krill-history-step:hover {
  background: rgba(250, 250, 250, 0.5);
}

.krill-history-step-selected {
  background: rgba(240, 240, 240, 0.5);
}

.krill-history-step-selected:hover {
  background: rgba(240, 240, 240, 0.5);
}

.krill-job-info {
  color: black;
  margin-bottom: 10px;
  padding: 3px 6px 9px 6px;
  font-weight: bold;
  background: #dfd;
  border: 1pt solid #eee;
  border-radius: 5px;
}

//////////////////////////////////////////////////////////////////////
// INVENTORY
//

.krill-inventory-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  li {
    border-top: 1pt solid #eee;
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 8pt;
  }
  li:hover {
    background: rgba(240, 240, 240, 0.5);
  }
  cursor: pointer;
}

.krill-inventory-item-id {
  color: #6c6;
  font-size: 10pt;
  margin: 0pt;
  padding: 0;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  line-height: 1;
}

.krill-inventory-item-id::after {
  content: ": ";
}

.krill-inventory-object-type-name {
  font-size: 10pt;
  margin: 0 5px 0 0;
  color: black;

  line-height: 1;
}

.krill-inventory-sample-name {
  font-size: 10pt;
  margin: 0 0 0 0;
  color: #999;
  display: block;
  line-height: 1;
  font-weight: bold;
}

.krill-inventory-h4 {
  font-size: 11pt;
  margin: 0 5px 0 0;
  color: black;
}

.aquarium-item {
  color: #6c6;
  &:hover {
    cursor: pointer;
  }
}

.aquarium-sample {
  color: #6c6;
  &:hover {
    cursor: pointer;
  }
}

//////////////////////////////////////////////
// Transfer

.krill-from-container {
  float: left;
  display: inline;

  h3 {
    text-align: left;
    margin: 0 0 0 50px;
    padding: 0;
  }
}

.krill-transfer-arrow {
  float: left;
  display: inline;
  width: 100px;
  text-align: center;
  padding-top: 10px;
}

.krill-to-container {
  float: left;

  h3 {
    text-align: right;
    margin: 0 0 0 0;
    padding: 0;
  }
}

.krill-transfer-table {
  // border: 1pt solid #aaa;
  font-size: $noteFontSize;
  margin: 15px;
  padding: 0;
  margin: 0;

  td {
    border: 1pt solid #aaa;
    text-align: center;
    width: 50px;
    height: 50px;
  }

  .index {
    color: #aaa;
    font-size: 10pt;
    border: none;
  }

  .selected {
    background: yellow;
  }
}

.krill-transfer-todo {
  background: lightgreen;
}

.krill-transfer-doing {
  background: red;
}

.krill-transfer-done {
  background: lightgray;
}

.krill-transfer-info {
  display: block;
  clear: both;
  padding-left: 50px;
  padding-top: 50px;
  p {
    font-size: $noteFontSize;
  }
}

//////////////////////////
// File uploads
//

.bar {
  height: 18px;
  background: green;
}

.krill-upload-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 1;
    margin: 0 0 5px 0;
  }
}

.krill-break {
  display: block;
  float: left;
}

.krill-file-upload-container {
  position: relative;
}

.krill-upload-complete {
  color: black;
}

.krill-upload-waiting {
  color: red;
}

.krill-upload-input {
  display: none;
}

.krill-upload-list-heading {
  font-weight: bold;
  display: none;
}

.krill-timer {
  border: 1pt solid #eee;
  background: yellow;
  color: black;
  padding: 30px;
  margin: 20px;
  width: 340px;
  font-size: 40pt;
}

.krill-associations-tasks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 1;
    margin: 0 0 5px 0;
  }
}

////////////////////////////////////////////////////////////////////////
// Log
//

#log-title-box {
  background: #eee;
  padding: 10px;
  width: 98%;
}
.log-h {
  text-align: left;
}
.log-status {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.log-details {
  color: black;
}

.details {
  margin: 0 5px 0 5px;
}

.krill-part-list {
  list-style-type: none;
  li {
    margin: 5px 0 5px 0;
  }
}

.krill-log-steps {
  list-style-type: none;
  margin: 0 !important;
}

.krill-log-summary {
  .header {
    border-bottom: 1pt solid #bbb;
  }
  ul {
    margin-left: 0;
    
    li {
      .name {
        font-weight: bold;
      }
    }
  }
}

.krill-log-step {
  //outline: 1pt solid #eee;
  border-left: 1pt solid #ddeeff;
  border-top-left-radius: 5px;
  margin-bottom: 15px;
}

.krill-log-table {
  border: 1pt solid #aaa;
  font-size: 11pt;
  line-height: $noteLH;
  margin: 1px;

  td {
    border: 1pt solid #aaa;
    text-align: center;
    padding: 3px;
  }

  .empty {
    background: #f5f5f5;
    color: #ddd;
    font-size: 11pt;
  }

  .full {
    background: #fff;
  }

  .selected {
    background: yellow;
  }
}

.krill-log-time {
  font-weight: italic;
  font-size: 12pt;
}

.krill-log-title {
  font-weight: bold;
  font-size: 12pt;
}

.krill-log-warning {
  color: red;
}

.krill-step-heading {
  background: #ddeeff;
  padding: 5px;
  border-top-left-radius: 5px;
}

.krill-log-complete {
  background: #ddffee;
}

.krill-log-error {
  background: yellow;
}

.krill-log-json {
  padding: 10px;
}

.krill-log-abort {
  background: yellow;
}

////////////

.krill-log-in-show {
  display: none;
}
