.launcher {

  .operation {

    position: relative;
    width: 100%;
    margin: 5px;
    padding: 0 0 1px 0;
    

    .name {
      position: relative;
      font-weight: bold;
      margin: 5px 5px 5px 40px;
      padding: 5px;
      outline: 1pt solid #ddd;  
      background: #eee; 
    }

    .io-name {
      line-height: 24px !important;
      padding: 2px;
    }

    .cancel {
      font-weight: bold;
      position: absolute;
      top: 4px;
      right: 12px;
    }

    .arrow {
      font-weight: bold;
      font-size: 12pt;
      position: absolute;
      top: 0px;
      left: -20px; 
      -webkit-transform: rotate(90deg);    
    }

    .inputs {
      margin: 5px 5px 5px 80px;
      padding: 5px;      
      outline: 1pt solid #eee;  
      position: relative;
    }

    .input {
      margin: 5px;
      padding: 5px;
      outline: 1pt solid #eee;  
    }

    .outputs {
      margin: 5px 5px 5px 5px;
      padding: 5px;      
      outline: 1pt solid #eee; 
      position: relative; 
    }

    .output {
      margin: 5px;
      padding: 5px;
      outline: 1pt solid #eee;  
    }

    .array_input {
      width: 90% !important;
      margin: 2px;
    }

    .radio-buttons {

      margin: 0;
      display: inline-block;

      .radio, .radio:hover, .radio:active, .radio:checked {
        display: inline;
        margin: -1px;
        padding: 0;
        width: 20px !important;
      }

      .radio-label {
        padding: 0;
        margin: 0 10px 0 0;
        display: inline; 
      }      
    }

  }

}