.launcher {

  .dropdown {
    width: 190px;
    margin: 0px;
    padding: 2px 5px 2px 5px;
    height: 20px !important;
    border: 1pt solid rgb(187,187,187);
    border-radius: 0px !important;
    background: white;
    text-align: left;
  }   

  .category {
    display: inline-block; 
    vertical-align: top; 
    margin: 0 8px 5px 5px; 
    border: 1pt solid #bbb; 
    padding: 10px 20px 10px 10px;
  }

  .highlight {
    font-weight: bold;
  }

  .operation {

    position: relative;
    width: 100%;
    margin: 5px;
    padding: 0 0 1px 0;

    .cost {
      font-weight: normal;
    }

    .no-cost {
      font-weight: normal;
      color: #888;
    }
    
    .name {
      position: relative;
      font-weight: bold;
      margin: 5px 10px 5px 40px;
      padding: 5px;
      border: 1pt solid #aaa;  
      border-radius: 10px !important;
      background: #efe;
    }

    .io-name {
      line-height: 24px !important;
      padding: 2px;
    }

    .cancel {
      font-weight: bold;
      position: absolute;
      top: 4px;
      right: 12px;
    }

    .arrow {
      font-weight: bold;
      font-size: 12pt;
      position: absolute;
      top: 0px;
      left: -20px; 
      -webkit-transform: rotate(90deg);    
    }

    .inputs {
      margin: 5px 5px 5px 80px;
      padding: 5px;      
      /*outline: 1pt solid #eee;  */
      position: relative;
    }

    .input {
      margin: 5px;
      padding: 5px;
      outline: 1pt solid #eee;  
    }

    .outputs {
      margin: 5px 5px 5px 5px;
      padding: 5px;      
      /*outline: 1pt solid #eee; */
      position: relative; 
    }

    .output {
      margin: 5px;
      padding: 5px;
      outline: 1pt solid #eee;  
    }

    .array-item-input {
      width: 170px !important;
      margin: 2px;
    }

    .array-remove {
      width: 10px;
      margin: 2px;      
    }

    .sample-with-item {
      width: calc(100% - 210px) !important;
      display: inline-block;      
    }
 
    .sample-only {
      width: 100% !important;
      display: inline-block;      
    }    

    .no-items {
      color: #bbb;
      width: 204px !important;
      display: inline-block !important;
      border: 1px solid rgb(187,187,187) !important;
      margin: 0 !important;
      padding: 2px !important;
      height: 26px !important;
    }

    .radio-buttons {

      margin: 0;
      display: inline-block;

      .radio, .radio:hover, .radio:active, .radio:checked {
        display: inline;
        margin: -1px;
        padding: 0;
        width: 20px !important;
      }

      .radio-label {
        padding: 0;
        margin: 0 10px 0 0;
        display: inline; 
      }      
    }

  }

  .btn-small {
    margin: 5px;
  }

  .capitalize {
     text-transform: capitalize;
  }  

  .plan-list {

    width: 100%;
    border-top: 1pt solid #eee;
    margin: 5px 0 5px 0;
    padding: 5px 0 0 0;

    .opener, .name, .sample, .status, .date { 
      display: inline-block;
      vertical-align: top;     
      /*outline: 1pt dashed orange;*/
      margin: 0px;
      border: none;
    }

    .opener {
      width: 20px;
      cursor: pointer;
    }    

    .name { 
      width: calc(18% - 36px);  
    }  

    .status, .date { 
      width: 10%;
    }      

    .sample {
      width: 62%;
    }

    .header {
      text-align: left;
    }

  }

  .op-list {

    width: 100%;
    border-top: 1pt solid #eee;
    margin: 5px 0 5px 0;
    padding: 5px 0 0 0;

    .opener, .name, .controls, .status {
      display: inline-block;
      vertical-align: top;   
      /*outline: 1pt dashed green;*/
    }    
    .opener {
      width: 20px;
      margin-left: 20px;
      cursor: pointer;      
    }
    .name {
      width: calc(18% - 56px);        
    }
    .controls {
      width: 62%;      
    }    
    .status {
      width: 20%; 
    }
  }

  .no-line {
    border-top: none;
  }  

}