.repo-dirname {
  color: black;
  font-weight: bold;
}

.repo-list {
  font-weight: normal;
  color: black;

}

.open {
  display: block;
}

.closed {
  display: none;
}

.repo-info {
  color: black;
  p {
    line-height: 1;
  }
}