.leaderboard {

  table {
    border: 1pt solid #eee;
    margin: 15px 0px 0px 15px;
    padding: 0;  
    td {
      padding: 5px;
    }
    th {
      text-align: left;
      padding: 5px;   
      background: rgb(16,108,200);
      color: white;
    }
    caption {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .stat {
    position: relative;
    padding: 0;
    width: 50%;
    .bar {
       position: absolute;
       top: 5px;  
       background: rgb(255,200,130);
    }
    .value {
       position: absolute; 
       top: 5px; 
       color: black; 
       z-index: 10
    }
  }  

}

.individual_stats {
  margin: 15px 15px 0 15px;
  padding: 0 15px 15px 15px;
  border: 1pt solid #eee;
  ul {
    list-style: none;
    margin-left: 0px;
    li {
      margin: 10px;
      font-size: 12pt;
      margin-left: 0px;
    }
  }
}
