/* BUTTON STYLING *********************************************************/

$buttonHighlight: rgb(73, 91, 281);

.md-white {
  background: white;
}

.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  min-width: 50px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.md-button.md-medium {
  line-height: 20px;
  min-height: 20px;
  min-width: 60px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 5px;
}

.md-button.md-squished {
  /*height: 24px;*/
  /*line-height: 20px;*/
  /*min-height: 20px;*/
  vertical-align: top;
  font-size: 12px;
  padding: 0 0;
  margin: 5px;
}

.md-button.md-highlight {
  background: $buttonHighlight;
}

/* LISTS *******************************************************************/

.md-compact-list {

  .md-no-proxy {
    height: 28px;
    min-height: 28px;
  }
  .md-proxy-focus {
    height: 28px;
    min-height: 28px;
  }  
  .md-checkbox, .md-button, ._md-button-wrap, .md-list-item-inner, .md-secondary-container {
    height: 28px !important;
    min-height: 28px !important;    
  } 
  md-checkbox {
    margin: 4px !important;
  }
  .md-button-in-list {
    width: 20px;
    height: 20px;
    line-height: 20px;
    min-height: 20px;
    min-width: 50px;
    vertical-align: top;
    font-size: 10px;
    padding: 0 0;
    margin: 0;
  }
}

.md-very-compact-list {

  padding: 2px;

  .md-no-proxy {
    height: 20px;
    min-height: 20px;
  }
  .md-proxy-focus {
    height: 20px;
    min-height: 20px;
  }  
  .md-checkbox, .md-button, ._md-button-wrap, .md-list-item-inner, .md-secondary-container {
    height: 20px !important;
    min-height: 20px !important;    
  } 
  md-checkbox {
    margin: 4px !important;
  }
}

/* NG_CLICK *****************************************************************/

.no-highlight:focus {
  outline: none;
  border: 0;
 }

 /* MD_SELECT ***************************************************************/

.md-plain-select {
  border: 1pt solid #bbb; 
  padding: 2px 2px 2px 4px;

 .md-select-value {
    border: none !important;
 }

}

/* TABS *********************************************************************/

.md-compact-tabs {
  margin-top: 16px;
  md-tabs-wrapper, md-tabs-canvas, md-pagination-wrapper, md-tabs-dummy-wrapper {
    height: 24px;
  }
  .md-tab {
    padding: 0px 10px 6px 10px !important;
    font-size: 9pt;
    .md-ripple-container {
    }
  }
}