.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  opacity: 0.5;
}

.ng-modal-dialog {

  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff !important;
  box-shadow: 4px 4px 80px #000;

  overflow: scroll;

  img {
    margin-top: 5px;
  }

}

.ng-modal-title {
  position: absolute;
  top: 3px;
  left: 6px;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  font-family: 'arial', 'sans-serif';    
}

.ng-modal-dialog-content {
  margin-top: 15px;
  padding: 10px 10px 0 10px;
}

.ng-modal-data {
  padding: 5px 0 0 0; 
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
