@import "variables";

.operations {

  .category-container {
    padding-top: 4px;
    padding-right: 8px;
    /*border-right: 1px solid #eee;*/
    /*border-bottom: 2px solid #eee;*/
    width: 30%;
  }

  .category-container-full {
    padding-top: 4px;
    padding-right: 8px;
    /*border-right: 1px solid #eee;*/
    /*border-bottom: 2px solid #eee;*/
    width: 100%;
  }

  .selected-category, .unselected-category {
    cursor: pointer;
    font-size: 9pt;
    overflow: hidden;
    border: 1pt solid #ddd;
    /*border-radius: 5px;*/
    margin: 0 0 5px 0;
    padding: 4px;
    color: #999;
  }

 .unselected-category {   
    background: #eee; 
    &:hover {
      background: #ccc;
    };
  }

  .selected-category {
    background: lightblue;
    border: 1pt solid #aaf;    
  }  

  .active-category {
    font-weight: bold;
    color: black;
  }

  .alt-category {
    font-weight: bold;
    color: black;
    background: $selection-highlight-color;
  }  

  .op-type-none {
    color: #ccc;
  }  

  .input-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .ot-list {
    list-style: none;
  }

  .launch-buttons {
    margin-bottom: 5px;
  }

  .info {
    padding-left: 20px;
  }

  .number:hover {
    background: #eee;
  }

  .number-none {
    color: #eee;
    cursor: pointer;
  }

  .number-some {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .number-selected {
    background: $selection-highlight-color;
    outline: 1pt solid black;
    cursor: pointer;
  }

  .capitalize {
     text-transform: capitalize;
  }  

  .job {
    // border: 1pt solid #bbb;
    .job-toolbar {
      background: #2196F3;
      color: #eee;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
      // min-height: 34px;
      // max-height: 34px;
      
      .md-toolbar-tools {
        color: #eee;
        .md-button.md-icon-button {
          fill: #eee;
        }
      }
    }
    margin-bottom: 10px;
  }


  .oplist {
    padding: 10px 10px 0 10px;
    margin: 0;
  }

  .switch-user-container {
    width: 70%;    
  }

  .active-jobs-table {
    font-size: 9pt;
    width: 70%;    
    .type {
      width: 20%;;
    }
    .zombie {
      font-size: 7pt;
      color: $selection-highlight-color;
    }
  }

  .status-table {

    font-size: 9pt;
    width: 70%;

    .operation-name {
      width: 66%;
    }

    tr:hover {
      background: white;
    };

    td:not(:first-child) {
      text-align: center;
    }

    th.rotate {
      /* Something you can count on */
      height: 80px;
      white-space: nowrap;
      /*outline: 1pt solid red;*/
      padding: 0;
      margin: 0;

    }

    th.rotate > div {
      transform: 
        translate(0px, 55px)
        rotate(270deg);
      width: 20px;
      /*outline: 1pt solid blue;*/
      padding: 0;
      margin: 0;
    }
    th.rotate > div > span {
      padding: 0;
      margin: 0;
      /*outline: 1pt solid green;*/

    }

  }

  .timing-bullet-past {
    color: #ccc;
  }

  .timing-bullet-present {
    color: darkgreen;
  }

  .timing-bullet-future {
    color: $selection-highlight-color;
  }

  .timing-bullet-none {
    color: white;
  }

  .timing-info {
    margin: 16px 0 0 42px;
    color: #666;
  }

  .md-datepicker-input {
    margin: 0;
  }

}
