.operation_types {

  .op-type-list {
    list-style: none;
    margin-left: 0;    
    li {
      margin-left: 0;
    }
  }

  .label-bold {
    font-weight: bold;
  }

  .op-type-current {
    font-weight: bold;
    background: yellow;
  }

  .field-type-table {
    width: 100%;
    table-layout: fixed;
    th {
      text-align: left;
    }
    td {
      vertical-align: top;
    }
    .aft-td {
      width: 50%;
    }
  }

  .aft-td {
    width: 50%;
  }

  .io-list {
    margin: 10px 0 0 0;
    list-style: none;
    border: 1pt solid #bbb;
    padding: 8px;
    border-radius: 1px;
  }

  .aft-list {
    list-style: none;
    margin-left: 0;    
  }

  .aft-remove {
    font-weight: bold;
    color: black;
    &:hover {
      text-decoration: none;
    };
  }

  .input-fit {
    width: 100%;
  }

  .ot-part-container {
    /*position: relative;*/
  }

  .ace_editor {
    position: absolute;
    right: 10px;
    left: 0;
    bottom: 45px;
    top: 48px;
    resize: none;
    font-weight: bold;
    background: transparent;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
    border-bottom: 1pt solid #eee; 
  }

  .code-controls {
    height: 30px;
    margin: 0;
    position: absolute;
    right: 10px;
    left: 0;
    bottom: 10px;
    text-align: right;
  }

}