
.operations {

  .op-type {

  }
  .op-type-selected {
    font-weight: bold;
  }
  .op-type-none {
    color: #ccc;
  }  

  .input-list {
    list-style: none;
  }

  .ot-list {
    list-style: none;
  }

  .launch-buttons {
    margin-bottom: 5px;
  }

  .info {
    padding-left: 20px;
  }

  .number-none {
    color: #eee;
  }

  .number-some {
    color: black;
    font-weight: bold;
  }

}
