.oplist {
  table {
    table-layout: fixed;
    border: none !important;
    td, th {
      border-top: 1pt solid #bbb !important;
      border-bottom: none !important;
      border-left: none !important;
      border-right: none !important;
      text-align: left !important;
    }
    .selector {
      width: 20px;
    }
    .output {
      width: 60%;
    }
    .id {
      width: 50px;
    }
    .status-error {
      color: red;
      font-weight: bold;
    }
  }
}

