@import "variables";

.plans {

  .opeditbar {
    width: calc(100vw - 400px);
    inner {
      display: block;
    }
  }

  .dismiss {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .message {
    padding: 10px;
    background: $selection-highlight-color;
    position: relative;
    border: 1pt solid #eee;
    padding-right: 20px;  
  }  

  .message-list {
    list-style-type: circle;
  }

  .editor-main {

    height: 100%;
    width: calc(100vw - 400px);
    position: relative;

    .operation-editor::-webkit-scrollbar { 
      display: none;
    }        

    .operation-editor {

      outline: none;
      border-top: 1pt solid #ccc;
      overflow: scroll;
      margin-top: 5px;
      margin-right: 5px;
      padding: 16px 0 26px 0;
      transition: height ease .2s;

      .io-container {

        margin: 2px;

        input {
          height: 30px !important;
          width: 100%;
          outline: none;
          border: 1pt solid #eee;
          padding: 2px;
          margin: 0px;
          border-radius: 2px;

          &:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
          }
          
        }
        .io-type {
          text-align: right;
          font-weight: bold;
          width: 100%;
          display: inline-block;
          padding-right: 8px;
        }

        .array-remove-container {
          font-size: 14pt;
          padding: 3px 3px 3px 12px;
        }

        .add-array {
          padding: 3px;
          height: 30px !important;
        }

      }

    }

    .plan-editor-container {

      position: relative;
      overflow: scroll;
      outline: none;

      .plan-editor {
        margin: 50px;
        border-top: none;
        border-left: none;
        border-right: 3px solid #eee;
        border-bottom: 3px solid #eee;        
        width: 16000px; /*calc(100vw - 400px);*/
        height: 16000px;
        cursor: arrow;
        margin: 0px;

        &:active {
          cursor: arrow;
        }

      }     

    }  

  }

  .field-name-help {
    text-anchor: 'start';
    background: white;
    font-size: 9pt;
  }

  .op, .op-selected, .module {
    fill: white;
    stroke: black;
    stroke-width: 1px;  
    cursor: pointer;  
  }

  .op-selected {
    fill: azure;  
    stroke-width: 2; 
    box-shadow: 10px 10px 5px yellow;
  }

  .op-active {
    fill: #eee;
  }

  .op-name, .module-name, .module-io-index {
    font-size: 9pt;
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;    
  }

  .op-status {
    font-size: 7pt;
    text-anchor: start;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;     
  }

  .op-edit-status {
    fill: #666;
    font-size: 11pt;
    text-anchor: start;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    &:hover {
      fill: black;
      opacity: 1;
    }
  }

  .op-edit-rect {
    fill: white;
    stroke: black;
    stroke-width: 1px;    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;      
  }

  .op-retry {
    font-size: 11pt;
    font-weight: bold;
    text-anchor: end;
    fill: black;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;   
  }

  .op-status-error {
    fill: red;
  }

  .op-status-pending {
    fill: blue;
  }

  .op-status-running {
    fill: green;
  }

  .module-io-index {
    font-size: 11pt;
  }

  .module-name {
    font-size: 10pt;
    font-weight: bold;
  }

  .module-io {
    stroke-width: 1px;
    stroke: black;
    fill: white;
    cursor: pointer;      
  }

  .module-io-number {
    font-size: 8pt;
    text-anchor: middle;
  }  

  .op-cost {
    font-size: 8pt;
    fill: blue;
    text-anchor: start;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;    
  } 

  .field-value {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
    r: 5;
  }

  .field-value-selection {
    r: 9;
    stroke: cyan;
    fill: none;
  }

  .field-value-compatible {
    fill: cyan;
  }

  .field-value-valid {
    fill: lightgreen;
  }


  .field-value-invalid {
    fill: orange;
  }  

  .parameter {
    fill: white;
    stroke: black;
    stroke-width: 1px; 
    cursor: pointer;
  }

  .parameter-has-value {
    fill: lightgreen;
  }  

  .parameter-has-no-value {
    fill: orange;
  }    

  .wire, .wire-selected {
    fill: none;
    stroke: #555;
    stroke-width: 1.5;
    cursor: pointer;       
  }

  .wire-selected {
    stroke: black;
    stroke-width: 2.5;    
  }

  .wire-inconsistent {
    /*stroke-width: 2.0;*/
    stroke: orange;
  }

  .wire-arrowhead, .wire-arrowhead-selected {
    fill: #555;
    /*stroke: #555;*/
    /*stroke-width: 1.5;*/
  }

  .wire-arrowhead-selected {
    fill: black;
    /*stroke: black;*/
    /*stroke-width: 2.5;    */
  }

  .wire-arrowhead-inconsistent {
    fill: orange;
    /*stroke: black;*/
    /*stroke-width: 2.5;    */
  }

  .wire-hitline {
    fill: none;
    stroke: white;
    stroke-width: 6; 
    cursor: pointer;   
  }

  .multiselect {
    stroke: black;
    stroke-width: #bbb;
    fill: none;
    stroke-dasharray: 2;
    cursor: arrow;
  }

  .multiselect:active {
    cursor: arrow;
  }

  .items-in-stock {
    background: #eeffee;
    color: #060;
  }  

  .plan-name-input {
    margin-top: 9px;
    padding: 8px;
    border-radius: 3px;
    width: 60%;
  }

  .planner-action {
    width: 42px;
    margin: 0 5px 0 5px;
    border: none;
    background: none;
    padding: none;
    &:disabled {
      cursor: not-allowed;
      .action-name {
        color: #aaa;
      }      
    }
    &:enabled:active {
      background: #bbb;
    }
    .action-name {
      font-size: 9pt;
      color: #444;
    }
    .active-icon {
      fill: #444;
      stroke: #444;
    }
    .disabled-icon {
      fill: #bbb;
      stroke: #bbb;
    }

  }

  .compact-list {
    padding: 0;
    margin: 0 0 0 16px;
    li {
      padding: 0 0 0 5px;
      a {
        &:active, &:hover, &:visited, &:link {
          text-decoration: none;
        };
      }
      border: 1px solid white;
      /*border-left: 5px solid white;*/
    }
    .active-plan {
      background: orange;
      /*border-color: #999;*/
    }
  }

  .no-inventory {
    color: orange;
  }

  .sidebar-button {
    margin: 3px;
    border: 1pt solid #aaa;
    font-size: 9pt;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }

  .sidebar-button-selected {
    background: $table-header-color;
    color: white;
    &:hover {
      background: $table-header-color;
    }    
  } 

  .fv-pad {
    padding: 2px;
  }

  .plan-list-name {
    cursor: pointer;
  }

  .plan-list-element {
    margin-right: 5px;
    width: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */       
  } 

  .folder-delete-icon {
    color: #333;
    font-size: 12pt;
    margin-top: -1px;
  }

  .operation-info-heading {
    margin-top: -16px;
    padding: 8px 8px 4px 6px;
    margin-bottom: 6px;
    border-bottom: 1pt solid #eee;
    background: #eee;
  }

  .text-box {
    fill: white;
    fill-opacity: 0.0;
    stroke: none;
    stroke-width: 1px; 
  }

  .text-box-selected {
    stroke: #555;
    stroke-dasharray: 2;
  }

  .text-box-anchor {
    height: 7px;
    width: 7px;
    fill: white;
    fill-opacity: 0.0;
    &:hover {
      fill: #555;
    }
  }    

  .text-box-anchor-selected {
    fill: #555;   
    fill-opacity: 1.0;
  }

  .text-box-content {
    margin: 1px; 
    height: calc(100% - 2px);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    p {
      line-height: 1.2;
    }
    table {
      width: 100%;
      td, th {
        border: 1px solid #AAA;
        padding: 4px;
      }
    }
    hr {
      color: black;
      background-color: black;
      height: 1px;
    }
  }

  .text-box-editor {
    width: 100%;
    height: 150px;
    margin-top: -16px;
    margin-bottom: -24px;
    border: none;
    resize: none;
  }

  .plan-wait-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.15);     
  }

  .small-link {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-size: 9pt;
  }

}