.planner-help {
  h2 {
    font-size: 24px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #5577cc;
  }
  p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 16pt;
  }
}