.plugin-container {
  border: none;
  height: 300px;
  padding-bottom: 10px;
}

.plugin-iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: 1pt solid #ddd;
}

.plugin {
  border-top: none;
  padding: 40px 5px 5px 5px;
  height: 100vh;  

}

.plugin h1 {
  font-size: 16pt;
  background: #eee;
  letter-spacing: 0px;
  margin: 0 0 8px 0;
  line-height: 1.4;
  border-radius: 5px 5px 0 0;
}

.plugin h2 {
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.6;
  margin: 4px 2px 4px 8px;
}

.plugin header {
  background: #eee;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-height: 40px;
  height: 40px;
}

.table th {
  border: 0pt !important;
}