// Place all the styles related to the Primers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location {
  background: #ffc;
  border: 1pt solid #eee; 
  padding: 3pt; 
  border-radius: 2pt;
  font-weight: bold;
}