// Place all the styles related to the ProtocolTree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
  background: #fff;
  margin-bottom: 20px;
}

.protocol-directory {
  position: relative;
  ul {
    list-style: none;
    position: relative;
    margin: 0 0 0 2px;
    a {
      position: relative;
      padding-left: 5px;

    }
    li {
      list-style-type: none;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-top: 0px;
      .file {
        &:hover {
          color: #a00;
        }
      }
    }
  }

  .closed-directory {
    &:before {
      content: '\229E';
      vertical-align: 0%;
    }
  }

  .open-directory {
    &:before {
      content: '\229F';
      vertical-align: 00%;
    }
  }

  .small {
    margin: 20px 0 10px 30px;
  }

}

#loading-status {
  position: absolute;
  top: 20px;
  left: 20px;
}

@mixin nice-box {
  margin: 10px 0px 10px 20px;
  padding: 10px;
  display: block; 
}

@mixin control-box {
  margin: 0px 0px 0px 20px;
  padding: 10px;
  display: block;
}

@mixin small-box {
  margin: 10px 0px 10px 20px;
  padding: 0 0 0 10px;
  display: block; 
}

@mixin rounded-box {
  @include nice-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  line-height: 150%;
}

information {
  font-size: 14pt;
  @include rounded-box;
}

$argument-color: #fee;
$take-color: #ffe;
$assign-color: #eff;
$step-color: #efe;

argument {

  @include small-box;

  var {
    font-weight: bold;
    &:before {
      content: "Argument: ";
      font-weight: normal;
      font-style: normal;
    }
    &:after {
      content: " - ";
    }
  }

  description {
    font-weight: normal;
  }
 
  margin-bottom: 20px;  

}

take {

  &:before {
    content: "Take :";
    border-bottom: 1pt solid #aaa;
  }

  object {
    display: block;
    &:after {
      content: '. ';
    }
  }

  quantity {
    &:before {
      content: 'Quantity:  ';
    }
   &:after {
      content: '. ';
    }
  }

  var {
    &:before {
      content: " Call this object ";
    }
   &:after {
      content: '. ';
    }
  }
  
  font-size: 14pt;
  @include rounded-box;
  background: $take-color;


}

release {
  &:before {
    content: " Release: ";
    border-bottom: 1pt solid #aaa;
  }
  var {
    display: block;
  }
  @include rounded-box;
  font-size: 14pt;
  background: $take-color;
}

produce {
  object {
    &:before {
      content: " Produce: ";
    }
  }

  @include rounded-box;
  background: $take-color;


}

assign {
  &:before {
    content: "Assign: ";
  }
  value {
    &:before {
      content: " = ";
    }
  }
  @include small-box;

}

step {
  @include rounded-box;
  background: $step-color;
  &:before {
    content: "Step: ";
    border-bottom: 1pt solid #aaa;
    font-size: 14pt;
    margin-bottom: 5px;
  }
  description {
    font-size: 14pt;
    display: block;
  }
  note {
    &:before {
      content: 'Note: ';
      color: #aaa;
    }
    display: block;
  }
  getdata {
    var {
      &:before {
        content: 'Get data: ';
        color: #aaa;
      }
    }
    description {
      &:before {
        content: ': ';
      }
      display: inline;
    }
    display: block;
  }
}

while {
  @include control-box;
  condition {
    @include control-box;
    margin-left: 0px;
    &:before {
      content: "While ";
      font-weight: bold;
    }
    font-weight: bold;
  }
  do {
    @include control-box;
    border-left: 1pt solid #aaa;
    &:before {
      content: "do";
      font-weight: bold;
    }
  }
}

if {
  @include control-box;
  condition {
    margin-left: 0px;
    &:before {
      content: "If ";
      font-weight: bold;
    }
    font-weight: bold;
  }
  then {
    border-left: 1pt solid #aaa;
    @include control-box;
    &:before {
      position:relative;
      content: "Then";
      font-weight: bold;
    }
  }
  else {
    @include control-box;
    border-left: 1pt solid #aaa;
    &:before {
      content: "Else";
      font-weight: bold;
    }
  }
}

log {
  type {
    &:before {
      content: 'Log: ';
    }
    display: block
  }
  @include small-box;
}

