.publish {

  .fix-checkbox {
    margin-top: 0px !important;
  }

  .field {
    margin-right: 16px !important;
    input {
      padding: 4px;
    }
  }

  .no-token {
    color: red;
    font-weight: bold;
    font-size: 12pt;
    background: white;
  }

}

