.sample-tree {

  .tree-nav {
    border-right: 1pt solid #eee;
    height: 100%;
  }

  .viewer {
  }

  .editable {
    border: 1pt solid #eee;
    margin: 2px;
    padding: 2px;
    height: 14pt;
    width: 300px;
  }

  .owner-login {
    color: #ccc;
    font-weight: normal;
  }

  .long {
    width: 400px;
  }

  .sample-type-name {
    font-weight: bold;
  }  

  .sample-type-id {
    
  }    

  .sample-id {
    font-weight: bold;
    a {
      color: black;
    }
  }  

  .sample-name {
    font-weight: normal !important;
  }    

  .tag {
    border: 1pt solid #eee;
    color: #abc;
    width: 50px;
    height: 12pt;
    padding: 0 0 0 2px;
    margin: 0;
    color: black;
  }

  .field-name {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #009;
  }

  .field-value {
    font-weight: normal;
    font-family: monospace;
  }

  .static-field-value {
    font-weight: normal;   
  }

  .mono {
    font-family: monospace;
  }

  .static-field-name {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #090;
  }

  .little {
    font-size: 8pt;
    line-height: 9pt;
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
    color: #888;
  }

  .sub-field-name {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #900;
  }  

  .url-field-name {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #DAA520;
  }    

  .bigger {
    margin: 4px;
  }

  .sample-list-header {
    margin-bottom: 10px;
  }

  .sample-list-name {
    font-size: 14pt;
    font-weight: bold;
  }

  .sample-list-description {
    font-size: 14pt;
    margin-top: 5px;
  }

  /*  http://cssdeck.com/labs/pure-css-tree-menu-framework */

  .sample-tree-list {

    ul {
      margin:0 0 0 1em; /* indentation */
      padding:0;
      list-style:none;
      position:relative;
    }

    ul:before {
      content:"";
      display:block;
      width:0;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      border-left: 1px solid #bbb;
    }

    li {
      margin:0;
      padding: 0 0 0 1.5em; /* indentation + .5em */
      line-height:1.75em; /* default list item's `line-height` */
      font-weight:bold;
      position:relative;
    }

    li:before {
      content:"";
      display:block;
      width:10px; /* same with indentation */
      height:0;
      border-top:1px solid #bbb;
      margin-top:-1px; /* border top width */
      position:absolute;
      top:1em; /* (line-height/2) */
      left:0;
    }

    li:last-child:before {
      background:white; /* same with body background */
      height:auto;
      top:1em; /* (line-height/2) */
      bottom:0;
    }

    li:last-child {
      margin-bottom: 2px;
    }

  }

  .clickable {
    cursor: pointer;
  }

  .project-list {
    ul {
      list-style:none;
      margin-left: 22px;
      li {
        overflow: scroll;
        margin-left: 0px;
        position: relative;
        overflow: scroll;        
      }
        overflow: scroll;
    }    
  }

  .project-expander {
    cursor: pointer;
  }

  .project-heading {
    padding-bottom: 5px;
    font-weight: bold;
  }

}