// Place all the styles related to the SampleTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample_type_link_select {
  :hover {
    color: red;
  }
}

.sample-type-edit {

  .light {
    color: #ddd;
  }

  input, input[type="number"], input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 0 0 4px;
    margin: 0;
    border: none;
    display:inline-block;
    background: none; 
    outline: none;
    box-shadow: none;    
  }

  .input-bold {
    font-weight: bold;
  }

  .long {
    width: 80%;
  }

  .short {
    width: 33%;
  }

  .full {
    width: 100%;
  }

  .tall {
    padding: 5px 0 5px 5px !important;
    margin-bottom: 3px !important;
  }

  table {
    width: 100%;
    td {
      vertical-align: top;
      border: 0;
      margin: 0;
      padding: 5px 5px 5px 5px;
    }
    th {
      text-align: left;
    }
  }

  .no-padding {
    padding: 0;
  }

  ul {
    list-style: none;
  }

  select {
    padding: 0;
    width: 100%;
    text-align: left;
    margin: 0 0 5px 0;
  }

  .margin {
    margin: 2px;
  }

  textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
  }

  .select-list {
    margin-left: 0;    
    li {
      margin-left: 0;
    }
  }

  .plain-table {
    margin: 0;
    width: 100%;
    tr {
      margin: 0
    }
    td {
      margin: 0;
      border: none;
      vertical-align: middle;
      padding: 0 5px 0 0;
    }
  }

  .bordered {
    border: 1pt solid #aaa !important;
  }

  .adder {
    margin-top: 5px;
  }

}