.spanner-row {

  display: block;
  vertical-align: top;
  width: calc(100% - 0px);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  position: relative;
  /*outline: 2pt dashed #f99;*/
  padding: 0;

  .spanner-cell {
    display: inline-block;
    vertical-align: top;
    /*outline: 1pt solid #9f9;*/
    border: none;
    padding: 2px;
    margin: 0;
    /*height: 20px;*/
    z-index: 100;
  }

  .small-heading {
    font-weight: bold;
    font-size: 9pt;
    height: 14px;
  }

  .indent-20 {
    margin-left: 20px !important;
  }

  .indent-40 {
    margin-left: 40px !important;
  }

  .indent-60 {
    margin-left: 60px !important;
  }

  .indent-80 {
    margin-left: 80px !important;
  }

  .opener, .opener-disabled {
    width: 20px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
  }  

  .opener-disabled {
    width: 20px;
    color: #aaa;
    cursor: not-allowed;    
  }        

  .opener-invisible {
    width: 14px !important;
    display: inline-block;
  } 

}

.rel {
  position: relative;
  /*outline: 2px dashed blue;*/
  clear: both;
  content: "";
  display: block;
  overflow: hidden; 
  width: 100%;
}

.rel-hoverable:hover {
  background: #eef;
  outline: 1pt solid #eee;
}

.border-top {
  border-top: 1pt solid #eee;
}