// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job_chart {
  width: 100%;
  height: 300px;
  background: #fff;
  border: 0pt solid #eee;
  position: relative;
}

.bar {
  position: absolute;
}

.text {
  position: absolute;
  font-size: 14pt;
  line-height: 16pt;
  text-align: center;
  padding: 5pt;
}

.smalltext {
  position: absolute;
  font-size: 10pt;
  line-height: 16pt;
  text-align: center;
}

.line {
  position: absolute;
  background: red;
}

.control {
  float: left;
  width: 14px;
  height: 14px;
  padding: 5px;
  margin: 5px;
  border: 1pt solid #bbb;
  border-radius: 2px;
  background: #fff;
}

.control:active {
  background: #ccc;
}

.sample_box_table {

  border: 1pt solid #aaa;
  
  td {
    border: 1pt solid #aaa;
    width: 39px;
    height: 39px;
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
  } 

  .empty {
    background: #f5f5f5;
    color: #ddd;
    font-size: 18pt;
  }

  .full {
    background: #fff;
  }

  .selected {
    background: yellow;
  }

  .non-existant {
    display: none;
  }  

}

.sample_box {
  display: inline-block;
  vertical-align:top;
  background: #fff;
  padding: 5px;
  margin: 5px;
  .extra {
    margin: 0;
    width: 340px;
    font-weight: bold;
    font-size: 8pt;
  }

}

.hotel {

}

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:12pt;
    opacity:0.0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:0.95;
    filter:alpha(opacity=95)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:black;
    text-align:center;
    text-decoration:none;
    background-color:white;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border: 1pt solid #444;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}