
.take-note {
  margin: 15px 0 15px 5px;
}

.take-container {
  margin: 15px;
  width: 1200px;
}

.item_list {
  list-style: none;
  li {
    margin: 3px;
#    outline: 1pt dashed blue;
    height: 40px;
    position: relative;
   .check {
     float: left;
     margin-top: 5px !important;
   }
   .id {
      margin: 0 10px 0 10px;
      padding: 0 0 0 15px;
      line-height: 40px;
      font-weight: bold;
      width: 340px !important;
      height: 40px;
 #     outline: 1pt dashed orange;
      float: left;
      background: #eee;
      border: 1pt solid #ddd;
    }
    .id:before {
      content: "Item ";
    }
    .location {
      line-height: 40px;
      height: 40px;
      width: 210px;
      float: left;
      margin: 0;
      padding: 0 0 0 15px;
      background: #ff9;
      color: black;
      border: 1pt solid #ddd;
    }
    .inuse {
      line-height: 40px;
      height: 40px;
      width: 210px;
      float: left;
      margin: 0;
      padding: 0 0 0 15px;
      background: #f44;
      border: 1pt solid #ddd;
      position: relative;
    }
    .release {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 8pt;
      height: 14px;
      padding: 0;
      margin: 0;
      line-height: 14px;
    }
    .description {
      line-height: 40px;
      height: 40px;
      float: left;
      margin: 0;
      padding: 0 0 0 10px;
      font-size: 12pt;
      font-style: italic;
    }
    .name {
      margin: 0 10px 0 10px;
      padding: 0 0 0 15px;
      line-height: 40px;
      font-weight: bold;
      width: 340px !important;
      height: 40px;
 #     outline: 1pt dashed orange;
      float: left;
      background: #eee;
      border: 1pt solid #ddd;
    }
    .take-select-container {
      float: left;
      height: 50px;
      line-height: 50px;
      width: 230px;
      padding: 0 0 0 0;
#     outline: 1pt dashed orange;
    }
    .desired_quantity {
      line-height: 50px;
      height: 50px;
      float: left;
      margin: 0;
      padding: 0 0 0 10px;
      font-size: 14pt;
      font-weight: bold;
      
    }
    .desired_quantity:before {
      content: "Quantity Required: ";
    }
  }
}