// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.json_list {
  list-style-type: none;
  border-left: 1pt solid #eee;
  margin: 5px;
  li {
    margin-left: 10px;
  }
}

.json_hash {
  list-style-type: none;
  border-left: 1pt solid #eee;
  margin: 5px;
  li {
    margin-left: 10px;
  }

}

.json_key {
  font-weight: bold;
  margin-right: 5px;
}

.json_spec {
  background: white;
  margin-bottom: 5px;
}

.task_buttons {
  margin: 0 0 20px 0;
}