// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.json_list, .json_editor_array {
  list-style-type: none;
  border-left: 2pt solid #9ce;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;

  li {
    margin-left: 10px;
    position: relative;
  }
  position: relative;

}

.json_hash, .json_editor_hash {
  list-style-type: none;
  border-left: 2pt solid #8d9;
  border-radius: 5px 0 5px 5px;

  margin: 5px 0px 5px 0px;
  li {
    margin-left: 10px;
    position: relative;

  }
  position: relative;

}

.json_key {
  font-weight: bold;
  margin-right: 5px;
  display: block;
}

.json_key_inline {
  font-weight: bold;
  margin-right: 5px;
}

.json_spec {
  background: white;
  margin-bottom: 5px;
}

.task_buttons {
  margin: 0 0 20px 0;
}

.json_edit_string {
  height: 24pt;
  width: 60%;
  position: relative;
}

.json_edit_number {
  height: 24pt;
  width: 60%;
  position: relative;
}

#json_editor {
  margin: 10px 50px 10px 50px;
  position: relative;
}

#task_info {
  margin: 10px 50px 10px 50px;
}

.add-json-btn {
  font-size: 9pt;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.task-select select {
  background: #fff;
  padding: 0 15px 0 10px;
  font-size: 14px;
  border: 1pt solid #eee;
  border-radius: 5px;
  margin: 0;
  -webkit-appearance: none;
  position: relative; top: -4px;
}

.json-sample-type {
  color: #aaa;  
}

.notification-iframe {
  border: none;
  margin-top: 20px;
  width: 100%;
  height: 200%;
  margin-right: 20px;  
}

