$title-bottom-margin: 24px;
$bottom-margin: 12px;

.technician {

  .animate-show-hide.ng-hide {
    opacity: 0;
  }

  .animate-show-hide.ng-hide-add {
    transition: all linear 0.0s;
  }
  .animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
  }

  .bold {
    font-weight: bold;
  }

  .step-container {

    opacity: 1;
    margin: 10px 30px 0px 30px;

    .content {
      // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .title {
      margin-top: 0
    }
    //
    // .content-note {
    //   font-weight: normal;
    //   font-size: 12pt;
    //   margin-bottom: $bottom-margin;
    // }
    //
    // .content-warning {
    //   margin-bottom: $bottom-margin;
    //   font-size: 12pt;
    // }
    //
    .technician-warning {
      color: black;
      font-weight: bold;
      background: orange;
      padding-left: 4px;
      padding-right: 4px;
      display: inline-block;
    }
    //
    // .content-image {
    //   margin-bottom: $bottom-margin;
    // }
    //
    // .content-select {
    // }
    //
    .input-container {
       width: 50%
    }
    //
    // .select-label {
    //   margin-right: 6px;
    //   font-size: 12pt;
    // }

    table {

      border: 1pt solid #aaa;
      font-size: 12pt;
      line-height: 12pt;
      margin-bottom: 15px;
      margin-left: 15px;

      td {
        border: 1pt solid #aaa;
        text-align: center;
        padding: 4px;
      }

      .empty {
        background: #f5f5f5;
        color: #ddd;
        font-size: 18pt;
      }

      .full {
        background: #fff;
      }

      .selected {
        background: yellow;
      }

    }

    .td-check {
      background: lightblue;
    }

    .td-input {

    }

    .table-input {
        display: inline-block;
        padding: 0;
        margin: 0 !important;
        border: none !important;
        height: 100% !important;
        line-height: 100%;
        -webkit-appearance:none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .table-input-large {
      font-size: 14pt !important;
    }

    .table-input-prompt {
      color: #aaa;
    }

    .td-check:hover {
        outline: 2pt solid lightblue;
        cursor: pointer;
    }

    .td-selected {
      background: blue;
      color: white;
    }

    .td-null-cell {
      background: yellow;
    }

    .td-filled-slot {
      border: 1pt solid #aaa;
      width: 37px;
      height: 37px;
      text-align: center;
      font-weight: bold;
      font-size: 10pt;
    }

    .td-empty-slot {
      width: 37px;
      height: 37px;
      background: #f5f5f5;
      color: #ddd;
      font-size: 18pt;
    }

  }

  .step-index,
  .step-index-selected {
    cursor: pointer;
  }

  .step-index-selected {
    background: lightblue;
  }

  .ok {

    .md-button {
      color : white;
      background: green;
    }

    .md-button:not([disabled]):hover {
      background-color: green;
    }

    .md-button[disabled] {
      color : white;
      background-color: lightgrey;
    }

  }

  .image {
    max-width: 500px;
    margin: 10px 0 10px 0;
  }

}
