.test-all-results {
  padding: 16px;
  .error {
    color: darkred;
    padding: 0 0 0 8px;
  }
  .status {

  }
  .status-error {
    color: darkred;
  }
  .status-complete {
    color: darkgreen;
  }
}
