.twocol { 

  height: 90vh;
  display: flex;
  flex-direction: column;  
  overflow: hidden;

  .main {
    display: flex;
    flex: 9; 
    overflow: hidden; 
  }

  .controls, .view {
    margin: 0 5px 0 5px;
  }

  .controls {
    flex: 2;
    position: relative;  
    overflow-y: scroll; 
    overflow-x: hidden;
    /*outline: 1pt dashed orange;  */
    padding-right: 5px; 
  }

  .controls::-webkit-scrollbar { 
    display: none; 
  }    

  .view {
    flex: 7;
    overflow: scroll;  
    position: relative;
    /*outline: 1pt dashed green;   */
  }

  .view::-webkit-scrollbar { 
    display: none; 
  }  

  .control {
    width: 90%;
    height: 100%;
    position: relative;
    /*outline: 1pt dashed blue;   */
    padding: 15px;
    border: 1pt solid #ccc;
    margin: 0 0 10px 0;
    word-wrap: break-word;   
    cursor: pointer;
  }

  .control-on {  
    /*border: 1pt solid orange;*/
    background: #f0f0f0;
  }

  .control-error {  
    /*border: 1pt solid orange;*/
    background: #ffff00;
  }  

  .control-no-click {  
    cursor: default;
  } 

  .control-no-click:active {  
    background: white;
  }   

}