.user {

  .selected-view {
    background: #80d8ff;
  }

  .warning {
    background: yellow;
    color: black !important;
  }

  .notice-me {
    color: red;
    font-weight: bold;
  }

  .md-content {
    background: white;
  }

  .not-up-to-date {
    background: lightyellow;
    padding: 10px;
  }

}