.user {

  .selected-view {
    background: #80d8ff;
  }

  .warning {
    background: yellow;
    color: black !important;
  }

  .notice-me {
    color: red;
    font-weight: bold;
  }

  .md-content {
    background: white;
  }

  .not-up-to-date {
    background: lightyellow;
    padding: 10px;
  }

}

.user-op-stats {
  margin-top: 10px;
  .user-op-stat {  
    margin: 2pt;
  }
  .name {
    width: 25%;
    height: 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    overflow: hidden;
  }
  .name-subdued {
    width: 25%;
    height: 20px;    
    font-weight: normal;
    text-align: right;
    display: inline-block;
    color: #aaa;
    overflow: hidden;
  }  
  .done {
    display: inline-block;
    background: lightgreen;
    margin: 0;
  }
  .error {
    display: inline-block;
    background: orange;
    margin: 0;    
  }  
  .number {
    display: inline-block;  
  }
}