// colors

$lightgray: #999;
$view-selection-color: #b5d7ea;
$selection-highlight-color: #d2f8d2;
$main-navbar-color: #043d5e;
$sub-navbar-color: #097bbc;
$table-header-color: #136390;
$button-color: #065683;
