/* colors */

$lightGray: #999;
$view-selection-color: #B5D7EA;
$selection-highlight-color: #d2f8d2;
$main-navbar-color: #043D5E; 
$sub-navbar-color: #097bbc; 
$table-header-color: #136390;
$button-color: #065683;




