<h1>Completed Jobs</h1>

<table class='table table-condensed compact' id='log-table' data-source='<%= logs_url(format: 'json') %>'>
  <thead>  
    <tr>
      <th>Job</th>
      <th>Protocol*</th>
      <th>Arguments</th>
      <th>Submitted by (metacol)*<sup>,+</sup></th>
      <th>Performed by*</th>
      <th>Submitted</th>
      <th>Completed</th>
    </tr> 
  </thead>
  <tbody>
  </tbody>
</table>

<p>*Searchable.<br />
<sup>+</sup>Use a search term like <i>mxyz</i> to get only jobs related to metacol <i>xyz</i>.</p>

<div style='height: 40px'></div>

<script>

  $('#log-table').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#log-table').data('source'),
    "order": [ 0, 'desc' ],
    "lengthMenu": [ 15, 25, 50, 75, 100 ],
    "search": { 
      "search": '<%= current_user.login %>'
    },
    "columnDefs":[ {
      "targets": [2,3,4],
      "orderable": false
    } ]
  });

</script>
