<script type="text/ng-template" id="field_value">
  FIELD VALUE: {{ft}}, {{fv}}, {{parent}}
</script>

<script type="text/ng-template" id="field_value_form">

  <div class='field_value_form'>

    <div ng-if="ft.ftype != 'sample'">{{ft.ftype}} NOT IMPLEMENTED</div>

    <span ng-if="ft.ftype == 'sample' && !ft.array">
      <input type='string' 
             ftsamplecomplete="ft"
             aft="operation.fvs[ft.name].aft"
             ng-model='operation.fvs[ft.name].sample'>
    </span>

    <span ng-if="ft.ftype == 'sample' && ft.array">
      <div ng-repeat="sid in operation.fvs[ft.name].sample track by $index">
        <input type='string' 
               ftsamplecomplete="ft" 
               aft="operation.fvs[ft.name].aft"
               ng-model='operation.fvs[ft.name].sample[$index]'>
        <a href="#" ng-click="delete_from_fvs(operation.fvs[ft.name].sample,$index)">&times;</a>
      </div>
      <button class='btn btn-mini' ng-click="add_to_array(operation.fvs,ft.name)">+</button>
    </span>

    <div>
      <form>
        <div ng-repeat="aft in ft.allowable_field_types track by $index">
          <label class="radio-label">
          <input type="radio"
                 class="radio"
                 name="ft.name"
                 ng-value="aft"
                 ng-disabled="ft.allowable_field_types.length == 1"
                 ng-model="operation.fvs[ft.name].aft">
                 {{aft.object_type.name}}
          </label>
        </div>        
      </form>
    </div>    

    <pre>{{operation.fvs|json}}</pre>

  </div>

</script>
