
<script type="text/ng-template" id="field_type">
  <b>{{ft.name}} <span ng-if="ft.array">(array)</span></b>
  <br/>
  <span ng-repeat="aft in ft.allowable_field_types">
  {{aft.object_type.name}} {{ $last ? '' : ', '}}
  </span>
</script>

<script type="text/ng-template" id="field_type_form">
  {{ft}}
</script>