<script type="text/ng-template" id="field-value-form">

  <div layout="row">

    <div flex="5">
      <div class="io-type" ng-if="first && cfv.role == 'input'">in:&nbsp;&nbsp;&nbsp;</div>
      <div class="io-type" ng-if="first && cfv.role == 'output'">out:&nbsp;&nbsp;&nbsp;</div>    
    </div>

    <div flex="10">
      {{cfv.name}}
    </div>

    <div flex="80">

      <input fv="cfv"
             operation="op"
             plan="plan"
             type='string'
             placeholder="{{op.form[cfv.field_type.role][cfv.name].aft.object_type.name}}"
             ng-attr-id="{{'fv-'+cfv.rid}}"
             ng-focus="setiomethod(io,false,role)"
             ng-model="op.routing[cfv.field_type.routing]"
             ng-if="cfv.field_type.ftype == 'sample' && !cfv.field_type.array && 
                    op.form[cfv.field_type.role][cfv.name].aft.sample_type_id">

      <input type='string'
             fv="cfv"
             operation="op"
             plan="plan"              
             placeholder="{{op.form[cfv.field_type.role][cfv.name].aft.object_type.name}}"
             id="sample-io"
             ng-attr-id="{{'fv-'+cfv.rid}}"
             ng-focus="setiomethod(io,false,role)"           
             ng-model="cfv.sample_identifier"
             ng-if="cfv.field_type.ftype == 'sample' &&  cfv.field_type.array && 
                    op.form[cfv.field_type.role][cfv.field_type.name].aft.sample_type_id">

      <span ng-if="cfv.field_type.ftype == 'sample' && 
                   !op.form[cfv.field_type.role][cfv.field_type.name].aft.sample_type_id"
            ng-class="$current_cfv.rid == cfv.rid ? 'selected-input' : ''">
        {{cfv.name}} 
      </span>

    </div>

    <div flex="5" class="array-remove-container">
        <a href="#"  ng-if="cfv.field_type.array" 
           ng-click="op.array_remove(cfv); remove_orphan_wires(cfv)">&times;</a>
    </div>  

  </div>

</script>