<div layout="row">

  <div flex="5">
    <div class="io-type" ng-if="$first && fv.role == 'input'">in:&nbsp;&nbsp;&nbsp;</div>
    <div class="io-type" ng-if="$first && fv.role == 'output'">out:&nbsp;&nbsp;&nbsp;</div>    
  </div>

  <div flex="10">
    {{fv.name}}, {{fv.rid}}
  </div>

  <div flex="80">

    <input fv="fv"
           operation="current_op"
           plan="plan"
           type='string'       
           placeholder="{{current_op.form[fv.field_type.role][fv.name].aft.object_type.name}}"
           ng-attr-id="{{'fv-'+fv.rid}}"
           ng-focus="set_current_fv(fv)"
           ng-model="current_op.routing[fv.field_type.routing]"
           ng-class="fv.items.length != 0 ? 'items-in-stock' : ''"
           ng-if="fv.field_type.ftype == 'sample' && !fv.field_type.array && 
                  current_op.form[fv.field_type.role][fv.name].aft.sample_type_id">

    <input type='string'
           fv="fv"
           operation="current_op"
           plan="plan"              
           placeholder="{{current_op.form[fv.field_type.role][fv.name].aft.object_type.name}}"
           id="sample-io"
           ng-attr-id="{{'fv-'+fv.rid}}"
           ng-focus="set_current_fv(fv)"           
           ng-model="fv.sample_identifier"
           ng-class="fv.items.length != 0 ? 'items-in-stock' : ''"
           ng-if="fv.field_type.ftype == 'sample' &&  fv.field_type.array && 
                  current_op.form[fv.field_type.role][fv.field_type.name].aft.sample_type_id">

    <span ng-if="fv.field_type.ftype == 'sample' && 
                 !current_op.form[fv.field_type.role][fv.field_type.name].aft.sample_type_id"
          ng-class="$current_fv.rid == fv.rid ? 'selected-input' : ''">
      {{fv.name}} 
    </span>

  </div>

  <div flex="5" class="array-remove-container">
      <a href="#"  ng-if="fv.field_type.array" 
       ng-click="current_op.array_remove(fv); remove_orphan_wires(fv)">&times;</a>
  </div>  

</div>
