<div layout-padding style="position: relative; margin: 0px 120px 16px 80px">

  <div class="text-box-content no-highlight" ng-bind-html="help_markdown"></div>  

  <div style="position: fixed; top: 130px; right: 40px; font-size: 24pt; cursor: pointer"
       ng-click="nav.help = false">
       &times;
       <md-tooltip md-direction='bottom'>Close Help"</md-tooltip>
  </div>    

</div>