<script type="text/ng-template" id="launch_plan">

  <div class="title">

    <span class="md-title" ng-if="plan">{{plan.name}}</span>

    <% if current_user && current_user.is_admin %>
      <div ng-if="current_user.id != <%= current_user.id %>">
        <span class='md-body other-user-alert'>
          for {{current_user.name}}
        </span>
      </div>
    <% end %>

     <div ng-if="plan.id">
       <a href="/launcher?plan_id={{plan.id}}" target="plan_list">View in Plan List Tab</a>
       <br>
       <md-button ng-click="cancel()"
                  class="md-small md-warn md-raised">
         Cancel
       </md-button>
    </div>

    <div ng-if="plan.status == 'planning' || plan.has_new_ops">

      <div ng-if="plan.estimating" layout="row" layout-align="center center">
        <md-progress-circular class="md-hue-2" md-diameter="20px">
        </md-progress-circular> 
        &nbsp;
        <span class="md-body-2">Estimating Cost</span>
      </div>

      <div ng-if="!plan.estimating" layout="row" layout-align="center center">
        <span class="md-body-2 cost-error" ng-if="plan.cost.error ">
          Cost Undetermined: 
          <span class="md-body-1">{{plan.cost.error}}</span>
        </span>
        <span class="md-body-2" ng-if="!plan.cost.error">
          {{plan.cost.total|currency}}
        </span>
      </div>

    </div>

  </div>

  <!-- PLAN INFORMATION ///////////////////////////////////////////////////////////////// -->
  <div ng-if="plan.status != 'planning'">

    <div>
      <b>Assuming each operation is run once: </b>{{plan.cost_total|currency}}
      <span ng-if="plan.cost_total != 0 && !plan.cost_total">...calculating</span>
    </div>
    <div>
      <b>Cost so far:</b> {{plan.cost_so_far|currency}}
      <span ng-if="plan.cost_so_far != 0 && !plan.cost_so_far">...calculating</span>
    </div>
    <div><b>Budget</b>: {{plan.budget.name}}</div>
    <div><b>Last Updated:</b> {{plan.updated_at|date}}</div>

  </div>

  <div ng-if="plan.id">

    <div ng-if="plan.data_associations">
      <da record="plan" ng-if="plan.data_associations.length > 0" narrow=false></da>
      <hr>
      <md-button class="md-raised md-medium md-primary" 
                 ng-click="step(plan)"
                 ng-if="plan.status != 'planning'">Step</md-button>
      <md-button class="md-raised md-medium" ng-click="plan.new_data_association()">Add Data</md-button>
      <md-button class="md-raised md-medium"><upload record='plan'></upload></md-button>
    </div>

    <div ng-if="!plan.data_associations">    
      Loading Data Associations
    </div>

  </div>

  <div ng-if="plan.status != 'planning' && plan.has_new_ops">
    <hr>
    <span class="md-title">This plan contains newly added operations that have not yet been launched.</span>
    <br>Choose a budget and click submit to launch them.
  </div>

  <!-- BUDGETS ///////////////////////////////////////////////////////////////////////// -->
  <md-list ng-repeat="uba in current_user.user_budget_associations"
           ng-if="plan.status == 'planning' || plan.has_new_ops"
           flex>
    <md-list-item ng-if="uba.budget && uba.budget.spent.this_month != null">
      <div class="md-list-item-text" layout="column">
        <div class="md-body-2">
          <md-checkbox
            aria-label="Budget Choice"
            class='budget-checkbox'
            ng-click="select_uba(current_user,uba)"
            ng-checked="uba.selected"
            ng-disabled="uba.budget.spent.this_month > uba.quota">
          </md-checkbox>
          {{uba.budget.name}}
        </div>

        <div class="md-body-1">{{uba.budget.description}}.</div>
        <div class="md-body-1">
            {{uba.budget.spent.this_month|currency}}
          / {{uba.quota|currency}} spent</div>
      </div>
    </md-list-item>
  </md-list>

  <hr>

  <div layout="row" 
       layout-align="center center" 
       ng-if="plan.status == 'planning' || plan.has_new_ops">
    <md-button 
      ng-click="submit_plan()"
      ng-disabled="plan.estimating || plan.cost.error || !plan.uba || state.planning"
      class="md-raised md-primary"
      aria-label="Submit Plan">
      <span ng-if="!state.planning && plan.status == 'planning'">Submit</span>
      <span ng-if="!state.planning && plan.status != 'planning'">Extend</span>      
      <span ng-if="state.planning">Planning...</span>        
    </md-button>
  </div>

</script>
