
<!-- OUTPUTS -->

<div ng-repeat="output in current_draggable.output track by $index">

  <div ng-if="output.origin.io"
       class="io-container">

       <field-value-form 
            cfv="output.origin.io"
            op="output.origin.op" 
            io="output"
            role="'output'"
            plan="plan"
            first="$first"
            setiomethod="set_current_io"></field-value-form>
  </div>

</div>

<!-- INPUTS -->

<div ng-repeat="input in current_draggable.input track by $index">

  <div ng-if="input.destinations.length > 0 && input.destinations[0].io.field_type.ftype == 'sample'" 
       class="io-container">

       <field-value-form 
            cfv="input.destinations[0].io"
            op="input.destinations[0].op" 
            io="input"
            role="'input'"
            plan="plan"
            first="$first"
            setiomethod="set_current_io"></field-value-form>

  </div>

  <div ng-if="input.destinations.length > 0 && input.destinations[0].io.field_type.ftype != 'sample'" 
       class="io-container">

    <parameter-form cfv="input.destinations[0].io"
                    io="input"
                    first="$first"
                    setiomethod="set_current_io"></parameter-form>
    
  </div>  

</div>

