<script type="text/ng-template" id="operation_viewer">

  <!-- OPERATION TEMPLATE -->

  <div layout="row" layout-align="space-between start" class="operation-info-heading">

    <div>{{current_op.id}}: {{current_op.operation_type.name}}</div>
    <div ng-include="'job_info'"></div>
    <div>{{current_op.status}}</div>
    <div layout-align="end center" ng-if="current_op.status == 'done'">COST: {{current_op.cost.total|currency}}</div>

    <div>
      <md-menu layout="row">

        <div class='detail-menu clickable'
             ng-click="openMenu($mdMenu, $event)">
          <ng-md-icon icon="menu" size="20" aria-label="Menu"></ng-md-icon>
        </div>

        <md-menu-content width="4" class="scrollable" flex>

          <md-menu-item aria-label="Change to Waiting" ng-if="current_op.status == 'error'">
            <md-button ng-click="try_again(current_op)">Try Again</md-button>
          </md-menu-item>

          <md-menu-item aria-label="Add Data">
            <md-button ng-click="current_op.new_data_association()">Add Data</md-button>
          </md-menu-item>

          <md-menu-item aria-label="Upload">
            <md-button><upload record='current_op'></upload></md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>
    </div> 

  </div>

  <!-- DETAILS -->

  <div layout="column" layout-align="start stretch" dclass="plan-row plan-details"> 

    <da record="current_op"
        ng-if="current_op.data_associations.length > 0"></da>

    <div layout="column" ng-include="'op_io'"></div> 

  </div>

</script>

<script type="text/ng-template" id="op_io">

  <!-- FIELD VALUE TEMPLATE -->

  <div layout="row" ng-repeat-start="fv in current_op.field_values">

    <div flex="20" class="fv-pad">
      &nbsp;{{fv.name}} <span class='small'>({{ fv.child_sample || fv.item  || !fv.value ? fv.role : 'param'}})</span>
    </div>

    <div flex="10" ng-if="fv.row == null" class="fv-pad">
      <div ng-if="fv.item" item="fv.item" container="fv.item.object_type" sample="fv.item.sample"></div>
      <div ng-if="!fv.item">-</div>
    </div> 

    <div flex="10" ng-if="fv.row != null" class="fv-pad">
      <div item="fv.item" container="fv.item.object_type" sample="fv.item.sample ? fv.item.sample : fv.child_sample"></div>
      <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span>
    </div>

    <div flex="10" ng-if="!fv.value" class="fv-pad">{{fv.item.location}}</div> 
    <div flex="20" ng-if="!fv.value" class="fv-pad">{{fv.item.object_type.name}}</div>         
    <div flex="50" ng-if="!fv.value" class="fv-pad">
      <a href="/browser?sid={{fv.child_sample_id}}">{{fv.sample.name}}</a>
    </div> 
    <div flex="80" ng-if="fv.value" class="fv-pad">{{fv.value}}</div>  

  </div>

  <div layout="column" ng-repeat-end layout-align="start stretch" ng-if="fv.open" class="plan-row plan-details">  

    <div layout="row" layout-wrap layout-align="space-between center" ng-if="fv.open && fv.item">
        <span class='md-subhead' ng-if="fv.item.data_associations.length == 0">No item Data</span>
    </div>     

    <da ng-if="fv.open" record="fv.item"></da>  

  </div>

</script>


<script type="text/ng-template" id="job_info">

  <!-- JOB TEMPLATE -->

  <span ng-if="current_op.jobs && current_op.jobs.length > 0">
    <div ng-repeat="job in current_op.jobs">
      <span ng-bind-html="'Job ' + job.url | trust"></span>
      <span ng-if="job.pc == -2">
        <span ng-bind-html="'performed by ' + job.user.url | trust"></span>
        on {{current_op.jobs[current_op.jobs.length-1].updated_at|date}}
      </span> 
      <span ng-if="job.pc == -1">
        batched on {{current_op.jobs[current_op.jobs.length-1].created_at|date}}
      </span>
      <span ng-if="job.pc >= 0">
        <span ng-bind-html="'last updated by ' + job.user.url | trust"></span>
        on {{current_op.jobs[current_op.jobs.length-1].updated_at|date}}
      </span>
    </div>
  </span>

</script>