<script type="text/ng-template" id="operation_info">

  <md-content class="field-value-editor">

    <div class="title">
      <h1 class="md-title">{{current_op.operation_type.name}}</h1>
      {{current_op.num_inputs}}, {{current_op.num_outputs}}
      <p class='timing md-body'
         ng-if="current_op.operation_type.timing && current_op.operation_type.timing.active">
        {{current_op.operation_type.timing.as_string}}
      </p>
      <p class='timing md-body'
         ng-if="!current_op.operation_type.timing || !current_op.operation_type.timing.active">
        Scheduled as needed
      </p>
    </div>

  <div class='documentation md-body-1' ng-bind-html="current_op.operation_type.rendered_docs"></div>

  <hr>

  <div class="stats md-body-1">

    <p>
      Run {{current_op.operation_type.stats.error + 
            current_op.operation_type.stats.done}} times

    </p>

    <p ng-if="current_op.operation_type.stats.error == 1">
      1 error
    </span>

    <p ng-if="current_op.operation_type.stats.error != 1">
      {{current_op.operation_type.stats.error}} errors
    </span>

    <p>
      {{100*current_op.operation_type.stats.success | number: 1}}% success rate
    </p>

    <p ng-if="plan.current_operation.operation_type.stats.first_run">
      First run {{current_op.operation_type.stats.first_run|date: 'shortDate'}}
    </p>

    <p ng-if="plan.current_operation.operation_type.stats.last_run">
      Last run {{current_op.operation_type.stats.last_run|date: 'shortDate'}}
    </p>

  </div>

  </md-content>

</script>