<div layout="row">

  <div flex="5">
    <div class="io-type" ng-if="$first && fv.role == 'input'">in:&nbsp;&nbsp;&nbsp;</div>
  </div>

  <div flex="10">
    {{fv.name}}
  </div>

  <div flex="80">

    <input ng-if="fv.field_type.choices_array.length == 0 && fv.field_type.ftype != 'json'"
           type="string" 
           ng-model="fv.value"
           ng-focus="set_current_fv(fv)"
           ng-attr-id="{{'fv-'+fv.rid}}"
           placeholder="{{fv.field_type.name}} ({{fv.field_type.ftype}})"
           ng-focus='io_blur()'>

    <div ng-if="fv.field_type.ftype == 'json'">

      <textarea
             ng-model="fv.value"
             style="width: 100%"
             ng-focus="set_current_fv(fv)"
             ng-attr-id="{{'fv-'+fv.rid}}"
             placeholder="{{fv.field_type.name}} (JSON)"
             ng-focus="io_blur()"></textarea>

    </div>

    <div ng-if="fv.field_type.choices_array.length > 0  && fv.field_type.ftype != 'json'" class='select-container'>
      <select ng-model="fv.value"
              ng-focus='io_blur(); set_current_fv(fv)'
              ng-attr-id="{{'fv-'+fv.rid}}"
              ng-options="choice for choice in fv.field_type.choices_array">
        <option value="" disabled selected>{{fv.name}}</option>
      </select>
    </div>

  </div>

  <div flex="5" class="array-remove-container"></div>  

</div>