<!-- CURRENT PLAN  ///////////////////////////////////////// --> 

<div layout="column" layout-align="center center">
  <h3 class='md-body-2'>Current Plan<span ng-if="plan.id">: {{plan.id}}</span></h3>
  <input type=text class="plan-name-input-" ng-model=plan.name>
</div>

<!-- PLANS ///////////////////////////////////////////////// -->

<h4 class='md-subhead clickable no-highlight' ng-click="state.sidebar.plans = !state.sidebar.plans">
<span class='opener'>{{state.sidebar.plans ? '&#9660;' : '&#9658;'}}</span>  
  Your Plans {{state.loading_plans ? '... loading' : ''}}
</h4>

<ul class='compact-list' ng-if="state.sidebar.plans">
  <li ng-repeat="p in plans | orderBy:'-'" ng-class="plan.id == p.id ? 'active-plan' : ''" layout="row">
    <div style="margin-right: 5px">{{p.id}}:</div>
    <a href='#' class='no-highlight' ng-click="load(p)">
      {{p.name}}
      <span ng-if="state.deleting_plan.id == p.id"> ... deleting </span>
    </a>
  </li>
</ul>

<!-- USER ////////////////////////////////////////////////// -->

<div ng-if="ready" layout-fill>

  <% if current_user && current_user.is_admin %>

    <hr>

    <md-input-container layout-margin layout="column">
      <md-select ng-model="state.selected_user_id" class="md-plain-select"
                 md-on-close="select_user()">
        <md-option ng-repeat="user in users" 
                   ng-value="user.id">
          {{user.login}} ( {{user.name}} )
        </md-option>
      </md-select>
    </md-input-container>

  <% end %>    

</div>