<!-- CURRENT OPERATION ////////////////////////////////// -->

<div layout="column" layout-align="center center">
  <h3 class='md-body-2'>Current Plan<span ng-if="plan.id">: {{plan.id}}</span></h3>
  <input type=text class="plan-name-input-" ng-model=plan.name>
</div>

<!-- <div>
  <ul style="font-size: 6pt">
    <li ng-repeat="w in plan.wires">
      {{w.from_op.operation_type.name}}: {{w.from.name}} =>  {{w.to_op.operation_type.name}}: {{w.to.name}}
    </li>
  </ul>
</div> -->

<div ng-if="plan.current_module.id != 0" layout="column" layout-align="center center">
  <h3 class='md-body-2'>Current Module</h3>
  <input type=text class="plan-name-input-" ng-model=plan.current_module.name>
</div>

<br>
<md-divider></md-divider>

<div  style="margin-left: 16px">

  <!-- OPERATION TYPES /////////////////////////////////// -->

  <h4 class='md-subhead clickable no-highlight' ng-click="state.sidebar.op_types = !state.sidebar.op_types">
    <span class='opener'>{{state.sidebar.op_types ? '&#9660;' : '&#9658;'}}</span>  
    Operation Types
  </h4>

  <div ng-repeat="category in operation_types.categories | orderBy:''"
       ng-if="state.sidebar.op_types">
    
    <md-header ng-click="state.current_category = (state.current_category == category ? null : category)"
               class='clickable no-highlight' style="margin-left: 16px">
      <span class='opener'>
        {{state.current_category == category ? '&#9660;' : '&#9658;'}}
      </span>
      <span>{{category}}</span>
    </md-header>

    <ul class='compact-list'
        style="margin-left: 28px"
        ng-if="state.current_category == category">
      <li ng-repeat="ot in operation_types | filter: { category: category } : true | orderBy:'name'">
        <a href="#" ng-click="add_operation(ot)">
        {{ot.name | limitTo:32:0}}
        {{ot.name.length > 32 ? '...' : ''}}
        </a>
      </li>
    </ul>      

  </div>

  <!-- TEMPLATES ///////////////////////////////////////////// -->

  <h4 class='md-subhead clickable no-highlight' ng-click="state.sidebar.templates = !state.sidebar.templates">
    <span class='opener'>{{state.sidebar.templates ? '&#9660;' : '&#9658;'}}</span>  
    Templates
  </h4>

  <div ng-if="state.sidebar.templates">

      <div class='clickable no-highlight' style="margin-left: 16px"
           ng-click="state.sidebar.system_templates = !state.sidebar.system_templates">
          <span class='opener'>{{state.sidebar.system_templates ? '&#9660;' : '&#9658;'}}</span> 
          System Templates
      </div>

      <ul class='compact-list' style="margin: 5px 0 5px 28px"
          ng-if="system_templates.length > 0 && state.sidebar.system_templates">        
        <li ng-repeat="p in system_templates | orderBy:'-'" layout="row"
            ng-mouseover="note('asd'); p.hover = true" 
            ng-mouseleave="p.hover = false">
          <div style="margin-right: 5px">{{p.id}}: </div>
          <div flex><a href='#' class='no-highlight' ng-click="paste_plan(p)">{{p.name}}</a></div>
          <div style="padding-left: 6px" ng-if="p.user_id == current_user.id"> 
            <a href='#' style="color: #333; font-size: 12pt" 
               ng-show="p.hover"
               ng-click="revert_template(p)">&times;<md-tooltip md-direction='right'>Revert to Normal Plan</md-tooltip></a>                 
          </div> 
        </li>
      </ul>

      <span ng-if="system_templates.length == 0 && state.sidebar.system_templates" style="margin-left: 28px">No templates</span>

      <div class='clickable no-highlight' style="margin-left: 16px"
           ng-click="state.sidebar.your_templates = !state.sidebar.your_templates">
          <span class='opener'>{{state.sidebar.your_templates ? '&#9660;' : '&#9658;'}}</span> 
          Your Templates
      </div>

      <ul class='compact-list' style="margin: 5px 0 5px 28px"
               ng-if="templates.length > 0 && state.sidebar.your_templates"
               style="margin-left: 28px">        

        <li ng-repeat="p in templates | orderBy:'-'" 
            layout="row" 
            ng-mouseover="note('asd'); p.hover = true" 
            ng-mouseleave="p.hover = false">

          <div style="margin-right: 5px">{{p.id}}:</div>

          <div flex><a href='#' class='no-highlight' ng-click="paste_plan(p)">{{p.name}}</a></div>

          <% if current_user.is_admin %>
          <div style="padding-left: 6px">
              <a href='#' style="font-size: 7pt; color: #333; font-size: 12pt" 
                 ng-show="p.hover"
                 ng-click="create_system_template(p)">&#8679;<md-tooltip md-direction='right'>Share as Global Template</md-tooltip></a>
          </div>
          <% end %>            

          <div style="padding-left: 6px"> 
            <a href='#' style="color: #333; font-size: 12pt" 
               ng-show="p.hover"
               ng-click="revert_template(p)">&times;<md-tooltip md-direction='right'>Revert to Normal Plan</md-tooltip></a>                 
          </div>

        </li>

      </ul>

      <span ng-if="templates.length == 0 && state.sidebar.your_templates" style="margin-left: 28px">No templates</span>

  </div>

  <!-- PLANS ///////////////////////////////////////////////// -->

  <h4 class='md-subhead clickable no-highlight' ng-click="state.sidebar.plans = !state.sidebar.plans">
  <span class='opener'>{{state.sidebar.plans ? '&#9660;' : '&#9658;'}}</span>  
    Your Plans {{state.loading_plans ? '... loading' : ''}}
  </h4>

  <ul class='compact-list' ng-if="state.sidebar.plans">
    <li ng-repeat="p in plans | orderBy:'-'" ng-class="plan.id == p.id ? 'active-plan' : ''" layout="row">
      <div style="margin-right: 5px">{{p.id}}:</div>
      <a href='#' class='no-highlight' ng-click="load(p)">
        {{p.name}}
        <span ng-if="state.deleting_plan.id == p.id"> ... deleting </span>
      </a>
    </li>
  </ul>

</div>
