<div ng-if="current_fv.is_sample && current_fv.role == 'output' && current_fv.successors.length > 0">

  <md-subheader class="md-no-sticky">
    Successors
  </md-subheader>

  <md-list class="md-compact-list">
    <md-list-item ng-repeat="suc in current_fv.successors" 
                  ng-if="suc.operation_type.id != current_op.operation_type.id">
      <p><b>{{suc.operation_type.name}} {{asd}}</b></p>
      <md-button 
        ng-class="current_fv.field_type.preferred_operation_type_id == suc.operation_type.id ? 
                 'md-raised md-primary md-secondary md-button-in-list' :
                 'md-raised md-secondary md-button-in-list'"
        ng-click="add_successor(current_io,current_draggable,suc)">
          <md-tooltip md-direction="bottom">
            Use {{suc.operation_type.name}} from {{suc.operation_type.category}} to produce {{current_fv.name}}
          </md-tooltip>
          Add
      </md-button>
    </md-list-item>

  </md-list>

</div>


<md-subheader class="md-no-sticky" 
              ng-if="current_fv.is_sample && current_fv.successors.length == 0">
  No Applicable Successors
</md-subheader>
