
<script type="text/ng-template" id="plan">

    <span ng-class='node_class(selection,node)'

      <a href="#" ng-click='select_node(selection,node)'>
        {{operation_type(node).name}}
      </a>

      <span ng-if="node.ready">(ready)</span>

      <span ng-if="node.problem">(problem)</span>      

    </span>

    <ul>
      <li ng-repeat="input in node.inputs">
        {{input.name}}<span ng-if="input.satisfied" class='available'>: available</span>
        <ul ng-if="!input.satisfied && input.predecessors.length > 0">
          <li ng-repeat="p in input.predecessors" ng-include="'plan'" ng-init="node=p.operation"></li>
        </ul>
        <span ng-if="input.issue" class="no-plan">&nbsp;NO PLAN&nbsp;</span>
      </li>
    </ul>

</script>

<script type="text/ng-template" id="operation">

  <h4>{{operation_type(op).name}}</h4>

  <h5>Inputs</h5>
    <ul>
      <li ng-repeat="fv in op.field_values | filter: { role: 'input' }">
        {{fv.name}}: {{fv.child_sample.name}}
      </li>
    </ul>

  <h5>Outputs</h5>
    <ul>
      <li ng-repeat="fv in op.field_values | filter: { role: 'output' }">
        {{fv.name}}: {{fv.child_sample.name}}
      </li>
    </ul>  

</script>

<div ng-if="mode=='view'" ng-controller="viewEditPlanCtrl">

  <div class='row-fluid'>
    <div class='span6'>
      <h4>Plan No. {{current_plan.id}}: 
        <span ng-repeat="goal in current_plan.goals">
          {{goal.operation_type.name}}
        </span>
      </h4>
      <p>
        Created on {{current_plan.created_at|date}}<br />
        Status: TODO: PUT STATUS HERE
      </p>
    </div>
    <div class='span6'>
      <button ng-click='cancel(selection)' class='btn pull-right space'>Cancel</button> 
      <button ng-click='replan(selection)' class='btn pull-right space'>Replan</button>        
      <button ng-click='launch(selection)' class='btn btn-primary pull-right space'>Launch</button>        
    </div>
  </div> 
 
  <div class='row-fluid'>

    <div class='span5 plan'>
      <h4>Plan</h4>
      <ul>
        <li ng-repeat="issue in current_plan.issues">Operation {{issue.id}}: {{issue.msg}}</li>
      </ul>
      <ul>
        <li ng-repeat="node in current_plan.trees" ng-include="'plan'"></li>
      </ul>
    </div>

    <div class='span7'>
      <div ng-repeat="op in current_plan.operations" ng-show="current_plan.current.id == op.id">
        <div ng-include="'operation'"></div>
        <!-- <pre>{{op|json}}</pre> -->
      </div>
    </div>

  </div>

</div>

