<% provide(:title, 'Planner') %>

<% content_for :controller do %>planCtrl<% end %>

<% content_for :class do %>plans<% end %>

<% content_for :sidebar do %>
  <div>{{current_op.operation_type.name}}</div>
  <div>{{current_fv.id}}: {{current_fv.name}}</div>
  <div ng-repeat="wire in plan.wires">
    {{wire.from_id}} => {{wire.to_id}}
  </div>

<% end %>

<% content_for :main do %>

  <div ng-keydown="keyDown($event)" style="height: 100%" tabindex="0">

    <svg class="plan-editor"
         xmlns="http://www.w3.org/2000/svg"
         ng-mousedown="mouseDown($event)"
         ng-mousemove="mouseMove($event)">

       <g ng-repeat="wire in plan.wires">
         <g ng-repeat="from_op in plan.operations">
           <g ng-repeat="from in outputs = ( from_op.field_values | filter: { role: 'output' } ) track by $index" ng-init="from_index = $index">
             <g ng-repeat="to_op in plan.operations" >
               <g ng-repeat="to in inputs = ( to_op.field_values | filter: { role: 'input' } ) track by $index">
                 <line ng-attr-class="{{wire == current_wire ? 'wire-selected' : 'wire'}}" 
                       ng-mousedown="wireMouseDown($event, wire)" 
                       ng-if="wire.from_id == from.id && wire.to_id == to.id"
                       ng-attr-x1="{{from_op.x + from_op.width/2 + (from_index - outputs.length/2.0 + 0.5)*20}}"
                       ng-attr-y1="{{from_op.y}}"
                       ng-attr-x2="{{to_op.x + to_op.width/2 + ($index - inputs.length/2.0 + 0.5)*20}}"
                       ng-attr-y2="{{to_op.y + to_op.height}}">
                 </line>
               </g>
             </g>
           </g>
         </g>
       </g>

       <g ng-repeat="op in plan.operations" 
          ng-attr-transform="translate({{op.x}}, {{op.y}})">

         <rect ng-attr-width="{{op.width}}" ng-attr-height="{{op.height}}"
               ng-attr-class="{{op == current_op ? 'op op-selected' : 'op'}}"
               ng-mousedown="opMouseDown($event, op)" 
               ng-mouseup="opMouseUp($event, op)" 
               ng-mousemove="opMouseMove($event, op)" >
         </rect>

         <text ng-attr-x="{{op.width/2}}" y="20" class='op-name'>{{op.operation_type.name}}</text>

         <circle ng-repeat="fv in outputs = ( op.field_values | filter: { role: 'output' } ) track by $index" 
           ng-attr-class="{{fv == current_fv ? 'field-value-selected' : 'field-value'}}"
           ng-attr-cx="{{op.width/2 + ($index - outputs.length/2.0 + 0.5)*snap}}" 
           ng-mousedown="fvMouseDown($event, op, fv)" 
           cy="0" r="5"></circle>

         <circle ng-repeat="fv in inputs = ( op.field_values | filter: { role: 'input' } ) track by $index" 
           ng-attr-class="{{fv == current_fv ? 'field-value-selected' : 'field-value'}}"
           ng-attr-cx="{{op.width/2 + ($index - inputs.length/2.0 + 0.5)*snap}}" 
           ng-mousedown="fvMouseDown($event, op, fv)" 
           ng-attr-cy="{{op.height}}"></circle>         

       </g>

    </svg>

  </div>

<% end %>


