<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Jan. 2-3)</h4>
    <ul class='list'>
      <li>Can now produce an item with a specific sample type using
      using the syntax produce 1 "ObjectType" of "Sample" end.</li>
      <li>Software enforces ObjectTypes to have unique names.</li>
      <li>Fixed bugs in produce where the location wizard was used
      incorrectly.</li>
      <li>Help shows location logic.</li>
      <li>Created and updated dates now show up in item description.</li>
    </ul>

</div>
