<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Jan. 27)</h4>
    <ul class='list'>
      <li>You can now take arrays of items and objects. Plus, the take
      page has been updated to be more compact.</li>
      <li>Items listed as deleted in your cart no longer show up in arguments.</li>
    </ul>

</div>
