<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Mar. 17)</h4>
    <ul class='list'> 
      <li>New argument type: generic. This type presents the user
      with a text box into which they should put json. You can also
      easily send json from outputs to inputs via metacols.</li>
      <li>Fixed a problem where arguments to metacols used in
      expressions would cause errors.</li>
      <li>Moved some menues around.</li>
    </ul>

</div>
