<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Dec. 3)</h4>
    <ul class='list'>
      <li>Steps in plankton have bullet points.</li>
      <li>Steps in plankton have checkboxes that must be checked by the
      user before the 'next' button is active.</li>
      <li>Take in plankton can have a note field that is displayed before
      the list of items to be taken.</li>
      <li>Runtime errors show offending line numbers.</li>
      <li>You can adjust locations of items in the object_type view 
      page.</li>
      <li>Bigger, brighter, bolder warnings.</li>
      <li>Fixed a bug in oyster protocol submission where the latest start 
      time was computed incorrectly when the desried start time was not now().</li>
    </ul>

</div>
