<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (April 18)</h4>
    <ul class='list'> 
      <li>User profile pages show recent activity.</li>
      <li>In Plankton and Oyster, the quantity function now takes
      either a string describing an object type, or a hash with both
      object and sample keys so you can get the number of items of a
      given sample type and object type container.</li>
      <li>Fixed bug where tasks with long descriptions crashed (April 28).</li>
    </ul>

</div>
