<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (May 4-6, May 12)</h4>
    <ul class='list'> 
      <li>Several small bug fixes.</li>
      <li>New freezer box view in Analytics menu and also in Item view.</li>
      <li>A really simple inventory search page.</li>
      <li>Task prototypes now have an array of possible status
      values, task status is easier to change. and tasks have owners.</li>
    </ul>

</div>
