<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Mar. 3)</h4>
    <ul class='list'> 
      <li>Fixed bug where two produces in a row would use the same
      location.</li>
      <li>Items returned by take and produce now include their locations.</li>
    </ul>

</div>
