<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (May 4)</h4>
    <ul class='list'> 
      <li>Several small bug fixes.</li>
      <li>New freezer box view in Analytics menu and also in Item view.</li>
    </ul>

</div>
