<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (April 5)</h4>
    <ul class='list'> 
      <li>There is now a simple foreach statement in steps.</li>
      <li>You can make tables in steps.</li>
      <li>You can use more than one image in a step. They will show
      up in order in on the left of the page.</li>
      <li>This update introduces tasks and tasks prototypes. You can
      define a task prototype for a give kind of task (such as a
      daily cleanup task, or a Gibson assembly, etc). The prototype
      states what the data structure (an arbitrary json string)
      defines a task of that type. Then you can make as many tasks as
      you want. See the new "Tasks" menu for examples. You can then
      access tasks from within Plankton and Oyster as well as change the
      status of tasks.
    </ul>

</div>
