<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Jan. 17)</h4>
    <ul class='list'>
      <li>Steps can now have timers as in <pre>timer: { hours: 0, minutes: 3, seconds: 0 }</pre></li>
      <li>Added a splash screen on the metacol launch page that
      prevents users from acidentally pressing the launch button more
      than once and submitting multiple metacols.</li>
      <li>Fixed several bugs.</li>
    </ul>

</div>
