<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Mar. 6-7)</h4>
    <ul class='list'> 
      <li>Assignments can now have arbitrary left hand sides
      (e.g. a[0][:x][1+y] = 2).</li>
      <li>New hash functions: merge, key, keys, delete.</li>
      <li>Standard math functions now available.</li>
      <li>You can now start jobs scheduled for the future, although
      there is an "Are you sure?" dialog you have to go through.</li>
    </ul>

</div>
