<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Jan. 10)</h4>
    <ul class='list'>
      <li>Can now list all samples by project via the Inventory menu.</li>
      <li>Metacol list filtered by user.</li>
      <li>Can show all pending jobs, not just your own [if you are an admin]</li>
      <li>Changed the home page to show fewer stats, because they tend to take a lot of bandwidth to produce.</li>
      <li>Admins can change other users' passwords.</li>
      <li>Bug fixes in select boxes, editing arguments, changing the
      location of items.</li>
      <li>Removed link to protocol source in pending jobs to prevent
      new users from going astray.</li>
      <li></li>
    </ul>

</div>
