<div style='border: 1pt solid #aaa; border-radius: 5pt; padding: 5px; margin: 5px;'>

    <h4 style='text-align: center'>Latest Changes (Dec.9)</h4>
    <ul class='list'>
      <li>New statistics on the main page.</li>
      <li>Lastest changes in the Analytics menu.</li>
      <li>When a protocol is finishsed, aquarium looks for another
      protocol associated with the same metacol for you to do next.</li>
      <li>return_value(i,str) in oyster transitions. See oyster/return_if_not_1.oy.</li>
      <li>Production mode header bar now blicks red if the cameras are on.</li>
    </ul>

</div>
