
<div id="object_stats" style='height: 300px'></div>

<script>

  var d;

  $.ajax({
    type: 'GET',
    url: '/stats/objects',
    dataType: "json",
    success: function(data,status) {
      d = data;
      $(function () { 
	  $('#object_stats').highcharts({
	      chart: { },
              title: { text: 'Inventory' },
	      xAxis: { type: 'datetime', tickInterval : 7*24 * 3600 * 1000 },
	      yAxis: [
                { title: { text: 'Number of Objects'} },
                { title: { text: 'Number of Items'}, opposite: true } 
              ],
              credits: { enabled: false },
              plotOptions: { series: { animation: false } },
	      series: [{
                  yAxis: 0,
                  name: 'Objects',
		  data: data.objects
	      }, {
                  yAxis: 1,
                  name: 'Items',
                  data: data.items
              }]
	  });
      });
    }
  });

</script>
