
<div id="object_stats" style='height: 350px'>
  <%= image_tag "waiting_animation.gif" %>
</div>

<script>

function displayObjects() {

  $.ajax({
    type: 'GET',
    url: '/stats/objects',
    dataType: "json",
    success: function(data,status) {

      // data.items
      // data.objects
      $.plot($("#object_stats"), [ 
          { data: data.items, yaxis: 1, label: " # Items" },
          { data: data.objects, yaxis: 2, label: " # Objects" }
        ], {
          yaxes: [ {position: "left" }, { position: "right" } ],
          xaxis: {
            mode: "time",
            timeformat: "%b %Y"
          },
          grid: {
            minBorderMargin: 0,
            borderWidth: {
              top: 0, right: 0, bottom: 0, left: 0
            }
          },
          legend: {
            position: "se"
          }
        }
      );
    }
  });

}

displayObjects();

</script>
