
<div id="protocol_stats" style='height: 300px'><%= image_tag "waiting_animation.gif" %></div>

<script>

function displayProtocols() {

  $.ajax({

    type: 'GET',
    url: '/stats/protocols',
    dataType: "json",

    success: function(data,status) {

      ticks = [];
      nums = [];

      for ( var i=0; i<data.length; i++ ) {
        console.log(data[i])
        ticks.push([i,data[i][0]])
        nums.push([data[i][1],i]);
      }

      $('#protocol_stats').plot([nums],{

        yaxis: { ticks: ticks, tickColor: "#fff" },

        xaxis: { tickColor: "#eee", tickDecimals: 0 },

        series: {
          bars: {
            show: true
          }
        },

        bars: {
          align: "center",
          barWidth: 0.5,
          horizontal: true
        },

        grid: {
          minBorderMargin: 0,
          borderWidth: {
            top: 0, right: 0, bottom: 0, left: 1
          }
        }

      });

    }

  });

}

displayProtocols();

</script>
