
<div id="protocol_stats" style='height: 300px'></div>

<script>

function displayProtocols() {

  $.ajax({
    type: 'GET',
    url: '/stats/protocols',
    dataType: "json",
    success: function(data,status) {

      names = [];
      nums = [];
      for ( var i=0; i<data.length; i++ ) {
        names.push(data[i][0]);
        nums.push(data[i][1]);
      }

      $('#protocol_stats').css('height',60+30*nums.length);

      $(function () { 
	  $('#protocol_stats').highcharts({
	      chart: { type: 'bar' },
              title: { text: 'Protocol Usage' },
	      xAxis: { categories: names },
	      yAxis: { title: { text: 'Jobs (past 7 days)'}, allowDecimals: false },
              credits: { enabled: false },
              plotOptions: { series: { animation: false } },
	      series: [{
                  showInLegend: false,
		  data: nums
	      }]
	  });
      });


    }
  });

  setTimeout(displayProtocols,DISPLAY_PROTOCOLS_PERIOD);

}

displayProtocols();

</script>
