
<div id="sample_stats" style='height: 350px'><%= image_tag "waiting_animation.gif" %></div>

<script>

function displaySamples() {

  $.ajax({
    type: 'GET',
    url: '/stats/samples',
    dataType: "json",
    success: function(data,status) {
 
      var ticks = [], n = [], m = [];
      var i = 0;
      for ( var st in data ) {
        ticks.push([i,st]);
        n.push([data[st][0],i]);
        n.push([data[st][1],i]);        
        i++;
      }

      $.plot($("#sample_stats"), [ { data: n, color: 'green' }, { data: m, color: 'orange' } ],
        {
            yaxis: { ticks: ticks, tickColor: "#fff" },

            series: {
              bars: {
                show: true
              }
            },
            bars: {
              align: "center",
              barWidth: 0.5,
              horizontal: true
            },
            grid: {
              minBorderMargin: 0,
              borderWidth: {
              top: 0, right: 0, bottom: 0, left: 1
            }
          }
        }
      );

    }

  });

}

displaySamples();

</script>
