
<div id="timing_stats" style='height: 350px'></div>

<script>

function displayTiming() {

  $.ajax({
    type: 'GET',
    url: '/stats/timing?job=' + <%= @job.id %>,
    dataType: "json",
    success: function(data,status) {

      $(function () { 
	  $('#timing_stats').highcharts({
	      chart: { },
              title: { text: 'Timing' },
	      xAxis: { type: 'datetime' },
	      yAxis: [
                { title: { text: 'Program Counter' }, allowDecimals: false, min: 0 }
              ],
              credits: { enabled: false },
              plotOptions: { series: { animation: false, marker: { enabled: false } } },
	      series: [{
                  yAxis: 0,
                  step: 'left',
                  name: 'Program Counter',
		  data: data
	      }]
	  });
      });
    }
  });

}

displayTiming();

</script>
