<script type="text/ng-template" id="dataList">

  <div ng-controller="daCtrl">

    <ul class='data-list'>

      <li ng-repeat="da in parent.data_associations | filter: { key: '!notes' }">

        <span class='data-key'>{{da.key}}:</span> 
        <span class='data-value' ng-if="!da.url">{{da.value}}</span>

        <span class='data-upload' ng-if="da.url">
          <a href='#' ng-click='item.modal=true'>{{da.upload.upload_file_name}}</a>
          ({{da.upload.upload_content_type}},
           {{da.upload.upload_file_size|bytes}})
        </span>

      </li>

      <li>

        <div modal='parent.edit_modal' title="'Notes for item ' + item.id" width='40%' height='40%'>
          <textarea ng-model="parent.note" class='note-editor'></textarea>
          <div class='pull-right'>
            <button class='btn btn-small btn-primary' ng-click="save_note(parent,type)">
              Save
            </button>            
          </div>            
        </div>  

      </li>    

    </ul>

  </div>

</script>
