<script type="text/ng-template" id="data_associations_template">

  <div class="data-associations-container">

    <div layout="row" layout-wrap layout-align="start center"
         ng-if="record.data_associations.length > 0"
         ng-repeat="da in record.data_associations"
         ng-init="da.new_value=da.value">

      <div flex="25" class="left-pad">
        <span class='md-body-2' ng-if="!da.unsaved">{{da.key}}</span>
        <input type='text' ng-if="da.unsaved" ng-model=da.key class="da-key">
      </div>

      <div flex="55">

        <input type='text' ng-model=da.new_value ng-if="!da.upload_id" class="da-input">

        <div ng-if="da.upload_id">

          <a href="#" ng-click="da.modal=true" ng-init="da.modal=false">
            {{da.upload.upload_file_name}}
          </a>

          <span ng-if="da.busy">uploading file...</span>

          <div modal='da.modal' title="da.key + ': ' + da.upload.upload_file_name" 
               width='50%' height='70%' ng-if="da.modal">
            <div class='da-upload'>
              <img ng-src="{{da.url}}" class='image'>
              <h4>Notes: </h4>
              <textarea ng-model=da.new_value ng-init="da.new_value=da.value" class='value'></textarea>
              <a href="#" class='btn btn-primary save' 
                          ng-click="save(da)" 
                          ng-disabled="da.new_value == da.value">Save Notes</a>
              <div class='download'>
                <b>Download:</b> <a href="{{da.url}}" download>{{da.upload.upload_file_name}}</a>
              </div>         
            </div>    
          </div>  

        </div>

      </div>

      <div flex="20">
        <div layout="row" layout-align="end center">
          <md-button ng-click="save(da)" 
                     ng-if="da.new_value != da.value || da.unsaved"
                     class='md-small md-raised right-margin'>Save</md-button>
          <md-button ng-click="da.new_value=da.value"
                     ng-if="da.new_value != da.value && !da.unsaved"
                     class='md-small md-raised right-margin'>Cancel</md-button>
          <md-button ng-click="record.drop(da)"
                     ng-if="da.unsaved"
                     class='md-small md-raised right-margin'>Cancel</md-button>                    
          <md-button ng-click="record.delete_data_association(da)" 
                     ng-if="!da.unsaved" 
                     class="md-small md-raised right-margin">Drop</md-button>
        </div>
      </div>      

    </div>

  </div>

</script>