<!-- RESPONSIVE  MENU BAR -->
<div class="aq2">
<div class="fflex_resp main-toolbar" style="justify-content:space-between;align-items:center;">

  <!-- LEFT -->
  <div class="fflex_resp" style="align-items:center;">
    <div class="fflex_col_auto">
      <a class="nav_menu" href="#" onclick="alert('show menu')">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="white">
      <path d="M3 18h18v-2H3v2z"></path>
      <path d="M3 13h18v-2H3v2z"></path>
      <path d="M3 6v2h18V6H3z"></path>
      </svg>
      </a>
      <div class="sub_menu" style="position:absolute;display:none">
          <div class="sub_menu_item">
            <a href="/static_pages/direct_purchase">Direct Purchase</a>
          </div>

          <div class="sub_menu_divider"></div>

          <div class="sub_menu_item">
            <a class="sub_nav" href="/logs">Logs</a>
          </div>

          <% if current_user && current_user.is_admin %>

            <div class="sub_menu_divider"></div>

            <div class="sub_menu_item">
              <a class="sub_nav" href="/users">Users</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/groups">Groups</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/announcements">Announcements</a>
            </div>

            <div class="sub_menu_divider"></div>

            <div class="sub_menu_item">
              <a class="sub_nav" href="/budgets">Budgets</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/invoices?all=true">Invoices</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/parameters">Parameters</a>
            </div>

            <div class="sub_menu_divider"></div>

            <div class="sub_menu_item">
              <a class="sub_nav" href="/sample_types">Sample Type Definitions</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/object_types">Containers</a>
            </div>
            <div class="sub_menu_item">
              <a class="sub_nav" href="/wizards">Location Wizards</a>
            </div>

            <div class="sub_menu_divider"></div>

            <div class="sub_menu_item">
              <a class="sub_nav" href="/import">Import Workflows</a>
            </div>

            <div class="sub_menu_item">
              <a class="sub_nav" href="/publish">Export Workflows</a>
            </div>

          <% end %>

          <div class="sub_menu_divider"></div>

          <div class="sub_menu_item">
            <a class="sub_nav" href="http://klavinslab.org/aquarium" class="dropdown-toggle" target='documentation'>Help</a>
          </div>
      </div>
    </div>

    <div class="fflex_col_auto aq2-logo show_768">
      <div class="top">
        <a href="/" class="aquarium">AQUARIUM</a>
        <span class="version">v<%= Bioturk::Application.config.aquarium_version %></span>
      </div>
      <div class="bottom">
        <span class="instance"><%= Bioturk::Application.config.instance_name %>:</span>
        <span class="mode"><%= Rails.env %></span>
      </div>
    </div>

    <div class="fflex_col_auto aq2-logo hide_768">
      <div class="top">
        <a href="/" class="aquarium">AQUARIUM</a>
      </div>
      <div class="bottom">
        <span class="instance"><%= Bioturk::Application.config.instance_name %></span>
      </div>
    </div>
  </div>


  <!-- RIGHT ( MENU ITEMS MEDIUM AND LARGE SCREEN ONLY ) -->
  <div class="fflex_resp">

    <div class="fflex_col_auto hide_1024" style="min-width:88px;">
      <a class="nav" href="#" onclick="alert('show menu')">Activity</a>
      <div class="sub_menu" style="position:absolute;display:none">
        <div class="sub_menu_item">
          <a class="sub_nav" href="/plans">Home</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/plans">Designer</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/launcher">Plans</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/operations">Manager</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/browser">Samples</a>
        </div>
        <% if current_user && current_user.is_admin %>
          <div class="sub_menu_item">
            <a class="sub_nav" href="/operation_types">Developer</a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="fflex_col show_1024 fflex_center_text" style="min-width:88px;">
        <a class="nav" href="/plans">Designer</a>
    </div>

    <div class="fflex_col show_1024 fflex_center_text" style="min-width:88px;">
        <a class="nav" href="/launcher">Plans</a>
    </div>

    <div class="fflex_col show_1024 fflex_center_text" style="min-width:88px;">
        <a class="nav" href="/operations">Manager</a>
    </div>

    <div class="fflex_col show_1024 fflex_center_text" style="min-width:88px;">
        <a class="nav" href="/browser">Samples</a>
    </div>

    <% if current_user && current_user.is_admin %>
      <div class="fflex_col show_1024 fflex_center_text" style="min-width:88px;">
          <a class="nav" href="/operation_types">Developer</a>
      </div>
    <% end %>

    <div class="fflex_col" style="min-width:112px;">
      <a class="nav_login" href="#" onclick="alert('show menu')">&bull; User</a>
      <div class="sub_menu" style="position:absolute;display:none">
        <div class="sub_menu_item">
          <a class="sub_nav" href="/profile">Profile</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/invoices">Invoices</a>
        </div>
        <div class="sub_menu_item">
          <a class="sub_nav" href="/signout">Signout</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

