<%= stylesheet_link_tag "banner" %>

<!-- below div describes the banner in HTML -->
<div class='banner'>
  <h3>Announcement Title</h3>
  <p>Here are words which describe this announcement!</p>
</div>
