<footer class="footer" style='background: white; padding: 2px; width: 100%; margin: 0'>
  <p style='padding: 1px; margin: 0 0 0 10px'>
    BIOTURK is a product of the <a href="http://depts.washington.edu/soslab">Klavins Lab.</a>
  </p>
</footer>
