<footer class="footer" style='padding: 0px; width: 100%; margin: 0; border: 0''>
  <p style='padding: 0px; margin: 0 10px 0 0; float: right'>
    BIOTURK is a product of the <a href="http://depts.washington.edu/soslab">Klavins Lab.</a>
  </p>
</footer>
