<div style="position: relative; margin: 20px; width: 150%"
     ng-if="current.activity_report.data.status == 'ready' && current.activity_report.data.jobs.length == 0">
  <p>No jobs performed on {{current.activity_report.date|date}}.</p>
</div>

<div style="position: relative; margin: 20px; width: 150%"
     ng-if="current.activity_report.data.status == 'waiting'">
  <p>Preparing report.</p>
</div>

<div style="position: relative; width: 150%">

  <!-- Time grid -->
  <div ng-repeat="box in current.activity_report.data.hour_boxes"
       ng-click="current.activity_report.data.selection = null"
       class="no-highlight"
       style="position: absolute;
              left: {{box.left}}px;
              height: {{box.height}}px;
              background: {{box.hour % 2 == 0 ? 'white' : '#eee'}};
              border-left: 1px solid #ddd;
              width: 60px;
              font-size: 11px;
              padding: 0 0 0 5px">
    {{box.hour}}:00
  </div>

  <!-- Job boxes -->
  <div ng-repeat="job in current.activity_report.data.jobs track by $index"
       style="position: absolute; 
            background: {{job.color}};
                   top: {{job.top}}px;
                height: {{job.height}}px;
                  left: {{job.left-current.activity_report.data.min}}px; 
                 width: {{job.width}}px">
    <!-- This line intentionally left blank -->
  </div>

  <!-- Job names -->
  <div ng-repeat="job in current.activity_report.data.jobs track by $index"
       
       style="position: absolute; 
                   top: {{job.top}}px;
                cursor: pointer;
                  left: {{job.left-current.activity_report.data.min}}px;">
        <span ng-click="current.activity_report.data.selection = job"
              class="no-highlight"
              style="cursor: pointer;
                     outline: {{job == current.activity_report.data.selection ? '2pt solid orange' : 'none'}}">
          &nbsp;{{job.id}}:{{job.operations[0].operation_type.name}}
        </span>
        <a href="/users/{{job.user.id}}" 
           target="user" 
           style="color: steelblue">({{job.user.login}})</span>
  </div>

</div>
