<script type="text/ng-template" id="operation-list">

  <div class='oplist'>

    <table class='table table-condensed oplist'
           ng-show="operations.length > 0">

      <tr>
        <th class='selector'></th>
        <th class='id'>Id</th>
        <th>User</th>
        <th class="output">Data</th>
        <th>Job(s)</th>
        <th>Plan</th>
        <th>Last Update</th>
      </tr>

      <tr ng-repeat="op in operations"
          ng-if="!jobid || op.last_job.id == jobid">

        <td>
          <% if current_user && current_user.is_admin %>
            <input type='checkbox' 
                   ng-model='op.selected' 
                   ng-if="!operation_type.on_the_fly && ( status == 'pending' || status == 'scheduled' || status == 'error' )">
          <% end %>
        </td>

        <td>{{op.id}}</td>

        <td>{{op.user.name}}</td>

        <td>
          <ul class='input-list'>
            <li ng-repeat="fv in op.field_values | filter: { role: 'output' } track by $index">
              <span ng-if="$first"  style="width: 26px; display: inline-block"><b>out:</b></span>
              <span ng-if="!$first" style="width: 26px; display: inline-block">&nbsp;</span>
              {{fv.name}}
              <span ng-if="fv.sample">: 
                <a href="/browser?sid={{fv.sample.id}}">{{fv.sample_id}}: {{fv.sample.name}}</a>
                <span ng-if="fv.item.object_type"> as {{fv.item.object_type.name}}</span>
                <span ng-if="fv.child_item_id">
                  ( <div ng-if="fv.child_item_id" 
                         item="fv.item" 
                         container="fv.item.object_type" 
                         sample="fv.sample"></div>
                    <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span> )
                </span>                
              </span>
            </li>
            <li ng-repeat="fv in op.field_values | filter: { role: 'input' } track by $index">
              <span ng-if="$first"  style="width: 18px; display: inline-block"><b>in:</b></span>
              <span ng-if="!$first" style="width: 18px; display: inline-block">&nbsp;</span>
              {{fv.name}}
              <span ng-if="fv.sample">: 
                <a href="/browser?sid={{fv.sample.id}}">{{fv.sample_id}}: {{fv.sample.name}}</a>
                <span ng-if="fv.child_item_id">
                  ( <div ng-if="fv.child_item_id" 
                         item="fv.item" 
                         container="fv.item.object_type" 
                         sample="fv.sample"></div>
                    <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span> )
                </span>
              </span>
              <span ng-if="fv.value">{{fv.value}}</span>
            </li>      
            <li ng-repeat="da in op.data_associations">
                <b>{{da.key}}:</b> {{da.value}}
            </li>
          </ul>
        </td>

        <td>
          <div ng-if="op.jobs.length > 0" ng-repeat="job in op.jobs">
            <a href="/jobs/{{job.id}}">{{job.id}}</a> (<span>{{job.status}}</span>)
          </div>
          <div ng-if="op.jobs.length == 0">--</div>          
        </td>

        <td>
          <a ng-repeat="plan in op.plans" href="/launcher?plan_id={{plan.id}}">{{plan.id}}{{$last ? '' : ', '}}</a>
          <span ng-if="op.plans.length == 0">n/a</span>
        </td>

        <td>{{op.updated_at|date}}</td>

      </tr>

      <tr ng-if="( status == 'error' || status == 'done' ) && operations.length < $parent.$parent.numbers[operationtype.id][status]">
        <td></td>
        <td colspan=5 style='padding-top: 16px'>
          <md-button class='md-raised md-primary md-small' 
                     ng-click="$parent.$parent.more(status)">More</md-button>
        </td>
      </tr>

    </table>

    <h1 ng-if="operations.length == 0" class='md-title'>No operations</h1>

    <h1 ng-if="!operations" class='md-title'>Checking for operations...</h1>

  </div>

</script>