<script type="text/ng-template" id="operation-list">

  <div class='oplist'>

    <table class='table table-condensed oplist'
           ng-show="operations.length > 0">

      <tr>
        <th class='selector'>
          <input type='checkbox' 
                 ng-model='selectAllOperations[jobid]' 
                 ng-if="!operation_type.on_the_fly && ( status == 'pending' || status == 'scheduled' || status == 'error' )"
                 aria-label='select all operations'
                 ng-click="checkAll(operations, selectAllOperations[jobid], jobid)"
                 style="margin: 0">
        </th>
        <th>Plan</th>
        <th class="output">Input/Output</th>
        <th>Last Updated</th>
        <th>Client</th>
        <th>Op ID</th>
        <th>Status</th>
      </tr>

      <tr ng-repeat="op in operations"
          ng-if="!jobid || op.last_job.id == jobid"
          ng-class="{'selected-row': true == op.selected}">

        <td> <!-- Selector -->
          <% if current_user && current_user.is_admin %>
            <input type='checkbox'
                   ng-model='op.selected'
                   ng-if="!operation_type.on_the_fly && ( status == 'pending' || status == 'scheduled' || status == 'error' )"
                   ng-attr-data-operation-checkbox="{{op.id}}"
                   style="margin: 0">
          <% end %>
        </td>
        
        <td> <!-- Plan -->
          <a ng-repeat="plan in op.plans" href="/plans?plan_id={{plan.id}}" target="designer">{{plan.id}}{{$last ? '' : ', '}}</a>
          <span ng-if="op.plans.length == 0">n/a</span>
        </td>

        <td> <!-- Input/Output -->
          <ul class='input-list'>
            <li ng-repeat="fv in op.field_values | filter: { role: 'output' } track by $index">
              <span ng-if="$first"  class="data-col-1"><b>out:</b></span>
              <span ng-if="!$first" class="data-col-1">&nbsp;</span>

              <span class="data-col-2">{{fv.name}}:</span>

              <span ng-if="fv.sample" class="data-col-3">
                <a href="/browser?sid={{fv.sample.id}}" target="samples">{{fv.sample.id}}: {{fv.sample.name}}</a>
                <span ng-if="fv.item.object_type"> as {{fv.item.object_type.name}}</span>
                <span ng-if="fv.child_item_id" >
                  (
                    <div ng-if="fv.child_item_id && !fv.is_part"
                         item="fv.item"
                         container="fv.item.object_type"
                         sample="fv.sample"></div>
                    <div ng-if="fv.child_item_id && fv.is_part"
                         item="fv.part"
                         container="fv.part.object_type"
                         sample="fv.part.sample"
                         collection="fv.item"
                         row="fv.row"
                         column=fv.column></div>
                  )
                </span>
              </span>
            </li>

            <li ng-repeat="fv in op.field_values | filter: { role: 'input' } track by $index">
              <span ng-if="$first"  class="data-col-1"><b>in:</b></span>
              <span ng-if="!$first" class="data-col-1">&nbsp;</span>

              <span class="data-col-2">{{fv.name}}:</span>

              <span ng-if="fv.sample" class="data-col-3"> 
                <a href="/browser?sid={{fv.sample.id}}" target="samples">{{fv.sample.id}}: {{fv.sample.name}}</a>
                <span ng-if="fv.child_item_id" >
                  (
                    <div ng-if="fv.child_item_id && !fv.is_part"
                         item="fv.item"
                         container="fv.item.object_type"
                         sample="fv.sample"></div>
                    <div ng-if="fv.child_item_id && fv.is_part"
                         item="fv.part"
                         container="fv.part.object_type"
                         sample="fv.part.sample"
                         collection="fv.item"
                         row="fv.row"
                         column=fv.column></div>
                  )
                </span>
              </span>
              <span ng-if="fv.value" class="data-col-3" style="color: black !important">{{fv.value}}</span>
            </li>
            <li ng-repeat="da in op.data_associations">
              <span class="data-col-1">&nbsp;</span>
              <span ng-if="da.key" class="data-col-2">{{da.key}}:</span>
              <span ng-if="da.value" class="data-col-3">{{da.value}}</span>
            </li>
          </ul>
        </td>

        <td>{{ op.updated_at | naturalDate }}</td> <!-- Last Updated -->

        <td style="word-wrap:break-word">{{op.user.name}}</td> <!-- Client -->

        <td>{{op.id}}</td> <!-- Operation ID -->

        <% if current_user && current_user.is_admin %> <!-- Status w/ update -->

          <td ng-if="op.status != 'scheduled' && op.status != 'running'">

            <md-menu layout="row">

              <span ng-click="$mdMenu.open($event)"
                    style="color: #333; font-size: 9pt; cursor: pointer"
                    class="no-highlight">
                <md-tooltip md-direction="bottom" md-delay="2500">Force operation to a different status.</md-tooltip>
                {{op.status}}&#9660;
              </span>

              <md-menu-content width="4">
                <md-menu-item ng-repeat="s in ['waiting', 'pending', 'deferred', 'primed', 'delayed', 'done', 'error']" ng-if="op.status != s">
                  <md-button ng-click="change_status(op,s)" aria-label="Change to {{s}}">
                    {{s}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>

            </md-menu>

          </td>

          <td ng-if="op.status === 'scheduled' || op.status === 'running'">{{op.status}}</td>

        <% end %>

      </tr>

      <tr ng-if="( status == 'error' || status == 'done' ) && operations.length < $parent.$parent.numbers[operationtype.id][status]">
        <td></td>
        <td colspan=5 style='padding-top: 16px'>
          <md-button class='md-raised md-primary md-small'
                     ng-click="$parent.$parent.more(status)">More</md-button>
        </td>
      </tr>

    </table>

    <h1 ng-if="operations.length == 0" class='md-title'>No {{status}} operations</h1>

    <h1 ng-if="!operations" class='md-title'>Checking for operations...</h1>

  </div>

</script>
