<script type="text/ng-template" id="operation-list-short">

  <div class='oplist'>

    <table class='table table-condensed op-table'
           ng-show="operations.length > 0">

      <tr>
        <th style="width: 12%">Id</th>
        <th style="width: 14%">Status</th>
        <th style="width: 12%">Plan</th>
        <th style="width: 20%">User</th>
        <th ng-if="!brief" style="width: 32%">
          <a href="#" ng-click="operations.show_uploads = false"  style="color: #aaa" ng-if="operations.show_uploads">[I/O]</a>
          <span ng-if="!operations.show_uploads">[I/O]</span>
          &nbsp;
          <a href="#" ng-click="operations.show_uploads = true" style="color: #aaa" ng-if="!operations.show_uploads">[Uploads]</a>
          <span ng-if="operations.show_uploads" >[Uploads]</span>          
        </th>
        <th ng-if="!brief" style="width: 10%"></th>
      </tr>

      <tr ng-repeat="op in operations">

        <td>{{op.id}}</td>

        <td>
          <span ng-if="op.status == 'error'" class="status-error">{{op.status}}</span>
          <span ng-if="op.status != 'error'">{{op.status}}</span>
        </td>

        <td>
          <a ng-repeat="plan in op.plans" 
             href="/plans?plan_id={{plan.id}}" 
             target="plan {{plan.id}}">{{plan.id}}{{$last ? '' : ', '}}</a>
          <span ng-if="op.plans.length == 0">n/a</span>
        </td>

        <td>{{op.user.login}}</td>

        <td ng-if="!brief && !operations.show_uploads">
          <ul style="margin-left: 0">
            <li ng-repeat="fv in op.alt_field_values | filter: { role: 'output' } track by $index">
              <span ng-if="$first"><b>out:</b></span>
              <!-- <span ng-if="!$first">&nbsp;</span> -->
              {{fv.name}}:
              <span ng-if="fv.child_item_id">
                  <a href="#" ng-click="open_item_ui(fv.child_item_id)">{{fv.child_item_id}}</a>
                  <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span>
              </span>                
            </li>
            <li ng-repeat="fv in op.alt_field_values | filter: { role: 'input' } track by $index">
              <span ng-if="$first"><b>in:</b></span>
              <!-- <span ng-if="!$first">&nbsp;</span> -->
              {{fv.name}}:
              <span ng-if="fv.child_item_id">
                  <a href="#" ng-click="open_item_ui(fv.child_item_id)">{{fv.child_item_id}}</a>
                  <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span> 
              </span>
              <span ng-if="fv.value">{{fv.value}}</span>
            </li>
          </ul>
        </td>

        <td ng-if="!brief && operations.show_uploads">
          <ul style="margin-left: 0">
            <li ng-repeat="da in op.data_associations track by $index">
              <upload-viewer record="da.upload"></upload_viewer>
            </li>
          </ul>          
        </td>     

        <td ng-if="!brief" ><span>
          <upload small='true' record='op' jobid='jobid' auto=true 
                  ng-click="operations.show_uploads=true">
          </upload></span>
        </td>

      </tr>

    </table>

    <h1 ng-if="operations.length == 0" class='md-title'>No operations</h1>

    <p ng-if="!operations">Checking for operations...</p>

  </div>

</script>