<script type="text/ng-template" id="operation-list-report">

  <div class='oplist' style="padding: none; margin: none">

    <table class='table table-condensed op-table'
           ng-show="operations.length > 0">

      <tr>
        <th style="width: 14%">Id</th>
        <th style="width: 14%">Plan</th>
        <th style="width: 20%">User</th>
        <th style="width: 52%">I/O</th>
      </tr>

      <tr ng-repeat="op in operations">

        <td style="color: {{op.status == 'done' ? 'black' : 'orange'}}">{{op.id}}</td>

        <td>
          <a ng-repeat="plan in op.plans" 
             href="/plans?plan_id={{plan.id}}" 
             target="plan {{plan.id}}">{{plan.id}}{{$last ? '' : ', '}}</a>
          <span ng-if="op.plans.length == 0">n/a</span>
        </td>

        <td>{{op.user.login}}</td>

        <td ng-if="!operations.show_uploads">
          <ul style="margin-left: 0">
            <li ng-repeat="fv in op.alt_field_values | filter: { role: 'output' } track by $index">
              <span ng-if="$first"><b>out:</b></span>
              {{fv.name}}:
              <span ng-if="fv.child_item_id">
                    <div ng-if="fv.child_item_id" 
                         item="fv.item" 
                         container="fv.item.object_type" 
                         sample="fv.sample"></div> 
                  <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span>
              </span>                
            </li>
            <li ng-repeat="fv in op.alt_field_values | filter: { role: 'input' } track by $index">
              <span ng-if="$first"><b>in:</b></span>
              {{fv.name}}:
              <span ng-if="fv.child_item_id">
                    <div ng-if="fv.child_item_id" 
                         item="fv.item" 
                         container="fv.item.object_type" 
                         sample="fv.sample"></div>              
                  <span ng-if="fv.row != null">[{{fv.row}},{{fv.column}}]</span> 
              </span>
              <span ng-if="fv.value">{{fv.value}}</span>
            </li>
          </ul>
        </td>  

      </tr>

    </table>

    <h1 ng-if="operations.length == 0" class='md-title'>No operations</h1>

    <h1 ng-if="!operations" class='md-title'>Checking for operations...</h1>

  </div>

</script>