<% provide(:title, 'Manager') %>

<div ng-app="aquarium" ng-controller="operationsCtrl as planner" class='operations'>

  <%= render partial: 'operation_list' %> <!-- used by <oplist> -->

  <div class='two-column'>

    <div class='two-column-left-wide'>

      <div class="two-column-control-wide" ng-if="status!='Ready'">
        {{status}}
      </div>

      <div class="two-column-control-wide" ng-if="status=='Ready'">

        <table class='table table-condensed status-table'>
          <tr>
            <th></th>
            <th ng-repeat="status in [ 'Waiting', 'Pending', 'Scheduled', 'Running', 'Done', 'Error' ]"
                class='rotate'>
              <div><span>{{status}}</span></div>
            </th>
          </tr>
          <tr ng-repeat="ot in operation_types | filter: show_operation_type()" ng-click="choose(ot)">
            <td ng-class="op_type_class(ot)">{{ot.name}}</td>
            <td ng-repeat="status in [ 'pending_false', 'pending_true', 'scheduled', 'running', 'done', 'error' ]"
                ng-class="$parent.status_selector(ot,status)"
                ng-click="$parent.select(ot,status)">
                {{ot.numbers[status]}}
            </td>
          </tr>
        </table>

      </div>

    </div>
 
    <div class='two-column-right-narrow'>

      <h4 ng-if="current.ot">

        {{current.ot.name}}: 

        <span class='capitalize'>
          {{
            current.status == 'pending_false' ? 'Waiting' : 
            current.status == 'pending_true' ? 'Pending' : current.status
          }}
        </span>

        <div ng-if="!current.ot.on_the_fly && current.status == 'pending_true'" class='pull-right launch-buttons'>
          <a href="#" class='btn btn-mini btn-primary' ng-click="batch(current.ot)">Schedule</a>
          <a href="#" class='btn btn-mini' ng-click="choose(current.ot,'pending',true)">All</a>
          <a href="#" class='btn btn-mini' ng-click="choose(current.ot,'pending',false)">None</a>
        </div>       
            
      </h4>
   
      <oplist ot="current.ot" 
              operations="current.ot.operations" 
              status="current.status"
              ng-if="current.ot && current.status != 'scheduled'">
      </oplist>

      <div ng-if="current.status == 'scheduled'">

        <div ng-repeat="job_id in jobs">

          <h5>
            Job <a href="/jobs/{{job_id}}">{{job_id}}</a>
            <div class='pull-right launch-buttons'>
              <a href="#" class='btn btn-mini btn-primary' ng-click="unschedule(current.ot,job_id)">Unschedule</a>
              <a href="#" class='btn btn-mini' ng-click="$parent.choose(current.ot,'scheduled',true,job_id)">All</a>
              <a href="#" class='btn btn-mini' ng-click="$parent.choose(current.ot,'scheduled',false,job_id)">None</a>
            </div>    
          </h5>

          <oplist ot="current.ot" 
                  operations="current.ot.operations"
                  status="current.status" 
                  jobid="job_id">
          </oplist>

        </div>

      </div>

    </div>

  </div>

</div>
